<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>530101</key>
	<string>云南昆明市市辖区</string>
	<key>530102</key>
	<string>云南昆明市五华区</string>
	<key>530103</key>
	<string>云南昆明市盘龙区</string>
	<key>530111</key>
	<string>云南昆明市官渡区</string>
	<key>530112</key>
	<string>云南昆明市西山区</string>
	<key>530113</key>
	<string>云南昆明市东川区</string>
	<key>530121</key>
	<string>云南昆明市呈贡县</string>
	<key>530122</key>
	<string>云南昆明市晋宁县</string>
	<key>530124</key>
	<string>云南昆明市富民县</string>
	<key>530125</key>
	<string>云南昆明市宜良县</string>
	<key>530126</key>
	<string>云南昆明市石林彝族自治县</string>
	<key>530127</key>
	<string>云南昆明市嵩明县</string>
	<key>530128</key>
	<string>云南昆明市禄劝彝族苗族自治县</string>
	<key>530129</key>
	<string>云南昆明市寻甸回族彝族自治县</string>
	<key>530181</key>
	<string>云南昆明市安宁市</string>
	<key>530201云南曲靖市:532201</key>
	<string>云南东川市市辖区</string>
	<key>530301</key>
	<string>云南曲靖市市辖区</string>
	<key>530302</key>
	<string>云南曲靖市麒麟区</string>
	<key>530321</key>
	<string>云南曲靖市马龙县</string>
	<key>530322</key>
	<string>云南曲靖市陆良县</string>
	<key>530323</key>
	<string>云南曲靖市师宗县</string>
	<key>530324</key>
	<string>云南曲靖市罗平县</string>
	<key>530325</key>
	<string>云南曲靖市富源县</string>
	<key>530326</key>
	<string>云南曲靖市会泽县</string>
	<key>530328</key>
	<string>云南曲靖市沾益县</string>
	<key>530381</key>
	<string>云南曲靖市宣威市</string>
	<key>530401</key>
	<string>云南玉溪市市辖区</string>
	<key>530402</key>
	<string>云南玉溪市红塔区</string>
	<key>530421</key>
	<string>云南玉溪市江川县</string>
	<key>530422</key>
	<string>云南玉溪市澄江县</string>
	<key>530423</key>
	<string>云南玉溪市通海县</string>
	<key>530424</key>
	<string>云南玉溪市华宁县</string>
	<key>530425</key>
	<string>云南玉溪市易门县</string>
	<key>530426</key>
	<string>云南玉溪市峨山彝族自治县</string>
	<key>530427</key>
	<string>云南玉溪市新平彝族傣族自治县</string>
	<key>530428</key>
	<string>云南玉溪市元江哈尼族彝族傣族自治县</string>
	<key>532101</key>
	<string>云南昭通地区昭通市</string>
	<key>532122</key>
	<string>云南昭通地区鲁甸县</string>
	<key>532123</key>
	<string>云南昭通地区巧家县</string>
	<key>532124</key>
	<string>云南昭通地区盐津县</string>
	<key>532125</key>
	<string>云南昭通地区大关县</string>
	<key>532126</key>
	<string>云南昭通地区永善县</string>
	<key>532127</key>
	<string>云南昭通地区绥江县</string>
	<key>532128</key>
	<string>云南昭通地区镇雄县</string>
	<key>532129</key>
	<string>云南昭通地区彝良县</string>
	<key>532130</key>
	<string>云南昭通地区威信县</string>
	<key>532131</key>
	<string>云南昭通地区水富县</string>
	<key>532223</key>
	<string>云南马龙县</string>
	<key>532224</key>
	<string>云南宜威县</string>
	<key>532225</key>
	<string>云南富源县</string>
	<key>532226</key>
	<string>云南罗平县</string>
	<key>532227</key>
	<string>云南师宗县</string>
	<key>532228</key>
	<string>云南陆良县</string>
	<key>532231</key>
	<string>云南寻甸回族彝族自治县</string>
	<key>532233</key>
	<string>云南会泽县</string>
	<key>532301</key>
	<string>云南楚雄彝族自治州楚雄市</string>
	<key>532322</key>
	<string>云南楚雄彝族自治州双柏县</string>
	<key>532323</key>
	<string>云南楚雄彝族自治州牟定县</string>
	<key>532324</key>
	<string>云南楚雄彝族自治州南华县</string>
	<key>532325</key>
	<string>云南楚雄彝族自治州姚安县</string>
	<key>532326</key>
	<string>云南楚雄彝族自治州大姚县</string>
	<key>532327</key>
	<string>云南楚雄彝族自治州永仁县</string>
	<key>532328</key>
	<string>云南楚雄彝族自治州元谋县</string>
	<key>532329</key>
	<string>云南楚雄彝族自治州武定县</string>
	<key>532331</key>
	<string>云南楚雄彝族自治州禄丰县</string>
	<key>532401</key>
	<string>云南玉溪市</string>
	<key>532422</key>
	<string>云南江川县</string>
	<key>532423</key>
	<string>云南澄江县</string>
	<key>532424</key>
	<string>云南通海县</string>
	<key>532425</key>
	<string>云南华宁县</string>
	<key>532426</key>
	<string>云南易门县</string>
	<key>532427</key>
	<string>云南峨山彝族自治县</string>
	<key>532428</key>
	<string>云南新平彝族傣族自治县</string>
	<key>532429</key>
	<string>云南元江哈尼族彝族自治县</string>
	<key>532501</key>
	<string>云南红河哈尼族彝族自治州个旧市</string>
	<key>532502</key>
	<string>云南红河哈尼族彝族自治州开远市</string>
	<key>532522</key>
	<string>云南红河哈尼族彝族自治州蒙自县</string>
	<key>532523</key>
	<string>云南红河哈尼族彝族自治州屏边苗族自治县</string>
	<key>532524</key>
	<string>云南红河哈尼族彝族自治州建水县</string>
	<key>532525</key>
	<string>云南红河哈尼族彝族自治州石屏县</string>
	<key>532526</key>
	<string>云南红河哈尼族彝族自治州弥勒县</string>
	<key>532527</key>
	<string>云南红河哈尼族彝族自治州泸西县</string>
	<key>532528</key>
	<string>云南红河哈尼族彝族自治州元阳县</string>
	<key>532529</key>
	<string>云南红河哈尼族彝族自治州红河县</string>
	<key>532530</key>
	<string>云南红河哈尼族彝族自治州金平苗族瑶族傣族自治县</string>
	<key>532531</key>
	<string>云南红河哈尼族彝族自治州绿春县</string>
	<key>532532</key>
	<string>云南红河哈尼族彝族自治州河口瑶族自治县</string>
	<key>532621</key>
	<string>云南文山壮族苗族自治州文山县</string>
	<key>532622</key>
	<string>云南文山壮族苗族自治州砚山县</string>
	<key>532623</key>
	<string>云南文山壮族苗族自治州西畴县</string>
	<key>532624</key>
	<string>云南文山壮族苗族自治州麻栗坡县</string>
	<key>532625</key>
	<string>云南文山壮族苗族自治州马关县</string>
	<key>532626</key>
	<string>云南文山壮族苗族自治州丘北县</string>
	<key>532627</key>
	<string>云南文山壮族苗族自治州广南县</string>
	<key>532628</key>
	<string>云南文山壮族苗族自治州富宁县</string>
	<key>532701</key>
	<string>云南思茅地区思茅市</string>
	<key>532722</key>
	<string>云南思茅地区普洱哈尼族彝族自治县</string>
	<key>532723</key>
	<string>云南思茅地区墨江哈尼族自治县</string>
	<key>532724</key>
	<string>云南思茅地区景东彝族自治县</string>
	<key>532725</key>
	<string>云南思茅地区景谷傣族彝族自治县</string>
	<key>532726</key>
	<string>云南思茅地区镇沅彝族哈尼族拉祜族自治县</string>
	<key>532727</key>
	<string>云南思茅地区江城哈尼族彝族自治县</string>
	<key>532728</key>
	<string>云南思茅地区孟连傣族拉祜族佤族自治县</string>
	<key>532729</key>
	<string>云南思茅地区澜沧拉祜族自治县</string>
	<key>532730</key>
	<string>云南思茅地区西盟佤族自治县</string>
	<key>532801</key>
	<string>云南西双版纳傣族自治州景洪市</string>
	<key>532822</key>
	<string>云南西双版纳傣族自治州勐海县</string>
	<key>532823</key>
	<string>云南西双版纳傣族自治州勐腊县</string>
	<key>532901</key>
	<string>云南大理白族自治州大理市</string>
	<key>532922</key>
	<string>云南大理白族自治州漾濞彝族自治县</string>
	<key>532923</key>
	<string>云南大理白族自治州祥云县</string>
	<key>532924</key>
	<string>云南大理白族自治州宾川县</string>
	<key>532925</key>
	<string>云南大理白族自治州弥渡县</string>
	<key>532926</key>
	<string>云南大理白族自治州南涧彝族自治县</string>
	<key>532927</key>
	<string>云南大理白族自治州巍山彝族回族自治县</string>
	<key>532928</key>
	<string>云南大理白族自治州永平县</string>
	<key>532929</key>
	<string>云南大理白族自治州云龙县</string>
	<key>532930</key>
	<string>云南大理白族自治州洱源县</string>
	<key>532931</key>
	<string>云南大理白族自治州剑川县</string>
	<key>532932</key>
	<string>云南大理白族自治州鹤庆县</string>
	<key>533001</key>
	<string>云南保山地区保山市</string>
	<key>533022</key>
	<string>云南保山地区施甸县</string>
	<key>533023</key>
	<string>云南保山地区腾冲县</string>
	<key>533024</key>
	<string>云南保山地区龙陵县</string>
	<key>533025</key>
	<string>云南保山地区昌宁县</string>
	<key>533101</key>
	<string>云南德宏傣族景颇族自治州畹町市</string>
	<key>533102</key>
	<string>云南德宏傣族景颇族自治州瑞丽市</string>
	<key>533103</key>
	<string>云南德宏傣族景颇族自治州潞西市</string>
	<key>533122</key>
	<string>云南德宏傣族景颇族自治州梁河县</string>
	<key>533123</key>
	<string>云南德宏傣族景颇族自治州盈江县</string>
	<key>533124</key>
	<string>云南德宏傣族景颇族自治州陇川县</string>
	<key>533221</key>
	<string>云南丽江地区丽江纳西族自治县</string>
	<key>533222</key>
	<string>云南丽江地区永胜县</string>
	<key>533223</key>
	<string>云南丽江地区华坪县</string>
	<key>533224</key>
	<string>云南丽江地区宁蒗彝族自治县</string>
	<key>533321</key>
	<string>云南怒江傈僳族自治州泸水县</string>
	<key>533323</key>
	<string>云南怒江傈僳族自治州福贡县</string>
	<key>533324</key>
	<string>云南怒江傈僳族自治州贡山独龙族怒族自治县</string>
	<key>533325</key>
	<string>云南怒江傈僳族自治州兰坪白族普米族自治县</string>
	<key>533421</key>
	<string>云南迪庆藏族自治州中甸县</string>
	<key>533422</key>
	<string>云南迪庆藏族自治州德钦县</string>
	<key>533423</key>
	<string>云南迪庆藏族自治州维西傈僳族自治县</string>
	<key>533521</key>
	<string>云南临沧地区临沧县</string>
	<key>533522</key>
	<string>云南临沧地区凤庆县</string>
	<key>533523</key>
	<string>云南临沧地区云县</string>
	<key>533524</key>
	<string>云南临沧地区永德县</string>
	<key>533525</key>
	<string>云南临沧地区镇康县</string>
	<key>533526</key>
	<string>云南临沧地区双江拉祜族佤族布朗族傣族自治县</string>
	<key>533527</key>
	<string>云南临沧地区耿马傣族佤族自治县</string>
	<key>533528</key>
	<string>云南临沧地区沧源佤族自治县</string>
</dict>
</plist>
