<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>150101</key>
	<string>内蒙古自治区呼和浩特市市辖区</string>
	<key>150102</key>
	<string>内蒙古自治区呼和浩特市新城区</string>
	<key>150103</key>
	<string>内蒙古自治区呼和浩特市回民区</string>
	<key>150104</key>
	<string>内蒙古自治区呼和浩特市玉泉区</string>
	<key>150105</key>
	<string>内蒙古自治区呼和浩特市郊区</string>
	<key>150121</key>
	<string>内蒙古自治区呼和浩特市土默特左旗</string>
	<key>150122</key>
	<string>内蒙古自治区呼和浩特市托克托县</string>
	<key>150123</key>
	<string>内蒙古自治区呼和浩特市和林格尔县</string>
	<key>150124</key>
	<string>内蒙古自治区呼和浩特市清水河县</string>
	<key>150125</key>
	<string>内蒙古自治区呼和浩特市武川县</string>
	<key>150201</key>
	<string>内蒙古自治区包头市市辖区</string>
	<key>150202</key>
	<string>内蒙古自治区包头市东河区</string>
	<key>150203</key>
	<string>内蒙古自治区包头市昆都伦区</string>
	<key>150204</key>
	<string>内蒙古自治区包头市青山区</string>
	<key>150205</key>
	<string>内蒙古自治区包头市石拐矿区</string>
	<key>150206</key>
	<string>内蒙古自治区包头市白云矿区</string>
	<key>150207</key>
	<string>内蒙古自治区包头市郊区</string>
	<key>150221</key>
	<string>内蒙古自治区包头市土默特右旗</string>
	<key>150222</key>
	<string>内蒙古自治区包头市固阳县</string>
	<key>150223</key>
	<string>内蒙古自治区包头市达尔罕茂明安联合旗</string>
	<key>150301</key>
	<string>内蒙古自治区乌海市市辖区</string>
	<key>150302</key>
	<string>内蒙古自治区乌海市海勃湾区</string>
	<key>150303</key>
	<string>内蒙古自治区乌海市海南区</string>
	<key>150304</key>
	<string>内蒙古自治区乌海市乌达区</string>
	<key>150401</key>
	<string>内蒙古自治区赤峰市市辖区</string>
	<key>150402</key>
	<string>内蒙古自治区赤峰市红山区</string>
	<key>150403</key>
	<string>内蒙古自治区赤峰市元宝山区</string>
	<key>150404</key>
	<string>内蒙古自治区赤峰市松山区</string>
	<key>150421</key>
	<string>内蒙古自治区赤峰市阿鲁科尔沁旗</string>
	<key>150422</key>
	<string>内蒙古自治区赤峰市巴林左旗</string>
	<key>150423</key>
	<string>内蒙古自治区赤峰市巴林右旗</string>
	<key>150424</key>
	<string>内蒙古自治区赤峰市林西县</string>
	<key>150425</key>
	<string>内蒙古自治区赤峰市克什克腾旗</string>
	<key>150426</key>
	<string>内蒙古自治区赤峰市翁牛特旗</string>
	<key>150428</key>
	<string>内蒙古自治区赤峰市喀喇沁旗</string>
	<key>150429</key>
	<string>内蒙古自治区赤峰市宁城县</string>
	<key>150430</key>
	<string>内蒙古自治区赤峰市敖汉旗</string>
	<key>152101</key>
	<string>内蒙古自治区呼伦贝尔盟海拉尔市</string>
	<key>152102</key>
	<string>内蒙古自治区呼伦贝尔盟满洲里市</string>
	<key>152103</key>
	<string>内蒙古自治区呼伦贝尔盟扎兰屯市</string>
	<key>152104</key>
	<string>内蒙古自治区呼伦贝尔盟牙克石市</string>
	<key>152105</key>
	<string>内蒙古自治区呼伦贝尔盟根河市</string>
	<key>152106</key>
	<string>内蒙古自治区呼伦贝尔盟额尔古纳市</string>
	<key>152122</key>
	<string>内蒙古自治区呼伦贝尔盟阿荣旗</string>
	<key>152123</key>
	<string>内蒙古自治区呼伦贝尔盟莫力达瓦达斡尔族自治旗</string>
	<key>152127</key>
	<string>内蒙古自治区呼伦贝尔盟鄂伦春自治旗</string>
	<key>152128</key>
	<string>内蒙古自治区呼伦贝尔盟鄂温克族自治旗</string>
	<key>152129</key>
	<string>内蒙古自治区呼伦贝尔盟新巴尔虎右旗</string>
	<key>152130</key>
	<string>内蒙古自治区呼伦贝尔盟新巴尔虎左旗</string>
	<key>152131</key>
	<string>内蒙古自治区呼伦贝尔盟陈巴尔虎旗</string>
	<key>152201</key>
	<string>内蒙古自治区兴安盟乌兰浩特市</string>
	<key>152202</key>
	<string>内蒙古自治区兴安盟阿尔山市</string>
	<key>152221</key>
	<string>内蒙古自治区兴安盟科尔沁右翼前旗</string>
	<key>152222</key>
	<string>内蒙古自治区兴安盟科尔沁右翼中旗</string>
	<key>152223</key>
	<string>内蒙古自治区兴安盟扎赉特旗</string>
	<key>152224</key>
	<string>内蒙古自治区兴安盟突泉县</string>
	<key>152301</key>
	<string>内蒙古自治区哲里木盟通辽市</string>
	<key>152302</key>
	<string>内蒙古自治区哲里木盟霍林郭勒市</string>
	<key>152322</key>
	<string>内蒙古自治区哲里木盟科尔沁左翼中旗</string>
	<key>152323</key>
	<string>内蒙古自治区哲里木盟科尔沁左翼后旗</string>
	<key>152324</key>
	<string>内蒙古自治区哲里木盟开鲁县</string>
	<key>152325</key>
	<string>内蒙古自治区哲里木盟库伦旗</string>
	<key>152326</key>
	<string>内蒙古自治区哲里木盟奈曼旗</string>
	<key>152327</key>
	<string>内蒙古自治区哲里木盟扎鲁特旗</string>
	<key>152502</key>
	<string>内蒙古自治区锡林郭勒盟锡林浩特市</string>
	<key>152522</key>
	<string>内蒙古自治区锡林郭勒盟阿巴嘎旗</string>
	<key>152523</key>
	<string>内蒙古自治区锡林郭勒盟苏尼特左旗</string>
	<key>152524</key>
	<string>内蒙古自治区锡林郭勒盟苏尼特右旗</string>
	<key>152525</key>
	<string>内蒙古自治区锡林郭勒盟东乌珠穆沁旗</string>
	<key>152526</key>
	<string>内蒙古自治区锡林郭勒盟西乌珠穆沁旗</string>
	<key>152527</key>
	<string>内蒙古自治区锡林郭勒盟太仆寺旗</string>
	<key>152528</key>
	<string>内蒙古自治区锡林郭勒盟镶黄旗</string>
	<key>152529</key>
	<string>内蒙古自治区锡林郭勒盟正镶白旗</string>
	<key>152530</key>
	<string>内蒙古自治区锡林郭勒盟正蓝旗</string>
	<key>152531</key>
	<string>内蒙古自治区锡林郭勒盟多伦县</string>
	<key>152601</key>
	<string>内蒙古自治区乌兰察布盟集宁市</string>
	<key>152602</key>
	<string>内蒙古自治区乌兰察布盟丰镇市</string>
	<key>152624</key>
	<string>内蒙古自治区乌兰察布盟卓资县</string>
	<key>152625</key>
	<string>内蒙古自治区乌兰察布盟化德县</string>
	<key>152626</key>
	<string>内蒙古自治区乌兰察布盟商都县</string>
	<key>152627</key>
	<string>内蒙古自治区乌兰察布盟兴和县</string>
	<key>152629</key>
	<string>内蒙古自治区乌兰察布盟凉城县</string>
	<key>152630</key>
	<string>内蒙古自治区乌兰察布盟察哈尔右翼前旗</string>
	<key>152631</key>
	<string>内蒙古自治区乌兰察布盟察哈尔右翼中旗</string>
	<key>152632</key>
	<string>内蒙古自治区乌兰察布盟察哈尔右翼后旗</string>
	<key>152634</key>
	<string>内蒙古自治区乌兰察布盟四子王旗</string>
	<key>152701</key>
	<string>内蒙古自治区伊克昭盟东胜市</string>
	<key>152722</key>
	<string>内蒙古自治区伊克昭盟达拉特旗</string>
	<key>152723</key>
	<string>内蒙古自治区伊克昭盟准格尔旗</string>
	<key>152724</key>
	<string>内蒙古自治区伊克昭盟鄂托克前旗</string>
	<key>152725</key>
	<string>内蒙古自治区伊克昭盟鄂托克旗</string>
	<key>152726</key>
	<string>内蒙古自治区伊克昭盟杭锦旗</string>
	<key>152727</key>
	<string>内蒙古自治区伊克昭盟乌审旗</string>
	<key>152728</key>
	<string>内蒙古自治区伊克昭盟伊金霍洛旗</string>
	<key>152801</key>
	<string>内蒙古自治区巴彦淖尔盟临河市</string>
	<key>152822</key>
	<string>内蒙古自治区巴彦淖尔盟五原县</string>
	<key>152823</key>
	<string>内蒙古自治区巴彦淖尔盟磴口县</string>
	<key>152824</key>
	<string>内蒙古自治区巴彦淖尔盟乌拉特前旗</string>
	<key>152825</key>
	<string>内蒙古自治区巴彦淖尔盟乌拉特中旗</string>
	<key>152826</key>
	<string>内蒙古自治区巴彦淖尔盟乌拉特后旗</string>
	<key>152827</key>
	<string>内蒙古自治区巴彦淖尔盟杭锦后旗</string>
	<key>152921</key>
	<string>内蒙古自治区阿拉善盟阿拉善左旗</string>
	<key>152922</key>
	<string>内蒙古自治区阿拉善盟阿拉善右旗</string>
	<key>152923</key>
	<string>内蒙古自治区阿拉善盟额济纳旗</string>
</dict>
</plist>
