<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>220101</key>
	<string>吉林长春市市辖区</string>
	<key>220102</key>
	<string>吉林长春市南关区</string>
	<key>220103</key>
	<string>吉林长春市宽城区</string>
	<key>220104</key>
	<string>吉林长春市朝阳区</string>
	<key>220105</key>
	<string>吉林长春市二道河子区</string>
	<key>220106</key>
	<string>吉林长春市绿园区</string>
	<key>220112</key>
	<string>吉林长春市双阳区</string>
	<key>220122</key>
	<string>吉林长春市农安县</string>
	<key>220181</key>
	<string>吉林长春市九台市</string>
	<key>220182</key>
	<string>吉林长春市榆树市</string>
	<key>220183</key>
	<string>吉林长春市德惠市</string>
	<key>220201</key>
	<string>吉林吉林市市辖区</string>
	<key>220202</key>
	<string>吉林吉林市昌邑区</string>
	<key>220203</key>
	<string>吉林吉林市龙潭区</string>
	<key>220204</key>
	<string>吉林吉林市船营区</string>
	<key>220211</key>
	<string>吉林吉林市丰满区</string>
	<key>220221</key>
	<string>吉林吉林市永吉县</string>
	<key>220281</key>
	<string>吉林吉林市蛟河市</string>
	<key>220282</key>
	<string>吉林吉林市桦甸市</string>
	<key>220283</key>
	<string>吉林吉林市舒兰市</string>
	<key>220284</key>
	<string>吉林吉林市磐石市</string>
	<key>220301</key>
	<string>吉林四平市市辖区</string>
	<key>220302</key>
	<string>吉林四平市铁西区</string>
	<key>220303</key>
	<string>吉林四平市铁东区</string>
	<key>220322</key>
	<string>吉林四平市梨树县</string>
	<key>220323</key>
	<string>吉林四平市伊通满族自治县</string>
	<key>220381</key>
	<string>吉林四平市公主岭市</string>
	<key>220382</key>
	<string>吉林四平市双辽市</string>
	<key>220401</key>
	<string>吉林辽源市市辖区</string>
	<key>220402</key>
	<string>吉林辽源市龙山区</string>
	<key>220403</key>
	<string>吉林辽源市西安区</string>
	<key>220421</key>
	<string>吉林辽源市东丰县</string>
	<key>220422</key>
	<string>吉林辽源市东辽县</string>
	<key>220501</key>
	<string>吉林通化市市辖区</string>
	<key>220502</key>
	<string>吉林通化市东昌区</string>
	<key>220503</key>
	<string>吉林通化市二道江区</string>
	<key>220521</key>
	<string>吉林通化市通化县</string>
	<key>220523</key>
	<string>吉林通化市辉南县</string>
	<key>220524</key>
	<string>吉林通化市柳河县</string>
	<key>220581</key>
	<string>吉林通化市梅河口市</string>
	<key>220582</key>
	<string>吉林通化市集安市</string>
	<key>220601</key>
	<string>吉林白山市市辖区</string>
	<key>220602</key>
	<string>吉林白山市八道江区</string>
	<key>220603</key>
	<string>吉林浑江市三岔子区</string>
	<key>220621</key>
	<string>吉林白山市抚松县</string>
	<key>220622</key>
	<string>吉林白山市靖宇县</string>
	<key>220623</key>
	<string>吉林白山市长白朝鲜族自治县</string>
	<key>220625</key>
	<string>吉林白山市江源县</string>
	<key>220681</key>
	<string>吉林白山市临江市</string>
	<key>220701</key>
	<string>吉林松原市市辖区</string>
	<key>220702</key>
	<string>吉林松原市扶余区</string>
	<key>220721</key>
	<string>吉林前郭尔罗斯蒙古族自治县</string>
	<key>220722</key>
	<string>吉林松原市长岭县</string>
	<key>220723</key>
	<string>吉林松原市乾安县</string>
	<key>220724</key>
	<string>吉林松原市扶余县</string>
	<key>220801</key>
	<string>吉林白城市市辖区</string>
	<key>220802</key>
	<string>吉林白城市洮北区</string>
	<key>220821</key>
	<string>吉林白城市镇赉县</string>
	<key>220822</key>
	<string>吉林白城市通榆县</string>
	<key>220881</key>
	<string>吉林白城市洮南市</string>
	<key>220882</key>
	<string>吉林白城市大安市</string>
	<key>222401</key>
	<string>吉林延边朝鲜族自治州延吉市</string>
	<key>222402</key>
	<string>吉林延边朝鲜族自治州图们市</string>
	<key>222403</key>
	<string>吉林延边朝鲜族自治州敦化市</string>
	<key>222404</key>
	<string>吉林延边朝鲜族自治州珲春市</string>
	<key>222405</key>
	<string>吉林延边朝鲜族自治州龙井市</string>
	<key>222406</key>
	<string>吉林延边朝鲜族自治州和龙市</string>
	<key>222424</key>
	<string>吉林延边朝鲜族自治州汪清县</string>
	<key>222426</key>
	<string>吉林延边朝鲜族自治州安图县</string>
</dict>
</plist>
