<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>510101</key>
	<string>四川成都市市辖区</string>
	<key>510104</key>
	<string>四川成都市锦江区</string>
	<key>510105</key>
	<string>四川成都市青羊区</string>
	<key>510106</key>
	<string>四川成都市金牛区</string>
	<key>510107</key>
	<string>四川成都市武侯区</string>
	<key>510108</key>
	<string>四川成都市成华区</string>
	<key>510112</key>
	<string>四川成都市龙泉驿区</string>
	<key>510113</key>
	<string>四川成都市青白江区</string>
	<key>510121</key>
	<string>四川成都市金堂县</string>
	<key>510122</key>
	<string>四川成都市双流县</string>
	<key>510123</key>
	<string>四川成都市温江县</string>
	<key>510124</key>
	<string>四川成都市郫县</string>
	<key>510125</key>
	<string>四川成都市新都县</string>
	<key>510129</key>
	<string>四川成都市大邑县</string>
	<key>510131</key>
	<string>四川成都市蒲江县</string>
	<key>510132</key>
	<string>四川成都市新津县</string>
	<key>510181</key>
	<string>四川成都市都江堰市</string>
	<key>510182</key>
	<string>四川成都市彭州市</string>
	<key>510183</key>
	<string>四川成都市邛崃市</string>
	<key>510184</key>
	<string>四川成都市崇州市</string>
	<key>510301</key>
	<string>四川自贡市市辖区</string>
	<key>510302</key>
	<string>四川自贡市自流井区</string>
	<key>510303</key>
	<string>四川自贡市贡井区</string>
	<key>510304</key>
	<string>四川自贡市大安区</string>
	<key>510311</key>
	<string>四川自贡市沿滩区</string>
	<key>510321</key>
	<string>四川荣县</string>
	<key>510322</key>
	<string>四川富顺县</string>
	<key>510401</key>
	<string>四川攀枝花市市辖区</string>
	<key>510402</key>
	<string>四川攀枝花市东区</string>
	<key>510403</key>
	<string>四川攀枝花市西区</string>
	<key>510411</key>
	<string>四川攀枝花市仁和区</string>
	<key>510421</key>
	<string>四川攀枝花市米易县</string>
	<key>510422</key>
	<string>四川攀枝花市盐边县</string>
	<key>510501</key>
	<string>四川泸州市市辖区</string>
	<key>510502</key>
	<string>四川泸州市江阳区</string>
	<key>510503</key>
	<string>四川泸州市纳溪区</string>
	<key>510504</key>
	<string>四川泸州市龙马潭区</string>
	<key>510521</key>
	<string>四川泸州市泸县</string>
	<key>510522</key>
	<string>四川泸州市合江县</string>
	<key>510524</key>
	<string>四川泸州市叙永县</string>
	<key>510525</key>
	<string>四川泸州市古蔺县</string>
	<key>510601</key>
	<string>四川德阳市市辖区</string>
	<key>510602</key>
	<string>四川德阳市市中区</string>
	<key>510603</key>
	<string>四川德阳市旌阳区</string>
	<key>510622</key>
	<string>四川绵竹县</string>
	<key>510623</key>
	<string>四川德阳市中江县</string>
	<key>510626</key>
	<string>四川德阳市罗江县</string>
	<key>510681</key>
	<string>四川德阳市广汉市</string>
	<key>510682</key>
	<string>四川德阳市什邡市</string>
	<key>510683</key>
	<string>四川德阳市绵竹市</string>
	<key>510701</key>
	<string>四川绵阳市市辖区</string>
	<key>510703</key>
	<string>四川绵阳市涪城区</string>
	<key>510704</key>
	<string>四川绵阳市游仙区</string>
	<key>510722</key>
	<string>四川绵阳市三台县</string>
	<key>510723</key>
	<string>四川绵阳市盐亭县</string>
	<key>510724</key>
	<string>四川绵阳市安县</string>
	<key>510725</key>
	<string>四川绵阳市梓潼县</string>
	<key>510726</key>
	<string>四川绵阳市北川县</string>
	<key>510727</key>
	<string>四川绵阳市平武县</string>
	<key>510781</key>
	<string>四川绵阳市江油市</string>
	<key>510802</key>
	<string>四川广元市市中区</string>
	<key>510811</key>
	<string>四川广元市元坝区</string>
	<key>510812</key>
	<string>四川广元市朝天区</string>
	<key>510821</key>
	<string>四川广元市旺苍县</string>
	<key>510822</key>
	<string>四川广元市青川县</string>
	<key>510823</key>
	<string>四川广元市剑阁县</string>
	<key>510824</key>
	<string>四川广元市苍溪县</string>
	<key>510901</key>
	<string>四川遂宁市市辖区</string>
	<key>510902</key>
	<string>四川遂宁市市中区</string>
	<key>510921</key>
	<string>四川遂宁市蓬溪县</string>
	<key>510922</key>
	<string>四川遂宁市射洪县</string>
	<key>510923</key>
	<string>四川遂宁市大英县</string>
	<key>511001</key>
	<string>四川内江市市辖区</string>
	<key>511002</key>
	<string>四川内江市市中区</string>
	<key>511011</key>
	<string>四川内江市东兴区</string>
	<key>511022</key>
	<string>四川乐至县</string>
	<key>511023</key>
	<string>四川安岳县</string>
	<key>511024</key>
	<string>四川威远县</string>
	<key>511025</key>
	<string>四川资中县</string>
	<key>511027</key>
	<string>四川简阳县</string>
	<key>511028</key>
	<string>四川隆昌县</string>
	<key>511081</key>
	<string>四川资阳市</string>
	<key>511101</key>
	<string>四川乐山市市辖区</string>
	<key>511102</key>
	<string>四川乐山市市中区</string>
	<key>511111</key>
	<string>四川乐山市沙湾区</string>
	<key>511112</key>
	<string>四川乐山市五通桥区</string>
	<key>511113</key>
	<string>四川乐山市金口河区</string>
	<key>511121</key>
	<string>四川仁寿县</string>
	<key>511122</key>
	<string>四川眉山县</string>
	<key>511123</key>
	<string>四川乐山市犍为县</string>
	<key>511124</key>
	<string>四川乐山市井研县</string>
	<key>511126</key>
	<string>四川乐山市夹江县</string>
	<key>511127</key>
	<string>四川洪雅县</string>
	<key>511128</key>
	<string>四川彭山县</string>
	<key>511129</key>
	<string>四川乐山市沐川县</string>
	<key>511130</key>
	<string>四川青神县</string>
	<key>511131</key>
	<string>四川丹棱县</string>
	<key>511132</key>
	<string>四川乐山市峨边彝族自治县</string>
	<key>511133</key>
	<string>四川乐山市马边彝族自治县</string>
	<key>511181</key>
	<string>四川乐山市峨眉山市</string>
	<key>511201</key>
	<string>四川万县市市辖区</string>
	<key>511202</key>
	<string>四川万县市龙宝区</string>
	<key>511203</key>
	<string>四川万县市天城区</string>
	<key>511204</key>
	<string>四川万县市五桥区</string>
	<key>511221</key>
	<string>四川开县</string>
	<key>511222</key>
	<string>四川忠县</string>
	<key>511223</key>
	<string>四川梁平县</string>
	<key>511224</key>
	<string>四川云阳县</string>
	<key>511225</key>
	<string>四川奉节县</string>
	<key>511226</key>
	<string>四川巫山县</string>
	<key>511227</key>
	<string>四川巫溪县</string>
	<key>511228</key>
	<string>四川城口县</string>
	<key>511301</key>
	<string>四川南充市市辖区</string>
	<key>511302</key>
	<string>四川南充市顺庆区</string>
	<key>511303</key>
	<string>四川南充市高坪区</string>
	<key>511304</key>
	<string>四川南充市嘉陵区</string>
	<key>511321</key>
	<string>四川南充市南部县</string>
	<key>511322</key>
	<string>四川南充市营山县</string>
	<key>511323</key>
	<string>四川南充市蓬安县</string>
	<key>511324</key>
	<string>四川南充市仪陇县</string>
	<key>511325</key>
	<string>四川南充市西充县</string>
	<key>511381</key>
	<string>四川南充市阆中市</string>
	<key>511501</key>
	<string>四川宜宾市市辖区</string>
	<key>511502</key>
	<string>四川宜宾市翠屏区</string>
	<key>511521</key>
	<string>四川宜宾市宜宾县</string>
	<key>511522</key>
	<string>四川宜宾市南溪县</string>
	<key>511523</key>
	<string>四川宜宾市江安县</string>
	<key>511524</key>
	<string>四川宜宾市长宁县</string>
	<key>511525</key>
	<string>四川宜宾市高县</string>
	<key>511526</key>
	<string>四川宜宾市珙县</string>
	<key>511527</key>
	<string>四川宜宾市筠连县</string>
	<key>511528</key>
	<string>四川宜宾市兴文县</string>
	<key>511529</key>
	<string>四川宜宾市屏山县</string>
	<key>511601</key>
	<string>四川广安市市辖区</string>
	<key>511602</key>
	<string>四川广安市广安区</string>
	<key>511621</key>
	<string>四川广安市岳池县</string>
	<key>511622</key>
	<string>四川广安市武胜县</string>
	<key>511623</key>
	<string>四川广安市邻水县</string>
	<key>511681</key>
	<string>四川广安市华蓥市</string>
	<key>512301</key>
	<string>四川涪陵市</string>
	<key>512322</key>
	<string>四川垫江县</string>
	<key>512323</key>
	<string>四川南川县</string>
	<key>512324</key>
	<string>四川丰都县</string>
	<key>512326</key>
	<string>四川武隆县</string>
	<key>512501</key>
	<string>四川宜宾市</string>
	<key>512527</key>
	<string>四川宜宾县</string>
	<key>512528</key>
	<string>四川南溪县</string>
	<key>512529</key>
	<string>四川江安县</string>
	<key>512530</key>
	<string>四川长宁县</string>
	<key>512531</key>
	<string>四川高县</string>
	<key>512532</key>
	<string>四川筠连县</string>
	<key>512533</key>
	<string>四川珙县</string>
	<key>512534</key>
	<string>四川兴文县</string>
	<key>512535</key>
	<string>四川屏山县</string>
	<key>513001</key>
	<string>四川达川地区达川市</string>
	<key>513002</key>
	<string>四川达川地区万源市</string>
	<key>513021</key>
	<string>四川达川地区达县</string>
	<key>513022</key>
	<string>四川达川地区宣汉县</string>
	<key>513023</key>
	<string>四川达川地区开江县</string>
	<key>513029</key>
	<string>四川达川地区大竹县</string>
	<key>513030</key>
	<string>四川达川地区渠县</string>
	<key>513101</key>
	<string>四川雅安地区雅安市</string>
	<key>513122</key>
	<string>四川雅安地区名山县</string>
	<key>513123</key>
	<string>四川雅安地区荥经县</string>
	<key>513124</key>
	<string>四川雅安地区汉源县</string>
	<key>513125</key>
	<string>四川雅安地区石棉县</string>
	<key>513126</key>
	<string>四川雅安地区天全县</string>
	<key>513127</key>
	<string>四川雅安地区芦山县</string>
	<key>513128</key>
	<string>四川雅安地区宝兴县</string>
	<key>513221</key>
	<string>四川阿坝藏族羌族自治州汶川县</string>
	<key>513222</key>
	<string>四川阿坝藏族羌族自治州理县</string>
	<key>513223</key>
	<string>四川阿坝藏族羌族自治州茂县</string>
	<key>513224</key>
	<string>四川阿坝藏族羌族自治州松潘县</string>
	<key>513225</key>
	<string>四川阿坝藏族羌族自治州九寨沟县</string>
	<key>513226</key>
	<string>四川阿坝藏族羌族自治州金川县</string>
	<key>513227</key>
	<string>四川阿坝藏族羌族自治州小金县</string>
	<key>513228</key>
	<string>四川阿坝藏族羌族自治州黑水县</string>
	<key>513229</key>
	<string>四川阿坝藏族羌族自治州马尔康县</string>
	<key>513230</key>
	<string>四川阿坝藏族羌族自治州壤塘县</string>
	<key>513231</key>
	<string>四川阿坝藏族羌族自治州阿坝县</string>
	<key>513232</key>
	<string>四川阿坝藏族羌族自治州若尔盖县</string>
	<key>513233</key>
	<string>四川阿坝藏族羌族自治州红原县</string>
	<key>513321</key>
	<string>四川甘孜藏族自治州康定县</string>
	<key>513322</key>
	<string>四川甘孜藏族自治州泸定县</string>
	<key>513323</key>
	<string>四川甘孜藏族自治州丹巴县</string>
	<key>513324</key>
	<string>四川甘孜藏族自治州九龙县</string>
	<key>513325</key>
	<string>四川甘孜藏族自治州雅江县</string>
	<key>513326</key>
	<string>四川甘孜藏族自治州道孚县</string>
	<key>513327</key>
	<string>四川甘孜藏族自治州炉霍县</string>
	<key>513328</key>
	<string>四川甘孜藏族自治州甘孜县</string>
	<key>513329</key>
	<string>四川甘孜藏族自治州新龙县</string>
	<key>513330</key>
	<string>四川甘孜藏族自治州德格县</string>
	<key>513331</key>
	<string>四川甘孜藏族自治州白玉县</string>
	<key>513332</key>
	<string>四川甘孜藏族自治州石渠县</string>
	<key>513333</key>
	<string>四川甘孜藏族自治州色达县</string>
	<key>513334</key>
	<string>四川甘孜藏族自治州理塘县</string>
	<key>513335</key>
	<string>四川甘孜藏族自治州巴塘县</string>
	<key>513336</key>
	<string>四川甘孜藏族自治州乡城县</string>
	<key>513337</key>
	<string>四川甘孜藏族自治州稻城县</string>
	<key>513338</key>
	<string>四川甘孜藏族自治州得荣县</string>
	<key>513401</key>
	<string>四川凉山彝族自治州西昌市</string>
	<key>513422</key>
	<string>四川凉山彝族自治州木里藏族自治县</string>
	<key>513423</key>
	<string>四川凉山彝族自治州盐源县</string>
	<key>513424</key>
	<string>四川凉山彝族自治州德昌县</string>
	<key>513425</key>
	<string>四川凉山彝族自治州会理县</string>
	<key>513426</key>
	<string>四川凉山彝族自治州会东县</string>
	<key>513427</key>
	<string>四川凉山彝族自治州宁南县</string>
	<key>513428</key>
	<string>四川凉山彝族自治州普格县</string>
	<key>513429</key>
	<string>四川凉山彝族自治州布拖县</string>
	<key>513430</key>
	<string>四川凉山彝族自治州金阳县</string>
	<key>513431</key>
	<string>四川凉山彝族自治州昭觉县</string>
	<key>513432</key>
	<string>四川凉山彝族自治州喜德县</string>
	<key>513433</key>
	<string>四川凉山彝族自治州冕宁县</string>
	<key>513434</key>
	<string>四川凉山彝族自治州越西县</string>
	<key>513435</key>
	<string>四川凉山彝族自治州甘洛县</string>
	<key>513436</key>
	<string>四川凉山彝族自治州美姑县</string>
	<key>513437</key>
	<string>四川凉山彝族自治州雷波县</string>
	<key>513521</key>
	<string>四川石柱土家族自治县</string>
	<key>513522</key>
	<string>四川秀山土家族苗族自治县</string>
	<key>513523</key>
	<string>四川黔江土家族苗族自治县</string>
	<key>513524</key>
	<string>四川酉阳土家族苗族自治县</string>
	<key>513525</key>
	<string>四川彭水苗族土家族自治县</string>
	<key>513601</key>
	<string>四川华蓥市</string>
	<key>513621</key>
	<string>四川岳池县</string>
	<key>513622</key>
	<string>四川广安县</string>
	<key>513623</key>
	<string>四川武胜县</string>
	<key>513624</key>
	<string>四川邻水县</string>
	<key>513701</key>
	<string>四川巴中地区巴中市</string>
	<key>513721</key>
	<string>四川巴中地区通江县</string>
	<key>513722</key>
	<string>四川巴中地区南江县</string>
	<key>513723</key>
	<string>四川巴中地区平昌县</string>
	<key>513821</key>
	<string>四川眉山地区眉山县</string>
	<key>513822</key>
	<string>四川眉山地区仁寿县</string>
	<key>513823</key>
	<string>四川眉山地区彭山县</string>
	<key>513824</key>
	<string>四川眉山地区洪雅县</string>
	<key>513825</key>
	<string>四川眉山地区丹棱县</string>
	<key>513826</key>
	<string>四川眉山地区青神县</string>
	<key>513901</key>
	<string>四川眉山地区资阳市</string>
	<key>513902</key>
	<string>四川眉山地区简阳市</string>
	<key>513921</key>
	<string>四川眉山地区安岳县</string>
	<key>513922</key>
	<string>四川眉山地区乐至县</string>
</dict>
</plist>
