<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>340101</key>
	<string>安徽合肥市市辖区</string>
	<key>340102</key>
	<string>安徽合肥市东市区</string>
	<key>340103</key>
	<string>安徽合肥市中市区</string>
	<key>340104</key>
	<string>安徽合肥市西市区</string>
	<key>340111</key>
	<string>安徽合肥市郊区</string>
	<key>340121</key>
	<string>安徽合肥市长丰县</string>
	<key>340122</key>
	<string>安徽合肥市肥东县</string>
	<key>340123</key>
	<string>安徽合肥市肥西县</string>
	<key>340201</key>
	<string>安徽芜湖市市辖区</string>
	<key>340202</key>
	<string>安徽芜湖市镜湖区</string>
	<key>340203</key>
	<string>安徽芜湖市马塘区</string>
	<key>340204</key>
	<string>安徽芜湖市新芜区</string>
	<key>340207</key>
	<string>安徽芜湖市鸠江区</string>
	<key>340221</key>
	<string>安徽芜湖市芜湖县</string>
	<key>340222</key>
	<string>安徽芜湖市繁昌县</string>
	<key>340223</key>
	<string>安徽芜湖市南陵县</string>
	<key>340301</key>
	<string>安徽蚌埠市市辖区</string>
	<key>340302</key>
	<string>安徽蚌埠市东市区</string>
	<key>340303</key>
	<string>安徽蚌埠市中市区</string>
	<key>340304</key>
	<string>安徽蚌埠市西市区</string>
	<key>340311</key>
	<string>安徽蚌埠市郊区</string>
	<key>340321</key>
	<string>安徽蚌埠市怀远县</string>
	<key>340322</key>
	<string>安徽蚌埠市五河县</string>
	<key>340323</key>
	<string>安徽蚌埠市固镇县</string>
	<key>340401</key>
	<string>安徽淮南市市辖区</string>
	<key>340402</key>
	<string>安徽淮南市大通区</string>
	<key>340403</key>
	<string>安徽淮南市田家庵区</string>
	<key>340404</key>
	<string>安徽淮南市谢家集区</string>
	<key>340405</key>
	<string>安徽淮南市八公山区</string>
	<key>340406</key>
	<string>安徽淮南市潘集区</string>
	<key>340421</key>
	<string>安徽淮南市凤台县</string>
	<key>340501</key>
	<string>安徽马鞍山市市辖区</string>
	<key>340502</key>
	<string>安徽马鞍山市金家庄区</string>
	<key>340503</key>
	<string>安徽马鞍山市花山区</string>
	<key>340504</key>
	<string>安徽马鞍山市雨山区</string>
	<key>340505</key>
	<string>安徽马鞍山市向山区</string>
	<key>340521</key>
	<string>安徽马鞍山市当涂县</string>
	<key>340601</key>
	<string>安徽淮北市市辖区</string>
	<key>340602</key>
	<string>安徽淮北市杜集区</string>
	<key>340603</key>
	<string>安徽淮北市相山区</string>
	<key>340604</key>
	<string>安徽淮北市烈山区</string>
	<key>340621</key>
	<string>安徽淮北市濉溪县</string>
	<key>340701</key>
	<string>安徽铜陵市市辖区</string>
	<key>340702</key>
	<string>安徽铜陵市铜官山区</string>
	<key>340703</key>
	<string>安徽铜陵市狮子山区</string>
	<key>340711</key>
	<string>安徽铜陵市郊区</string>
	<key>340721</key>
	<string>安徽铜陵县</string>
	<key>340801</key>
	<string>安徽安庆市市辖区</string>
	<key>340802</key>
	<string>安徽安庆市迎江区</string>
	<key>340803</key>
	<string>安徽安庆市大观区</string>
	<key>340811</key>
	<string>安徽安庆市郊区</string>
	<key>340821</key>
	<string>安徽桐城县</string>
	<key>340822</key>
	<string>安徽怀宁县</string>
	<key>340823</key>
	<string>安徽枞阳县</string>
	<key>340824</key>
	<string>安徽潜山县</string>
	<key>340825</key>
	<string>安徽太湖县</string>
	<key>340826</key>
	<string>安徽宿松县</string>
	<key>340827</key>
	<string>安徽望江县</string>
	<key>340828</key>
	<string>安徽岳西县</string>
	<key>340881</key>
	<string>安徽安庆市桐城市</string>
	<key>341101</key>
	<string>安徽滁州市市辖区</string>
	<key>341102</key>
	<string>安徽滁州市琅琊区</string>
	<key>341103</key>
	<string>安徽滁州市南谯区</string>
	<key>341122</key>
	<string>安徽来安县</string>
	<key>341124</key>
	<string>安徽全椒县</string>
	<key>341125</key>
	<string>安徽定远县</string>
	<key>341126</key>
	<string>安徽凤阳县</string>
	<key>341127</key>
	<string>安徽嘉山县</string>
	<key>341181</key>
	<string>安徽天长县</string>
	<key>341182</key>
	<string>安徽滁州市明光市</string>
	<key>341201</key>
	<string>安徽阜阳市市辖区</string>
	<key>341202</key>
	<string>安徽阜阳市颍州区</string>
	<key>341203</key>
	<string>安徽阜阳市颍东区</string>
	<key>341204</key>
	<string>安徽阜阳市颍泉区</string>
	<key>341221</key>
	<string>安徽阜阳市临泉县</string>
	<key>341222</key>
	<string>安徽阜阳市太和县</string>
	<key>341223</key>
	<string>安徽阜阳市涡阳县</string>
	<key>341224</key>
	<string>安徽阜阳市蒙城县</string>
	<key>341225</key>
	<string>安徽阜阳市阜南县</string>
	<key>341226</key>
	<string>安徽阜阳市颍上县</string>
	<key>341227</key>
	<string>安徽阜阳市利辛县</string>
	<key>341281</key>
	<string>安徽阜阳市亳州市</string>
	<key>341282</key>
	<string>安徽阜阳市界首市</string>
	<key>341301</key>
	<string>安徽宿州市市辖区</string>
	<key>341302</key>
	<string>安徽宿州市甬桥区</string>
	<key>341321</key>
	<string>安徽宿州市砀山县</string>
	<key>341322</key>
	<string>安徽宿州市萧县</string>
	<key>341323</key>
	<string>安徽宿州市灵璧县</string>
	<key>341324</key>
	<string>安徽宿州市泗县</string>
	<key>342401</key>
	<string>安徽六安地区六安市</string>
	<key>342422</key>
	<string>安徽六安地区寿县</string>
	<key>342423</key>
	<string>安徽六安地区霍邱县</string>
	<key>342425</key>
	<string>安徽六安地区舒城县</string>
	<key>342426</key>
	<string>安徽六安地区金寨县</string>
	<key>342427</key>
	<string>安徽六安地区霍山县</string>
	<key>342501</key>
	<string>安徽宣州市</string>
	<key>342502</key>
	<string>安徽宣城地区宁国市</string>
	<key>342522</key>
	<string>安徽宣城地区郎溪县</string>
	<key>342523</key>
	<string>安徽宣城地区广德县</string>
	<key>342529</key>
	<string>安徽宣城地区泾县</string>
	<key>342530</key>
	<string>安徽宣城地区旌德县</string>
	<key>342531</key>
	<string>安徽宣城地区绩溪县</string>
	<key>342601</key>
	<string>安徽巢湖地区巢湖市</string>
	<key>342622</key>
	<string>安徽巢湖地区庐江县</string>
	<key>342623</key>
	<string>安徽巢湖地区无为县</string>
	<key>342625</key>
	<string>安徽巢湖地区含山县</string>
	<key>342626</key>
	<string>安徽巢湖地区和县</string>
	<key>342901</key>
	<string>安徽池州地区贵池市</string>
	<key>342921</key>
	<string>安徽池州地区东至县</string>
	<key>342922</key>
	<string>安徽池州地区石台县</string>
	<key>342923</key>
	<string>安徽池州地区青阳县</string>
</dict>
</plist>
