<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>140101</key>
	<string>山西太原市市辖区</string>
	<key>140102</key>
	<string>山西太原市南城区</string>
	<key>140103</key>
	<string>山西太原市北城区</string>
	<key>140104</key>
	<string>山西太原市河西区</string>
	<key>140105</key>
	<string>山西太原市小店区</string>
	<key>140106</key>
	<string>山西太原市迎泽区</string>
	<key>140107</key>
	<string>山西太原市杏花岭区</string>
	<key>140108</key>
	<string>山西太原市尖草坪区</string>
	<key>140109</key>
	<string>山西太原市万柏林区</string>
	<key>140110</key>
	<string>山西太原市晋源区</string>
	<key>140112</key>
	<string>山西太原市南郊区</string>
	<key>140113</key>
	<string>山西太原市北郊区</string>
	<key>140121</key>
	<string>山西太原市清徐县</string>
	<key>140122</key>
	<string>山西太原市阳曲县</string>
	<key>140123</key>
	<string>山西太原市娄烦县</string>
	<key>140181</key>
	<string>山西太原市古交市</string>
	<key>140201</key>
	<string>山西大同市市辖区</string>
	<key>140202</key>
	<string>山西大同市城区</string>
	<key>140203</key>
	<string>山西大同市矿区</string>
	<key>140211</key>
	<string>山西大同市南郊区</string>
	<key>140212</key>
	<string>山西大同市新荣区</string>
	<key>140221</key>
	<string>山西大同市阳高县</string>
	<key>140222</key>
	<string>山西大同市天镇县</string>
	<key>140223</key>
	<string>山西大同市广灵县</string>
	<key>140224</key>
	<string>山西大同市灵丘县</string>
	<key>140225</key>
	<string>山西大同市浑源县</string>
	<key>140226</key>
	<string>山西大同市左云县</string>
	<key>140227</key>
	<string>山西大同市大同县</string>
	<key>140301</key>
	<string>山西阳泉市市辖区</string>
	<key>140302</key>
	<string>山西阳泉市城区</string>
	<key>140303</key>
	<string>山西阳泉市矿区</string>
	<key>140311</key>
	<string>山西阳泉市郊区</string>
	<key>140321</key>
	<string>山西阳泉市平定县</string>
	<key>140322</key>
	<string>山西阳泉市盂县</string>
	<key>140401</key>
	<string>山西长治市市辖区</string>
	<key>140402</key>
	<string>山西长治市城区</string>
	<key>140411</key>
	<string>山西长治市郊区</string>
	<key>140421</key>
	<string>山西长治市长治县</string>
	<key>140423</key>
	<string>山西长治市襄垣县</string>
	<key>140424</key>
	<string>山西长治市屯留县</string>
	<key>140425</key>
	<string>山西长治市平顺县</string>
	<key>140426</key>
	<string>山西长治市黎城县</string>
	<key>140427</key>
	<string>山西长治市壶关县</string>
	<key>140428</key>
	<string>山西长治市长子县</string>
	<key>140429</key>
	<string>山西长治市武乡县</string>
	<key>140430</key>
	<string>山西长治市沁县</string>
	<key>140431</key>
	<string>山西长治市沁源县</string>
	<key>140481</key>
	<string>山西长治市潞城市</string>
	<key>140501</key>
	<string>山西晋城市市辖区</string>
	<key>140502</key>
	<string>山西晋城市城区</string>
	<key>140511</key>
	<string>山西晋城市郊区</string>
	<key>140521</key>
	<string>山西晋城市沁水县</string>
	<key>140522</key>
	<string>山西晋城市阳城县</string>
	<key>140524</key>
	<string>山西晋城市陵川县</string>
	<key>140525</key>
	<string>山西晋城市泽州县</string>
	<key>140581</key>
	<string>山西晋城市高平市</string>
	<key>140601</key>
	<string>山西朔州市市辖区</string>
	<key>140602</key>
	<string>山西朔州市朔城区</string>
	<key>140603</key>
	<string>山西朔州市平鲁区</string>
	<key>140621</key>
	<string>山西晋城市山阴县</string>
	<key>140622</key>
	<string>山西晋城市应县</string>
	<key>140623</key>
	<string>山西晋城市右玉县</string>
	<key>140624</key>
	<string>山西晋城市怀仁县</string>
	<key>142201</key>
	<string>山西忻州地区忻州市</string>
	<key>142202</key>
	<string>山西忻州地区原平市</string>
	<key>142222</key>
	<string>山西忻州地区定襄县</string>
	<key>142223</key>
	<string>山西忻州地区五台县</string>
	<key>142225</key>
	<string>山西忻州地区代县</string>
	<key>142226</key>
	<string>山西忻州地区繁峙县</string>
	<key>142227</key>
	<string>山西忻州地区宁武县</string>
	<key>142228</key>
	<string>山西忻州地区静乐县</string>
	<key>142229</key>
	<string>山西忻州地区神池县</string>
	<key>142230</key>
	<string>山西忻州地区五寨县</string>
	<key>142231</key>
	<string>山西忻州地区岢岚县</string>
	<key>142232</key>
	<string>山西忻州地区河曲县</string>
	<key>142233</key>
	<string>山西忻州地区保德县</string>
	<key>142234</key>
	<string>山西忻州地区偏关县</string>
	<key>142301</key>
	<string>山西忻州地区孝义市</string>
	<key>142302</key>
	<string>山西忻州地区离石市</string>
	<key>142303</key>
	<string>山西忻州地区汾阳市</string>
	<key>142322</key>
	<string>山西忻州地区文水县</string>
	<key>142323</key>
	<string>山西忻州地区交城县</string>
	<key>142325</key>
	<string>山西忻州地区兴县</string>
	<key>142326</key>
	<string>山西忻州地区临县</string>
	<key>142327</key>
	<string>山西忻州地区柳林县</string>
	<key>142328</key>
	<string>山西忻州地区石楼县</string>
	<key>142329</key>
	<string>山西忻州地区岚县</string>
	<key>142330</key>
	<string>山西忻州地区方山县</string>
	<key>142332</key>
	<string>山西忻州地区中阳县</string>
	<key>142333</key>
	<string>山西忻州地区交口县</string>
	<key>142601</key>
	<string>山西临汾地区临汾市</string>
	<key>142602</key>
	<string>山西临汾地区侯马市</string>
	<key>142603</key>
	<string>山西临汾地区霍州市</string>
	<key>142621</key>
	<string>山西临汾地区曲沃县</string>
	<key>142622</key>
	<string>山西临汾地区翼城县</string>
	<key>142623</key>
	<string>山西临汾地区襄汾县</string>
	<key>142625</key>
	<string>山西临汾地区洪洞县</string>
	<key>142627</key>
	<string>山西临汾地区古县</string>
	<key>142628</key>
	<string>山西临汾地区安泽县</string>
	<key>142629</key>
	<string>山西临汾地区浮山县</string>
	<key>142630</key>
	<string>山西临汾地区吉县</string>
	<key>142631</key>
	<string>山西临汾地区乡宁县</string>
	<key>142632</key>
	<string>山西临汾地区蒲县</string>
	<key>142633</key>
	<string>山西临汾地区大宁县</string>
	<key>142634</key>
	<string>山西临汾地区永和县</string>
	<key>142635</key>
	<string>山西临汾地区隰县</string>
	<key>142636</key>
	<string>山西临汾地区汾西县</string>
	<key>142701</key>
	<string>山西运城地区运城市</string>
	<key>142702</key>
	<string>山西运城地区永济市</string>
	<key>142703</key>
	<string>山西运城地区河津市</string>
	<key>142723</key>
	<string>山西运城地区芮城县</string>
	<key>142724</key>
	<string>山西运城地区临猗县</string>
	<key>142725</key>
	<string>山西运城地区万荣县</string>
	<key>142726</key>
	<string>山西运城地区新绛县</string>
	<key>142727</key>
	<string>山西运城地区稷山县</string>
	<key>142729</key>
	<string>山西运城地区闻喜县</string>
	<key>142730</key>
	<string>山西运城地区夏县</string>
	<key>142731</key>
	<string>山西运城地区绛县</string>
	<key>142732</key>
	<string>山西运城地区平陆县</string>
	<key>142733</key>
	<string>山西运城地区垣曲县</string>
</dict>
</plist>
