<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>370101</key>
	<string>山东济南市市辖区</string>
	<key>370102</key>
	<string>山东济南市历下区</string>
	<key>370103</key>
	<string>山东济南市市中区</string>
	<key>370104</key>
	<string>山东济南市槐荫区</string>
	<key>370105</key>
	<string>山东济南市天桥区</string>
	<key>370112</key>
	<string>山东济南市历城区</string>
	<key>370123</key>
	<string>山东济南市长清县</string>
	<key>370124</key>
	<string>山东济南市平阴县</string>
	<key>370125</key>
	<string>山东济南市济阳县</string>
	<key>370126</key>
	<string>山东济南市商河县</string>
	<key>370181</key>
	<string>山东济南市章丘市</string>
	<key>370201</key>
	<string>山东青岛市市辖区</string>
	<key>370202</key>
	<string>山东青岛市市南区</string>
	<key>370203</key>
	<string>山东青岛市市北区</string>
	<key>370204</key>
	<string>山东青岛市台东区</string>
	<key>370205</key>
	<string>山东青岛市四方区</string>
	<key>370206</key>
	<string>山东青岛市沧口区</string>
	<key>370211</key>
	<string>山东青岛市黄岛区</string>
	<key>370212</key>
	<string>山东青岛市崂山区</string>
	<key>370213</key>
	<string>山东青岛市李沧区</string>
	<key>370214</key>
	<string>山东青岛市城阳区</string>
	<key>370281</key>
	<string>山东青岛市胶州市</string>
	<key>370282</key>
	<string>山东青岛市即墨市</string>
	<key>370283</key>
	<string>山东青岛市平度市</string>
	<key>370284</key>
	<string>山东青岛市胶南市</string>
	<key>370285</key>
	<string>山东青岛市莱西市</string>
	<key>370301</key>
	<string>山东淄博市市辖区</string>
	<key>370302</key>
	<string>山东淄博市淄川区</string>
	<key>370303</key>
	<string>山东淄博市张店区</string>
	<key>370304</key>
	<string>山东淄博市博山区</string>
	<key>370305</key>
	<string>山东淄博市临淄区</string>
	<key>370306</key>
	<string>山东淄博市周村区</string>
	<key>370321</key>
	<string>山东淄博市桓台县</string>
	<key>370322</key>
	<string>山东淄博市高青县</string>
	<key>370323</key>
	<string>山东淄博市沂源县</string>
	<key>370401</key>
	<string>山东枣庄市市辖区</string>
	<key>370402</key>
	<string>山东枣庄市市中区</string>
	<key>370403</key>
	<string>山东枣庄市薛城区</string>
	<key>370404</key>
	<string>山东枣庄市峄城区</string>
	<key>370405</key>
	<string>山东枣庄市台儿庄区</string>
	<key>370406</key>
	<string>山东枣庄市山亭区</string>
	<key>370481</key>
	<string>山东枣庄市滕州市</string>
	<key>370501</key>
	<string>山东东营市市辖区</string>
	<key>370502</key>
	<string>山东东营市东营区</string>
	<key>370503</key>
	<string>山东东营市河口区</string>
	<key>370521</key>
	<string>山东东营市垦利县</string>
	<key>370522</key>
	<string>山东东营市利津县</string>
	<key>370523</key>
	<string>山东东营市广饶县</string>
	<key>370601</key>
	<string>山东烟台市市辖区</string>
	<key>370602</key>
	<string>山东烟台市芝罘区</string>
	<key>370611</key>
	<string>山东烟台市福山区</string>
	<key>370612</key>
	<string>山东烟台市牟平区</string>
	<key>370613</key>
	<string>山东烟台市莱山区</string>
	<key>370634</key>
	<string>山东烟台市长岛县</string>
	<key>370681</key>
	<string>山东烟台市龙口市</string>
	<key>370682</key>
	<string>山东烟台市莱阳市</string>
	<key>370683</key>
	<string>山东烟台市莱州市</string>
	<key>370684</key>
	<string>山东烟台市蓬莱市</string>
	<key>370685</key>
	<string>山东烟台市招远市</string>
	<key>370686</key>
	<string>山东烟台市栖霞市</string>
	<key>370687</key>
	<string>山东烟台市海阳市</string>
	<key>370701</key>
	<string>山东潍坊市市辖区</string>
	<key>370702</key>
	<string>山东潍坊市潍城区</string>
	<key>370703</key>
	<string>山东潍坊市寒亭区</string>
	<key>370704</key>
	<string>山东潍坊市坊子区</string>
	<key>370705</key>
	<string>山东潍坊市奎文区</string>
	<key>370724</key>
	<string>山东潍坊市临朐县</string>
	<key>370725</key>
	<string>山东潍坊市昌乐县</string>
	<key>370781</key>
	<string>山东潍坊市青州市</string>
	<key>370782</key>
	<string>山东潍坊市诸城市</string>
	<key>370783</key>
	<string>山东潍坊市寿光市</string>
	<key>370784</key>
	<string>山东潍坊市安丘市</string>
	<key>370785</key>
	<string>山东潍坊市高密市</string>
	<key>370786</key>
	<string>山东潍坊市昌邑市</string>
	<key>370801</key>
	<string>山东济宁市市辖区</string>
	<key>370802</key>
	<string>山东济宁市市中区</string>
	<key>370811</key>
	<string>山东济宁市任城区</string>
	<key>370826</key>
	<string>山东济宁市微山县</string>
	<key>370827</key>
	<string>山东济宁市鱼台县</string>
	<key>370828</key>
	<string>山东济宁市金乡县</string>
	<key>370829</key>
	<string>山东济宁市嘉祥县</string>
	<key>370830</key>
	<string>山东济宁市汶上县</string>
	<key>370831</key>
	<string>山东济宁市泗水县</string>
	<key>370832</key>
	<string>山东济宁市梁山县</string>
	<key>370881</key>
	<string>山东济宁市曲阜市</string>
	<key>370882</key>
	<string>山东济宁市兖州市</string>
	<key>370883</key>
	<string>山东济宁市邹城市</string>
	<key>370901</key>
	<string>山东泰安市市辖区</string>
	<key>370902</key>
	<string>山东泰安市泰山区</string>
	<key>370911</key>
	<string>山东泰安市郊区</string>
	<key>370921</key>
	<string>山东泰安市宁阳县</string>
	<key>370923</key>
	<string>山东泰安市东平县</string>
	<key>370982</key>
	<string>山东泰安市新泰市</string>
	<key>370983</key>
	<string>山东泰安市肥城市</string>
	<key>371001</key>
	<string>山东威海市市辖区</string>
	<key>371002</key>
	<string>山东威海市环翠区</string>
	<key>371081</key>
	<string>山东威海市文登市</string>
	<key>371082</key>
	<string>山东威海市荣成市</string>
	<key>371083</key>
	<string>山东威海市乳山市</string>
	<key>371101</key>
	<string>山东日照市市辖区</string>
	<key>371102</key>
	<string>山东日照市东港区</string>
	<key>371121</key>
	<string>山东日照市五莲县</string>
	<key>371122</key>
	<string>山东日照市莒县</string>
	<key>371201</key>
	<string>山东莱芜市市辖区</string>
	<key>371202</key>
	<string>山东莱芜市莱城区</string>
	<key>371203</key>
	<string>山东莱芜市钢城区</string>
	<key>371301</key>
	<string>山东临沂市市辖区</string>
	<key>371302</key>
	<string>山东临沂市兰山区</string>
	<key>371311</key>
	<string>山东临沂市罗庄区</string>
	<key>371312</key>
	<string>山东临沂市河东区</string>
	<key>371321</key>
	<string>山东临沂市沂南县</string>
	<key>371322</key>
	<string>山东临沂市郯城县</string>
	<key>371323</key>
	<string>山东临沂市沂水县</string>
	<key>371324</key>
	<string>山东临沂市苍山县</string>
	<key>371325</key>
	<string>山东临沂市费县</string>
	<key>371326</key>
	<string>山东临沂市平邑县</string>
	<key>371327</key>
	<string>山东临沂市莒南县</string>
	<key>371328</key>
	<string>山东临沂市蒙阴县</string>
	<key>371329</key>
	<string>山东临沂市临沭县</string>
	<key>371401</key>
	<string>山东德州市市辖区</string>
	<key>371402</key>
	<string>山东德州市德城区</string>
	<key>371421</key>
	<string>山东德州市陵县</string>
	<key>371422</key>
	<string>山东德州市宁津县</string>
	<key>371423</key>
	<string>山东德州市庆云县</string>
	<key>371424</key>
	<string>山东德州市临邑县</string>
	<key>371425</key>
	<string>山东德州市齐河县</string>
	<key>371426</key>
	<string>山东德州市平原县</string>
	<key>371427</key>
	<string>山东德州市夏津县</string>
	<key>371428</key>
	<string>山东德州市武城县</string>
	<key>371481</key>
	<string>山东德州市乐陵市</string>
	<key>371482</key>
	<string>山东德州市禹城市</string>
	<key>371501</key>
	<string>山东聊城市市辖区</string>
	<key>371502</key>
	<string>山东聊城市东昌府区</string>
	<key>371521</key>
	<string>山东聊城市阳谷县</string>
	<key>371522</key>
	<string>山东聊城市莘县</string>
	<key>371523</key>
	<string>山东聊城市茌平县</string>
	<key>371524</key>
	<string>山东聊城市东阿县</string>
	<key>371525</key>
	<string>山东聊城市冠县</string>
	<key>371526</key>
	<string>山东聊城市高唐县</string>
	<key>371581</key>
	<string>山东聊城市临清市</string>
	<key>372301</key>
	<string>山东滨州地区滨州市</string>
	<key>372321</key>
	<string>山东滨州地区惠民县</string>
	<key>372323</key>
	<string>山东滨州地区阳信县</string>
	<key>372324</key>
	<string>山东滨州地区无棣县</string>
	<key>372325</key>
	<string>山东滨州地区沾化县</string>
	<key>372328</key>
	<string>山东滨州地区博兴县</string>
	<key>372330</key>
	<string>山东滨州地区邹平县</string>
	<key>372401</key>
	<string>山东德州市</string>
	<key>372402</key>
	<string>山东乐陵市</string>
	<key>372403</key>
	<string>山东禹城市</string>
	<key>372421</key>
	<string>山东陵县</string>
	<key>372422</key>
	<string>山东平原县</string>
	<key>372423</key>
	<string>山东夏津县</string>
	<key>372424</key>
	<string>山东武城县</string>
	<key>372425</key>
	<string>山东齐河县</string>
	<key>372428</key>
	<string>山东临邑县</string>
	<key>372431</key>
	<string>山东宁津县</string>
	<key>372432</key>
	<string>山东庆云县</string>
	<key>372901</key>
	<string>山东菏泽地区菏泽市</string>
	<key>372922</key>
	<string>山东菏泽地区曹县</string>
	<key>372923</key>
	<string>山东菏泽地区定陶县</string>
	<key>372924</key>
	<string>山东菏泽地区成武县</string>
	<key>372925</key>
	<string>山东菏泽地区单县</string>
	<key>372926</key>
	<string>山东菏泽地区巨野县</string>
	<key>372928</key>
	<string>山东菏泽地区郓城县</string>
	<key>372929</key>
	<string>山东菏泽地区鄄城县</string>
	<key>372930</key>
	<string>山东菏泽地区东明县</string>
</dict>
</plist>
