<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>450101</key>
	<string>广西壮族自治区南宁市市辖区</string>
	<key>450102</key>
	<string>广西壮族自治区南宁市兴宁区</string>
	<key>450103</key>
	<string>广西壮族自治区南宁市新城区</string>
	<key>450104</key>
	<string>广西壮族自治区南宁市城北区</string>
	<key>450105</key>
	<string>广西壮族自治区南宁市江南区</string>
	<key>450106</key>
	<string>广西壮族自治区南宁市永新区</string>
	<key>450111</key>
	<string>广西壮族自治区南宁市市郊区</string>
	<key>450121</key>
	<string>广西壮族自治区南宁市邕宁县</string>
	<key>450122</key>
	<string>广西壮族自治区南宁市武鸣县</string>
	<key>450201</key>
	<string>广西壮族自治区柳州市市辖区</string>
	<key>450202</key>
	<string>广西壮族自治区柳州市城中区</string>
	<key>450203</key>
	<string>广西壮族自治区柳州市鱼峰区</string>
	<key>450204</key>
	<string>广西壮族自治区柳州市柳南区</string>
	<key>450205</key>
	<string>广西壮族自治区柳州市柳北区</string>
	<key>450211</key>
	<string>广西壮族自治区柳州市市郊区</string>
	<key>450221</key>
	<string>广西壮族自治区柳州市柳江县</string>
	<key>450222</key>
	<string>广西壮族自治区柳州市柳城县</string>
	<key>450301</key>
	<string>广西壮族自治区桂林市市辖区</string>
	<key>450302</key>
	<string>广西壮族自治区桂林市秀峰区</string>
	<key>450303</key>
	<string>广西壮族自治区桂林市叠彩区</string>
	<key>450304</key>
	<string>广西壮族自治区桂林市象山区</string>
	<key>450305</key>
	<string>广西壮族自治区桂林市七星区</string>
	<key>450311</key>
	<string>广西壮族自治区桂林市雁山区</string>
	<key>450321</key>
	<string>广西壮族自治区桂林市阳朔县</string>
	<key>450322</key>
	<string>广西壮族自治区桂林市临桂县</string>
	<key>450323</key>
	<string>广西壮族自治区桂林市灵川县</string>
	<key>450324</key>
	<string>广西壮族自治区桂林市全州县</string>
	<key>450325</key>
	<string>广西壮族自治区桂林市兴安县</string>
	<key>450326</key>
	<string>广西壮族自治区桂林市永福县</string>
	<key>450327</key>
	<string>广西壮族自治区桂林市灌阳县</string>
	<key>450328</key>
	<string>广西壮族自治区桂林市龙胜各族自治县</string>
	<key>450329</key>
	<string>广西壮族自治区桂林市资源县</string>
	<key>450330</key>
	<string>广西壮族自治区桂林市平乐县</string>
	<key>450331</key>
	<string>广西壮族自治区桂林市荔浦县</string>
	<key>450332</key>
	<string>广西壮族自治区桂林市恭城瑶族自治县</string>
	<key>450401</key>
	<string>广西壮族自治区梧州市市辖区</string>
	<key>450403</key>
	<string>广西壮族自治区梧州市万秀区</string>
	<key>450404</key>
	<string>广西壮族自治区梧州市蝶山区</string>
	<key>450411</key>
	<string>广西壮族自治区梧州市市郊区</string>
	<key>450421</key>
	<string>广西壮族自治区梧州市苍梧县</string>
	<key>450422</key>
	<string>广西壮族自治区梧州市藤县</string>
	<key>450423</key>
	<string>广西壮族自治区梧州市蒙山县</string>
	<key>450481</key>
	<string>广西壮族自治区梧州市岑溪市</string>
	<key>450501</key>
	<string>广西壮族自治区北海市市辖区</string>
	<key>450502</key>
	<string>广西壮族自治区北海市海城区</string>
	<key>450503</key>
	<string>广西壮族自治区北海市银海区</string>
	<key>450511</key>
	<string>广西北海市市郊区</string>
	<key>450512</key>
	<string>广西壮族自治区北海市铁山港区</string>
	<key>450521</key>
	<string>广西壮族自治区北海市合浦县</string>
	<key>450601</key>
	<string>广西壮族自治区防城港市市辖区</string>
	<key>450602</key>
	<string>广西壮族自治区防城港市港口区</string>
	<key>450603</key>
	<string>广西壮族自治区防城港市防城区</string>
	<key>450621</key>
	<string>广西壮族自治区防城港市上思县</string>
	<key>450681</key>
	<string>广西壮族自治区防城港市东兴市</string>
	<key>450701</key>
	<string>广西壮族自治区钦州市市辖区</string>
	<key>450702</key>
	<string>广西壮族自治区钦州市钦南区</string>
	<key>450703</key>
	<string>广西壮族自治区钦州市钦北区</string>
	<key>450721</key>
	<string>广西壮族自治区钦州市灵山县</string>
	<key>450722</key>
	<string>广西壮族自治区钦州市浦北县</string>
	<key>450801</key>
	<string>广西壮族自治区贵港市市辖区</string>
	<key>450802</key>
	<string>广西壮族自治区贵港市港北区</string>
	<key>450803</key>
	<string>广西壮族自治区贵港市港南区</string>
	<key>450821</key>
	<string>广西壮族自治区贵港市平南县</string>
	<key>450881</key>
	<string>广西壮族自治区贵港市桂平市</string>
	<key>450901</key>
	<string>广西壮族自治区玉林市市辖区</string>
	<key>450902</key>
	<string>广西壮族自治区玉林市玉州区</string>
	<key>450921</key>
	<string>广西壮族自治区玉林市容县</string>
	<key>450922</key>
	<string>广西壮族自治区玉林市陆川县</string>
	<key>450923</key>
	<string>广西壮族自治区玉林市博白县</string>
	<key>450924</key>
	<string>广西壮族自治区玉林市兴业县</string>
	<key>450981</key>
	<string>广西壮族自治区玉林市北流市</string>
	<key>452101</key>
	<string>广西壮族自治区南宁地区凭祥市</string>
	<key>452122</key>
	<string>广西壮族自治区南宁地区横县</string>
	<key>452123</key>
	<string>广西壮族自治区南宁地区宾阳县</string>
	<key>452124</key>
	<string>广西壮族自治区南宁地区上林县</string>
	<key>452126</key>
	<string>广西壮族自治区南宁地区隆安县</string>
	<key>452127</key>
	<string>广西壮族自治区南宁地区马山县</string>
	<key>452128</key>
	<string>广西壮族自治区南宁地区扶绥县</string>
	<key>452129</key>
	<string>广西壮族自治区南宁地区崇左县</string>
	<key>452130</key>
	<string>广西壮族自治区南宁地区大新县</string>
	<key>452131</key>
	<string>广西壮族自治区南宁地区天等县</string>
	<key>452132</key>
	<string>广西壮族自治区南宁地区宁明县</string>
	<key>452133</key>
	<string>广西壮族自治区南宁地区龙州县</string>
	<key>452201</key>
	<string>广西壮族自治区柳州地区合山市</string>
	<key>452223</key>
	<string>广西壮族自治区柳州地区鹿寨县</string>
	<key>452224</key>
	<string>广西壮族自治区柳州地区象州县</string>
	<key>452225</key>
	<string>广西壮族自治区柳州地区武宣县</string>
	<key>452226</key>
	<string>广西壮族自治区柳州地区来宾县</string>
	<key>452227</key>
	<string>广西壮族自治区柳州地区融安县</string>
	<key>452228</key>
	<string>广西壮族自治区柳州地区三江侗族自治县</string>
	<key>452229</key>
	<string>广西壮族自治区柳州地区融水苗族自治县</string>
	<key>452230</key>
	<string>广西壮族自治区柳州地区金秀瑶族自治县</string>
	<key>452231</key>
	<string>广西壮族自治区柳州地区忻城县</string>
	<key>452402</key>
	<string>广西壮族自治区贺州地区贺州市</string>
	<key>452421</key>
	<string>广西岑溪县</string>
	<key>452423</key>
	<string>广西藤县</string>
	<key>452424</key>
	<string>广西壮族自治区贺州地区昭平县</string>
	<key>452425</key>
	<string>广西蒙山县</string>
	<key>452426</key>
	<string>广西贺县</string>
	<key>452427</key>
	<string>广西壮族自治区贺州地区钟山县</string>
	<key>452428</key>
	<string>广西壮族自治区贺州地区富川瑶族自治县</string>
	<key>452601</key>
	<string>广西壮族自治区百色地区百色市</string>
	<key>452622</key>
	<string>广西壮族自治区百色地区田阳县</string>
	<key>452623</key>
	<string>广西壮族自治区百色地区田东县</string>
	<key>452624</key>
	<string>广西壮族自治区百色地区平果县</string>
	<key>452625</key>
	<string>广西壮族自治区百色地区德保县</string>
	<key>452626</key>
	<string>广西壮族自治区百色地区靖西县</string>
	<key>452627</key>
	<string>广西壮族自治区百色地区那坡县</string>
	<key>452628</key>
	<string>广西壮族自治区百色地区凌云县</string>
	<key>452629</key>
	<string>广西壮族自治区百色地区乐业县</string>
	<key>452630</key>
	<string>广西壮族自治区百色地区田林县</string>
	<key>452631</key>
	<string>广西壮族自治区百色地区隆林各族自治县</string>
	<key>452632</key>
	<string>广西壮族自治区百色地区西林县</string>
	<key>452701</key>
	<string>广西壮族自治区河池地区河池市</string>
	<key>452702</key>
	<string>广西壮族自治区河池地区宜州市</string>
	<key>452723</key>
	<string>广西壮族自治区河池地区罗城仫佬族自治县</string>
	<key>452724</key>
	<string>广西壮族自治区河池地区环江毛南族自治县</string>
	<key>452725</key>
	<string>广西壮族自治区河池地区南丹县</string>
	<key>452726</key>
	<string>广西壮族自治区河池地区天峨县</string>
	<key>452727</key>
	<string>广西壮族自治区河池地区凤山县</string>
	<key>452728</key>
	<string>广西壮族自治区河池地区东兰县</string>
	<key>452729</key>
	<string>广西壮族自治区河池地区巴马瑶族自治县</string>
	<key>452730</key>
	<string>广西壮族自治区河池地区都安瑶族自治县</string>
	<key>452731</key>
	<string>广西壮族自治区河池地区大化瑶族自治县</string>
	<key>452824</key>
	<string>广西灵山县</string>
	<key>452826</key>
	<string>广西浦北县</string>
</dict>
</plist>
