<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>440101</key>
	<string>广东广州市市辖区</string>
	<key>440102</key>
	<string>广东广州市东山区</string>
	<key>440103</key>
	<string>广东广州市荔湾区</string>
	<key>440104</key>
	<string>广东广州市越秀区</string>
	<key>440105</key>
	<string>广东广州市海珠区</string>
	<key>440106</key>
	<string>广东广州市天河区</string>
	<key>440107</key>
	<string>广东广州市芳村区</string>
	<key>440111</key>
	<string>广东广州市白云区</string>
	<key>440112</key>
	<string>广东广州市黄埔区</string>
	<key>440122</key>
	<string>广东从花县</string>
	<key>440181</key>
	<string>广东广州市番禺市</string>
	<key>440182</key>
	<string>广东广州市花都市</string>
	<key>440183</key>
	<string>广东广州市增城市</string>
	<key>440184</key>
	<string>广东广州市从化市</string>
	<key>440201</key>
	<string>广东韶关市市辖区</string>
	<key>440202</key>
	<string>广东韶关市北江区</string>
	<key>440203</key>
	<string>广东韶关市武江区</string>
	<key>440204</key>
	<string>广东韶关市浈江区</string>
	<key>440221</key>
	<string>广东曲江县</string>
	<key>440222</key>
	<string>广东韶关市始兴县</string>
	<key>440223</key>
	<string>广东韶关南雄市</string>
	<key>440224</key>
	<string>广东韶关市仁化县</string>
	<key>440225</key>
	<string>广东乐昌县</string>
	<key>440229</key>
	<string>广东韶关市翁源县</string>
	<key>440232</key>
	<string>广东韶关市乳源瑶族自治县</string>
	<key>440233</key>
	<string>广东韶关市新丰县</string>
	<key>440281</key>
	<string>广东韶关市乐昌市</string>
	<key>440282</key>
	<string>广东韶关市南雄市</string>
	<key>440301</key>
	<string>广东深圳市市辖区</string>
	<key>440303</key>
	<string>广东深圳市罗湖区</string>
	<key>440304</key>
	<string>广东深圳市福田区</string>
	<key>440305</key>
	<string>广东深圳市南山区</string>
	<key>440306</key>
	<string>广东深圳市宝安区</string>
	<key>440307</key>
	<string>广东深圳市龙岗区</string>
	<key>440308</key>
	<string>广东深圳市盐田区</string>
	<key>440401</key>
	<string>广东珠海市市辖区</string>
	<key>440402</key>
	<string>广东珠海市香州区</string>
	<key>440407</key>
	<string>广东汕头市龙湖区</string>
	<key>440421</key>
	<string>广东斗门县</string>
	<key>440501</key>
	<string>广东汕头市市辖区</string>
	<key>440506</key>
	<string>广东汕头市达濠区</string>
	<key>440507</key>
	<string>广东汕头市龙湖区</string>
	<key>440508</key>
	<string>广东汕头市金园区</string>
	<key>440509</key>
	<string>广东汕头市升平区</string>
	<key>440510</key>
	<string>广东汕头市河浦区</string>
	<key>440521</key>
	<string>广东澄海县</string>
	<key>440523</key>
	<string>广东汕头市南澳县</string>
	<key>440582</key>
	<string>广东汕头市潮阳市</string>
	<key>440583</key>
	<string>广东汕头市澄海市</string>
	<key>440601</key>
	<string>广东佛山市市辖区</string>
	<key>440602</key>
	<string>广东佛山市城区</string>
	<key>440603</key>
	<string>广东佛山市石湾区</string>
	<key>440624</key>
	<string>广东高明县</string>
	<key>440681</key>
	<string>广东佛山市顺德市</string>
	<key>440682</key>
	<string>广东佛山市南海市</string>
	<key>440683</key>
	<string>广东佛山市三水市</string>
	<key>440684</key>
	<string>广东佛山市高明市</string>
	<key>440701</key>
	<string>广东江门市市辖区</string>
	<key>440702</key>
	<string>广东江门市城区</string>
	<key>440703</key>
	<string>广东江门市蓬江区</string>
	<key>440704</key>
	<string>广东江门市江海区</string>
	<key>440711</key>
	<string>广东江门市郊区</string>
	<key>440781</key>
	<string>广东江门市台山市</string>
	<key>440782</key>
	<string>广东江门市新会市</string>
	<key>440783</key>
	<string>广东江门市开平市</string>
	<key>440784</key>
	<string>广东江门市鹤山市</string>
	<key>440785</key>
	<string>广东江门市恩平市</string>
	<key>440801</key>
	<string>广东湛江市市辖区</string>
	<key>440802</key>
	<string>广东湛江市赤坎区</string>
	<key>440803</key>
	<string>广东湛江市霞山区</string>
	<key>440804</key>
	<string>广东湛江市坡头区</string>
	<key>440811</key>
	<string>广东湛江市郊区</string>
	<key>440821</key>
	<string>广东吴川县</string>
	<key>440823</key>
	<string>广东湛江市遂溪县</string>
	<key>440824</key>
	<string>广东海康县</string>
	<key>440825</key>
	<string>广东湛江市徐闻县</string>
	<key>440881</key>
	<string>广东湛江市廉江市</string>
	<key>440882</key>
	<string>广东湛江市雷州市</string>
	<key>440883</key>
	<string>广东湛江市吴川市</string>
	<key>440901</key>
	<string>广东茂名市市辖区</string>
	<key>440902</key>
	<string>广东茂名市茂南区</string>
	<key>440921</key>
	<string>广东信宜县</string>
	<key>440923</key>
	<string>广东茂名市电白县</string>
	<key>440924</key>
	<string>广东化州县</string>
	<key>440981</key>
	<string>广东茂名市高州市</string>
	<key>440982</key>
	<string>广东茂名市化州市</string>
	<key>440983</key>
	<string>广东茂名市信宜市</string>
	<key>441201</key>
	<string>广东肇庆市市辖区</string>
	<key>441202</key>
	<string>广东肇庆市端州区</string>
	<key>441203</key>
	<string>广东肇庆市鼎湖区</string>
	<key>441223</key>
	<string>广东广宁县</string>
	<key>441224</key>
	<string>广东怀集县</string>
	<key>441225</key>
	<string>广东封开县</string>
	<key>441226</key>
	<string>广东德庆县</string>
	<key>441228</key>
	<string>广东新兴县</string>
	<key>441229</key>
	<string>广东郁南县</string>
	<key>441281</key>
	<string>广东云浮市</string>
	<key>441282</key>
	<string>广东罗定市</string>
	<key>441283</key>
	<string>广东肇庆市高要市</string>
	<key>441284</key>
	<string>广东肇庆市四会市</string>
	<key>441301</key>
	<string>广东惠州市市辖区</string>
	<key>441302</key>
	<string>广东惠州市惠城区</string>
	<key>441321</key>
	<string>广东惠阳县</string>
	<key>441322</key>
	<string>广东惠州市博罗县</string>
	<key>441323</key>
	<string>广东惠州市惠东县</string>
	<key>441324</key>
	<string>广东惠州市龙门县</string>
	<key>441381</key>
	<string>广东惠州市惠阳市</string>
	<key>441401</key>
	<string>广东梅州市市辖区</string>
	<key>441402</key>
	<string>广东梅州市梅江区</string>
	<key>441421</key>
	<string>广东梅州市梅县</string>
	<key>441422</key>
	<string>广东梅州市大埔县</string>
	<key>441423</key>
	<string>广东梅州市丰顺县</string>
	<key>441424</key>
	<string>广东梅州市五华县</string>
	<key>441426</key>
	<string>广东梅州市平远县</string>
	<key>441427</key>
	<string>广东梅州市蕉岭县</string>
	<key>441481</key>
	<string>广东梅州市兴宁市</string>
	<key>441501</key>
	<string>广东汕尾市市辖区</string>
	<key>441502</key>
	<string>广东汕尾市城区</string>
	<key>441521</key>
	<string>广东汕尾市海丰县</string>
	<key>441522</key>
	<string>广东陆丰县</string>
	<key>441523</key>
	<string>广东汕尾市陆河县</string>
	<key>441581</key>
	<string>广东汕尾市陆丰市</string>
	<key>441601</key>
	<string>广东河源市市辖区</string>
	<key>441602</key>
	<string>广东河源市源城区</string>
	<key>441621</key>
	<string>广东河源市紫金县</string>
	<key>441622</key>
	<string>广东河源市龙川县</string>
	<key>441623</key>
	<string>广东河源市连平县</string>
	<key>441624</key>
	<string>广东河源市和平县</string>
	<key>441625</key>
	<string>广东河源市东源县</string>
	<key>441701</key>
	<string>广东阳江市市辖区</string>
	<key>441702</key>
	<string>广东阳江市江城区</string>
	<key>441721</key>
	<string>广东阳江市阳西县</string>
	<key>441722</key>
	<string>广东阳春县</string>
	<key>441723</key>
	<string>广东阳江市阳东县</string>
	<key>441781</key>
	<string>广东阳江市阳春市</string>
	<key>441801</key>
	<string>广东清远市市辖区</string>
	<key>441802</key>
	<string>广东清远市清城区</string>
	<key>441821</key>
	<string>广东清远市佛冈县</string>
	<key>441822</key>
	<string>广东英德县</string>
	<key>441823</key>
	<string>广东清远市阳山县</string>
	<key>441824</key>
	<string>广东连县</string>
	<key>441825</key>
	<string>广东清远市连山壮族瑶族自治县</string>
	<key>441826</key>
	<string>广东清远市连南瑶族自治县</string>
	<key>441827</key>
	<string>广东清远市清新县</string>
	<key>441881</key>
	<string>广东清远市英德市</string>
	<key>441882</key>
	<string>广东清远市连州市</string>
	<key>441901</key>
	<string>广东东莞市市辖区</string>
	<key>442001</key>
	<string>广东中山市市辖区</string>
	<key>445101</key>
	<string>广东潮州市市辖区</string>
	<key>445102</key>
	<string>广东潮州市湘桥区</string>
	<key>445121</key>
	<string>广东潮州市潮安县</string>
	<key>445201</key>
	<string>广东揭阳市市辖区</string>
	<key>445202</key>
	<string>广东揭阳市榕城区</string>
	<key>445221</key>
	<string>广东揭阳市揭东县</string>
	<key>445222</key>
	<string>广东揭阳市揭西县</string>
	<key>445224</key>
	<string>广东揭阳市惠来县</string>
	<key>445281</key>
	<string>广东揭阳市普宁市</string>
	<key>445301</key>
	<string>广东云浮市市辖区</string>
	<key>445302</key>
	<string>广东云浮市云城区</string>
	<key>445321</key>
	<string>广东云浮市新兴县</string>
	<key>445322</key>
	<string>广东云浮市郁南县</string>
	<key>445323</key>
	<string>广东云浮市云安县</string>
	<key>445381</key>
	<string>广东云浮市罗定市</string>
</dict>
</plist>
