<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>360101</key>
	<string>江西南昌市市辖区</string>
	<key>360102</key>
	<string>江西南昌市东湖区</string>
	<key>360103</key>
	<string>江西南昌市西湖区</string>
	<key>360104</key>
	<string>江西南昌市青云谱区</string>
	<key>360105</key>
	<string>江西南昌市湾里区</string>
	<key>360111</key>
	<string>江西南昌市郊区</string>
	<key>360121</key>
	<string>江西南昌县</string>
	<key>360122</key>
	<string>江西新建县</string>
	<key>360123</key>
	<string>江西安义县</string>
	<key>360124</key>
	<string>江西进贤县</string>
	<key>360201</key>
	<string>江西景德镇市市辖区</string>
	<key>360202</key>
	<string>江西景德镇市昌江区</string>
	<key>360203</key>
	<string>江西景德镇市珠山区</string>
	<key>360222</key>
	<string>江西浮梁县</string>
	<key>360281</key>
	<string>江西乐平市</string>
	<key>360301</key>
	<string>江西萍乡市市辖区</string>
	<key>360302</key>
	<string>江西萍乡市安源区</string>
	<key>360311</key>
	<string>江西萍乡市上栗区</string>
	<key>360312</key>
	<string>江西萍乡市芦溪区</string>
	<key>360313</key>
	<string>江西萍乡市湘东区</string>
	<key>360321</key>
	<string>江西莲花县</string>
	<key>360322</key>
	<string>江西萍乡市上栗县</string>
	<key>360323</key>
	<string>江西萍乡市芦溪县</string>
	<key>360401</key>
	<string>江西九江市市辖区</string>
	<key>360402</key>
	<string>江西九江市庐山区</string>
	<key>360403</key>
	<string>江西浔阳县</string>
	<key>360421</key>
	<string>江西九江县</string>
	<key>360423</key>
	<string>江西武宁县</string>
	<key>360424</key>
	<string>江西修水县</string>
	<key>360425</key>
	<string>江西永修县</string>
	<key>360426</key>
	<string>江西德安县</string>
	<key>360427</key>
	<string>江西星子县</string>
	<key>360428</key>
	<string>江西都昌县</string>
	<key>360429</key>
	<string>江西湖口县</string>
	<key>360430</key>
	<string>江西彭泽县</string>
	<key>360481</key>
	<string>江西瑞昌市</string>
	<key>360501</key>
	<string>江西新余市市辖区</string>
	<key>360502</key>
	<string>江西新余市渝水区</string>
	<key>360521</key>
	<string>江西分宜县</string>
	<key>360601</key>
	<string>江西鹰潭市市辖区</string>
	<key>360602</key>
	<string>江西鹰潭市月湖区</string>
	<key>360621</key>
	<string>江西贵溪县</string>
	<key>360622</key>
	<string>江西余江县</string>
	<key>360681</key>
	<string>江西鹰潭市贵溪市</string>
	<key>360701</key>
	<string>江西赣州市市辖区</string>
	<key>360702</key>
	<string>江西赣州市章贡区</string>
	<key>360721</key>
	<string>江西赣州市赣县</string>
	<key>360722</key>
	<string>江西赣州市信丰县</string>
	<key>360723</key>
	<string>江西赣州市大余县</string>
	<key>360724</key>
	<string>江西赣州市上犹县</string>
	<key>360725</key>
	<string>江西赣州市崇义县</string>
	<key>360726</key>
	<string>江西赣州市安远县</string>
	<key>360727</key>
	<string>江西赣州市龙南县</string>
	<key>360728</key>
	<string>江西赣州市定南县</string>
	<key>360729</key>
	<string>江西赣州市全南县</string>
	<key>360730</key>
	<string>江西赣州市宁都县</string>
	<key>360731</key>
	<string>江西赣州市于都县</string>
	<key>360732</key>
	<string>江西赣州市兴国县</string>
	<key>360733</key>
	<string>江西赣州市会昌县</string>
	<key>360734</key>
	<string>江西赣州市寻乌县</string>
	<key>360735</key>
	<string>江西赣州市石城县</string>
	<key>360781</key>
	<string>江西赣州市瑞金市</string>
	<key>360782</key>
	<string>江西赣州市南康市</string>
	<key>362201</key>
	<string>江西宜春市</string>
	<key>362202</key>
	<string>江西丰城市</string>
	<key>362203</key>
	<string>江西樟树市</string>
	<key>362204</key>
	<string>江西高安市</string>
	<key>362226</key>
	<string>江西奉新县</string>
	<key>362227</key>
	<string>江西万载县</string>
	<key>362228</key>
	<string>江西上高县</string>
	<key>362229</key>
	<string>江西宜丰县</string>
	<key>362232</key>
	<string>江西靖安县</string>
	<key>362233</key>
	<string>江西铜鼓县</string>
	<key>362301</key>
	<string>江西上饶市</string>
	<key>362302</key>
	<string>江西德兴市</string>
	<key>362321</key>
	<string>江西上饶县</string>
	<key>362322</key>
	<string>江西广丰县</string>
	<key>362323</key>
	<string>江西玉山县</string>
	<key>362324</key>
	<string>江西铅山县</string>
	<key>362325</key>
	<string>江西横峰县</string>
	<key>362326</key>
	<string>江西弋阳县</string>
	<key>362329</key>
	<string>江西余干县</string>
	<key>362330</key>
	<string>江西波阳县</string>
	<key>362331</key>
	<string>江西万年县</string>
	<key>362334</key>
	<string>江西婺源县</string>
	<key>362401</key>
	<string>江西吉安市</string>
	<key>362402</key>
	<string>江西井岗山市</string>
	<key>362421</key>
	<string>江西吉安县</string>
	<key>362422</key>
	<string>江西吉水县</string>
	<key>362423</key>
	<string>江西峡江县</string>
	<key>362424</key>
	<string>江西新干县</string>
	<key>362425</key>
	<string>江西永丰县</string>
	<key>362426</key>
	<string>江西泰和县</string>
	<key>362427</key>
	<string>江西遂川县</string>
	<key>362428</key>
	<string>江西万安县</string>
	<key>362429</key>
	<string>江西安福县</string>
	<key>362430</key>
	<string>江西永新县</string>
	<key>362432</key>
	<string>江西宁冈县</string>
	<key>362502</key>
	<string>江西临川市</string>
	<key>362522</key>
	<string>江西南城县</string>
	<key>362523</key>
	<string>江西黎川县</string>
	<key>362524</key>
	<string>江西南丰县</string>
	<key>362525</key>
	<string>江西崇仁县</string>
	<key>362526</key>
	<string>江西乐安县</string>
	<key>362527</key>
	<string>江西宜黄县</string>
	<key>362528</key>
	<string>江西金溪县</string>
	<key>362529</key>
	<string>江西资溪县</string>
	<key>362531</key>
	<string>江西东乡县</string>
	<key>362532</key>
	<string>江西广昌县</string>
</dict>
</plist>
