<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>320101</key>
	<string>江苏南京市市辖区</string>
	<key>320102</key>
	<string>江苏南京市玄武区</string>
	<key>320103</key>
	<string>江苏南京市白下区</string>
	<key>320104</key>
	<string>江苏南京市秦淮区</string>
	<key>320105</key>
	<string>江苏南京市建邺区</string>
	<key>320106</key>
	<string>江苏南京市鼓楼区</string>
	<key>320107</key>
	<string>江苏南京市下关区</string>
	<key>320111</key>
	<string>江苏南京市浦口区</string>
	<key>320112</key>
	<string>江苏南京市大厂区</string>
	<key>320113</key>
	<string>江苏南京市栖霞区</string>
	<key>320114</key>
	<string>江苏南京市雨花台区</string>
	<key>320121</key>
	<string>江苏江宁县</string>
	<key>320122</key>
	<string>江苏江浦县</string>
	<key>320123</key>
	<string>江苏六合县</string>
	<key>320124</key>
	<string>江苏溧水县</string>
	<key>320125</key>
	<string>江苏高淳县</string>
	<key>320201</key>
	<string>江苏无锡市市辖区</string>
	<key>320202</key>
	<string>江苏无锡市崇安区</string>
	<key>320203</key>
	<string>江苏无锡市南长区</string>
	<key>320204</key>
	<string>江苏无锡市北塘区</string>
	<key>320211</key>
	<string>江苏无锡市郊区</string>
	<key>320212</key>
	<string>江苏无锡市马山区</string>
	<key>320222</key>
	<string>江苏无锡县</string>
	<key>320281</key>
	<string>江苏江阴市</string>
	<key>320282</key>
	<string>江苏宜兴市</string>
	<key>320283</key>
	<string>江苏无锡市锡山市</string>
	<key>320301</key>
	<string>江苏徐州市市辖区</string>
	<key>320302</key>
	<string>江苏徐州市鼓楼区</string>
	<key>320303</key>
	<string>江苏徐州市云龙区</string>
	<key>320304</key>
	<string>江苏徐州市矿区</string>
	<key>320305</key>
	<string>江苏徐州市贾汪区</string>
	<key>320311</key>
	<string>江苏徐州市泉山区</string>
	<key>320321</key>
	<string>江苏徐州市丰县</string>
	<key>320322</key>
	<string>江苏徐州市沛县</string>
	<key>320323</key>
	<string>江苏徐州市铜山县</string>
	<key>320324</key>
	<string>江苏徐州市睢宁县</string>
	<key>320381</key>
	<string>江苏徐州市新沂市</string>
	<key>320382</key>
	<string>江苏徐州市邳州市</string>
	<key>320401</key>
	<string>江苏常州市市辖区</string>
	<key>320402</key>
	<string>江苏常州市天宁区</string>
	<key>320404</key>
	<string>江苏常州市钟楼区</string>
	<key>320405</key>
	<string>江苏常州市戚墅堰区</string>
	<key>320411</key>
	<string>江苏常州市郊区</string>
	<key>320421</key>
	<string>江苏武进县</string>
	<key>320481</key>
	<string>江苏溧阳市</string>
	<key>320482</key>
	<string>江苏金坛市</string>
	<key>320483</key>
	<string>江苏常州市武进市</string>
	<key>320501</key>
	<string>江苏苏州市市辖区</string>
	<key>320502</key>
	<string>江苏苏州市沧浪区</string>
	<key>320503</key>
	<string>江苏苏州市平江区</string>
	<key>320504</key>
	<string>江苏苏州市金阊区</string>
	<key>320511</key>
	<string>江苏苏州市郊区</string>
	<key>320581</key>
	<string>江苏苏州市常熟市</string>
	<key>320582</key>
	<string>江苏苏州市张家港市</string>
	<key>320583</key>
	<string>江苏苏州市昆山市</string>
	<key>320584</key>
	<string>江苏苏州市吴江市</string>
	<key>320585</key>
	<string>江苏苏州市太仓市</string>
	<key>320586</key>
	<string>江苏苏州市吴县市</string>
	<key>320601</key>
	<string>江苏南通市市辖区</string>
	<key>320602</key>
	<string>江苏南通市崇川区</string>
	<key>320611</key>
	<string>江苏南通市港闸区</string>
	<key>320621</key>
	<string>江苏南通市海安县</string>
	<key>320623</key>
	<string>江苏南通市如东县</string>
	<key>320681</key>
	<string>江苏南通市启东市</string>
	<key>320682</key>
	<string>江苏南通市如皋市</string>
	<key>320683</key>
	<string>江苏南通市通州市</string>
	<key>320684</key>
	<string>江苏南通市海门市</string>
	<key>320701</key>
	<string>江苏连云港市市辖区</string>
	<key>320703</key>
	<string>江苏连云港市连云区</string>
	<key>320704</key>
	<string>江苏连云港市云台区</string>
	<key>320705</key>
	<string>江苏连云港市新浦区</string>
	<key>320706</key>
	<string>江苏连云港市海州区</string>
	<key>320721</key>
	<string>江苏连云港市赣榆县</string>
	<key>320722</key>
	<string>江苏连云港市东海县</string>
	<key>320723</key>
	<string>江苏连云港市灌云县</string>
	<key>320724</key>
	<string>江苏连云港市灌南县</string>
	<key>320801</key>
	<string>江苏淮阴市市辖区</string>
	<key>320802</key>
	<string>江苏淮阴市清河区</string>
	<key>320811</key>
	<string>江苏淮阴市清浦区</string>
	<key>320821</key>
	<string>江苏淮阴市淮阴县</string>
	<key>320826</key>
	<string>江苏淮阴市涟水县</string>
	<key>320829</key>
	<string>江苏淮阴市洪泽县</string>
	<key>320830</key>
	<string>江苏淮阴市盱眙县</string>
	<key>320831</key>
	<string>江苏淮阴市金湖县</string>
	<key>320882</key>
	<string>江苏淮阴市淮安市</string>
	<key>320901</key>
	<string>江苏盐城市市辖区</string>
	<key>320902</key>
	<string>江苏盐城市城区</string>
	<key>320911</key>
	<string>江苏盐城市郊区</string>
	<key>320921</key>
	<string>江苏盐城市响水县</string>
	<key>320922</key>
	<string>江苏盐城市滨海县</string>
	<key>320923</key>
	<string>江苏盐城市阜宁县</string>
	<key>320924</key>
	<string>江苏盐城市射阳县</string>
	<key>320925</key>
	<string>江苏盐城市建湖县</string>
	<key>320928</key>
	<string>江苏盐城市盐都县</string>
	<key>320981</key>
	<string>江苏盐城市东台市</string>
	<key>320982</key>
	<string>江苏盐城市大丰市</string>
	<key>321001</key>
	<string>江苏扬州市市辖区</string>
	<key>321002</key>
	<string>江苏扬州市广陵区</string>
	<key>321011</key>
	<string>江苏扬州市郊区</string>
	<key>321023</key>
	<string>江苏扬州市宝应县</string>
	<key>321026</key>
	<string>江苏江都县</string>
	<key>321027</key>
	<string>江苏邗江县</string>
	<key>321028</key>
	<string>江苏泰县</string>
	<key>321081</key>
	<string>江苏仪征市</string>
	<key>321082</key>
	<string>江苏泰州市</string>
	<key>321083</key>
	<string>江苏兴化市</string>
	<key>321084</key>
	<string>江苏高邮市</string>
	<key>321085</key>
	<string>江苏泰兴市</string>
	<key>321086</key>
	<string>江苏靖江市</string>
	<key>321088</key>
	<string>江苏扬州市江都市</string>
	<key>321101</key>
	<string>江苏镇江市市辖区</string>
	<key>321102</key>
	<string>江苏镇江市京口区</string>
	<key>321111</key>
	<string>江苏镇江市润州区</string>
	<key>321121</key>
	<string>江苏镇江市丹徒县</string>
	<key>321181</key>
	<string>江苏镇江市丹阳市</string>
	<key>321182</key>
	<string>江苏镇江市扬中市</string>
	<key>321183</key>
	<string>江苏镇江市句容市</string>
	<key>321201</key>
	<string>江苏泰州市市辖区</string>
	<key>321202</key>
	<string>江苏泰州市海陵区</string>
	<key>321203</key>
	<string>江苏泰州市高港区</string>
	<key>321281</key>
	<string>江苏泰州市兴化市</string>
	<key>321282</key>
	<string>江苏泰州市靖江市</string>
	<key>321283</key>
	<string>江苏泰州市泰兴市</string>
	<key>321284</key>
	<string>江苏泰州市姜堰市</string>
	<key>321301</key>
	<string>江苏宿迁市市辖区</string>
	<key>321302</key>
	<string>江苏宿迁市宿城区</string>
	<key>321321</key>
	<string>江苏宿迁市宿豫县</string>
	<key>321322</key>
	<string>江苏宿迁市沭阳县</string>
	<key>321323</key>
	<string>江苏宿迁市泗阳县</string>
	<key>321324</key>
	<string>江苏宿迁市泗洪县</string>
</dict>
</plist>
