<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>410101</key>
	<string>河南郑州市市辖区</string>
	<key>410102</key>
	<string>河南郑州市中原区</string>
	<key>410103</key>
	<string>河南郑州市二七区</string>
	<key>410104</key>
	<string>河南郑州市管城回族区</string>
	<key>410105</key>
	<string>河南郑州市金水区</string>
	<key>410106</key>
	<string>河南郑州市上街区</string>
	<key>410108</key>
	<string>河南郑州市邙山区</string>
	<key>410121</key>
	<string>河南荥阳县</string>
	<key>410122</key>
	<string>河南郑州市中牟县</string>
	<key>410123</key>
	<string>河南新郑县</string>
	<key>410125</key>
	<string>河南登封县</string>
	<key>410126</key>
	<string>河南密县</string>
	<key>410181</key>
	<string>河南郑州市巩义市</string>
	<key>410182</key>
	<string>河南郑州市荥阳市</string>
	<key>410183</key>
	<string>河南郑州市新密市</string>
	<key>410184</key>
	<string>河南郑州市新郑市</string>
	<key>410185</key>
	<string>河南郑州市登封市</string>
	<key>410201</key>
	<string>河南开封市市辖区</string>
	<key>410202</key>
	<string>河南开封市龙亭区</string>
	<key>410203</key>
	<string>河南开封市顺河回族区</string>
	<key>410204</key>
	<string>河南开封市鼓楼区</string>
	<key>410205</key>
	<string>河南开封市南关区</string>
	<key>410211</key>
	<string>河南开封市郊区</string>
	<key>410221</key>
	<string>河南开封市杞县</string>
	<key>410222</key>
	<string>河南开封市通许县</string>
	<key>410223</key>
	<string>河南开封市尉氏县</string>
	<key>410224</key>
	<string>河南开封市开封县</string>
	<key>410225</key>
	<string>河南开封市兰考县</string>
	<key>410301</key>
	<string>河南洛阳市市辖区</string>
	<key>410302</key>
	<string>河南洛阳市老城区</string>
	<key>410303</key>
	<string>河南洛阳市西工区</string>
	<key>410304</key>
	<string>河南洛阳市廛河回族区</string>
	<key>410305</key>
	<string>河南洛阳市涧西区</string>
	<key>410306</key>
	<string>河南洛阳市吉利区</string>
	<key>410311</key>
	<string>河南洛阳市郊区</string>
	<key>410322</key>
	<string>河南洛阳市孟津县</string>
	<key>410323</key>
	<string>河南洛阳市新安县</string>
	<key>410324</key>
	<string>河南洛阳市栾川县</string>
	<key>410325</key>
	<string>河南洛阳市嵩县</string>
	<key>410326</key>
	<string>河南洛阳市汝阳县</string>
	<key>410327</key>
	<string>河南洛阳市宜阳县</string>
	<key>410328</key>
	<string>河南洛阳市洛宁县</string>
	<key>410329</key>
	<string>河南洛阳市伊川县</string>
	<key>410381</key>
	<string>河南洛阳市偃师市</string>
	<key>410401</key>
	<string>河南平顶山市市辖区</string>
	<key>410402</key>
	<string>河南平顶山市新华区</string>
	<key>410403</key>
	<string>河南平顶山市卫东区</string>
	<key>410404</key>
	<string>河南平顶山市石龙区</string>
	<key>410411</key>
	<string>河南平顶山市湛河区</string>
	<key>410421</key>
	<string>河南平顶山市宝丰县</string>
	<key>410422</key>
	<string>河南平顶山市叶县</string>
	<key>410423</key>
	<string>河南平顶山市鲁山县</string>
	<key>410425</key>
	<string>河南平顶山市郏县</string>
	<key>410426</key>
	<string>河南襄城县</string>
	<key>410481</key>
	<string>河南平顶山市舞钢市</string>
	<key>410482</key>
	<string>河南平顶山市汝州市</string>
	<key>410501</key>
	<string>河南安阳市市辖区</string>
	<key>410502</key>
	<string>河南安阳市文峰区</string>
	<key>410503</key>
	<string>河南安阳市北关区</string>
	<key>410504</key>
	<string>河南安阳市铁西区</string>
	<key>410511</key>
	<string>河南安阳市郊区</string>
	<key>410521</key>
	<string>河南林县</string>
	<key>410522</key>
	<string>河南安阳市安阳县</string>
	<key>410523</key>
	<string>河南安阳市汤阴县</string>
	<key>410526</key>
	<string>河南安阳市滑县</string>
	<key>410527</key>
	<string>河南安阳市内黄县</string>
	<key>410581</key>
	<string>河南安阳市林州市</string>
	<key>410601</key>
	<string>河南鹤壁市市辖区</string>
	<key>410602</key>
	<string>河南鹤壁市鹤山区</string>
	<key>410603</key>
	<string>河南鹤壁市山城区</string>
	<key>410611</key>
	<string>河南鹤壁市郊区</string>
	<key>410621</key>
	<string>河南鹤壁市浚县</string>
	<key>410622</key>
	<string>河南鹤壁市淇县</string>
	<key>410701</key>
	<string>河南新乡市市辖区</string>
	<key>410702</key>
	<string>河南新乡市红旗区</string>
	<key>410703</key>
	<string>河南新乡市新华区</string>
	<key>410704</key>
	<string>河南新乡市北站区</string>
	<key>410711</key>
	<string>河南新乡市郊区</string>
	<key>410721</key>
	<string>河南新乡市新乡县</string>
	<key>410724</key>
	<string>河南新乡市获嘉县</string>
	<key>410725</key>
	<string>河南新乡市原阳县</string>
	<key>410726</key>
	<string>河南新乡市延津县</string>
	<key>410727</key>
	<string>河南新乡市封丘县</string>
	<key>410728</key>
	<string>河南新乡市长垣县</string>
	<key>410781</key>
	<string>河南新乡市卫辉市</string>
	<key>410782</key>
	<string>河南新乡市辉县市</string>
	<key>410801</key>
	<string>河南焦作市市辖区</string>
	<key>410802</key>
	<string>河南焦作市解放区</string>
	<key>410803</key>
	<string>河南焦作市中站区</string>
	<key>410804</key>
	<string>河南焦作市马村区</string>
	<key>410811</key>
	<string>河南焦作市山阳区</string>
	<key>410821</key>
	<string>河南焦作市修武县</string>
	<key>410822</key>
	<string>河南焦作市博爱县</string>
	<key>410823</key>
	<string>河南焦作市武陟县</string>
	<key>410825</key>
	<string>河南焦作市温县</string>
	<key>410881</key>
	<string>河南焦作市济源市</string>
	<key>410882</key>
	<string>河南焦作市沁阳市</string>
	<key>410883</key>
	<string>河南焦作市孟州市</string>
	<key>410901</key>
	<string>河南濮阳市市辖区</string>
	<key>410902</key>
	<string>河南濮阳市市区</string>
	<key>410922</key>
	<string>河南濮阳市清丰县</string>
	<key>410923</key>
	<string>河南濮阳市南乐县</string>
	<key>410926</key>
	<string>河南濮阳市范县</string>
	<key>410927</key>
	<string>河南濮阳市台前县</string>
	<key>410928</key>
	<string>河南濮阳市濮阳县</string>
	<key>411001</key>
	<string>河南许昌市市辖区</string>
	<key>411002</key>
	<string>河南许昌市魏都区</string>
	<key>411023</key>
	<string>河南许昌市许昌县</string>
	<key>411024</key>
	<string>河南许昌市鄢陵县</string>
	<key>411025</key>
	<string>河南许昌市襄城县</string>
	<key>411081</key>
	<string>河南许昌市禹州市</string>
	<key>411082</key>
	<string>河南许昌市长葛市</string>
	<key>411101</key>
	<string>河南漯河市市辖区</string>
	<key>411102</key>
	<string>河南漯河市源汇区</string>
	<key>411121</key>
	<string>河南漯河市舞阳县</string>
	<key>411122</key>
	<string>河南漯河市临颍县</string>
	<key>411123</key>
	<string>河南漯河市郾城县</string>
	<key>411201</key>
	<string>河南三门峡市市辖区</string>
	<key>411202</key>
	<string>河南三门峡市湖滨区</string>
	<key>411221</key>
	<string>河南三门峡市渑池县</string>
	<key>411222</key>
	<string>河南三门峡市陕县</string>
	<key>411224</key>
	<string>河南三门峡市卢氏县</string>
	<key>411281</key>
	<string>河南三门峡市义马市</string>
	<key>411282</key>
	<string>河南三门峡市灵宝市</string>
	<key>411301</key>
	<string>河南南阳市市辖区</string>
	<key>411302</key>
	<string>河南南阳市宛城区</string>
	<key>411303</key>
	<string>河南南阳市卧龙区</string>
	<key>411321</key>
	<string>河南南阳市南召县</string>
	<key>411322</key>
	<string>河南南阳市方城县</string>
	<key>411323</key>
	<string>河南南阳市西峡县</string>
	<key>411324</key>
	<string>河南南阳市镇平县</string>
	<key>411325</key>
	<string>河南南阳市内乡县</string>
	<key>411326</key>
	<string>河南南阳市淅川县</string>
	<key>411327</key>
	<string>河南南阳市社旗县</string>
	<key>411328</key>
	<string>河南南阳市唐河县</string>
	<key>411329</key>
	<string>河南南阳市新野县</string>
	<key>411330</key>
	<string>河南南阳市桐柏县</string>
	<key>411381</key>
	<string>河南南阳市邓州市</string>
	<key>411401</key>
	<string>河南商丘市市辖区</string>
	<key>411402</key>
	<string>河南商丘市梁园区</string>
	<key>411403</key>
	<string>河南商丘市睢阳区</string>
	<key>411421</key>
	<string>河南商丘市民权县</string>
	<key>411422</key>
	<string>河南商丘市睢县</string>
	<key>411423</key>
	<string>河南商丘市宁陵县</string>
	<key>411424</key>
	<string>河南商丘市柘城县</string>
	<key>411425</key>
	<string>河南商丘市虞城县</string>
	<key>411426</key>
	<string>河南商丘市夏邑县</string>
	<key>411481</key>
	<string>河南商丘市永城市</string>
	<key>411501</key>
	<string>河南信阳市市辖区</string>
	<key>411502</key>
	<string>河南信阳市师河区</string>
	<key>411503</key>
	<string>河南信阳市平桥区</string>
	<key>411521</key>
	<string>河南信阳市罗山县</string>
	<key>411522</key>
	<string>河南信阳市光山县</string>
	<key>411523</key>
	<string>河南信阳市新县</string>
	<key>411524</key>
	<string>河南信阳市商城县</string>
	<key>411525</key>
	<string>河南信阳市固始县</string>
	<key>411526</key>
	<string>河南信阳市潢川县</string>
	<key>411527</key>
	<string>河南信阳市淮滨县</string>
	<key>411528</key>
	<string>河南信阳市息县</string>
	<key>412301</key>
	<string>河南商丘市</string>
	<key>412321</key>
	<string>河南虞城县</string>
	<key>412322</key>
	<string>河南商丘县</string>
	<key>412323</key>
	<string>河南民权县</string>
	<key>412324</key>
	<string>河南宁陵县</string>
	<key>412325</key>
	<string>河南睢县</string>
	<key>412326</key>
	<string>河南夏邑县</string>
	<key>412327</key>
	<string>河南柘城县</string>
	<key>412328</key>
	<string>河南永城县</string>
	<key>412701</key>
	<string>河南周口地区周口市</string>
	<key>412702</key>
	<string>河南周口地区项城市</string>
	<key>412721</key>
	<string>河南周口地区扶沟县</string>
	<key>412722</key>
	<string>河南周口地区西华县</string>
	<key>412723</key>
	<string>河南周口地区商水县</string>
	<key>412724</key>
	<string>河南周口地区太康县</string>
	<key>412725</key>
	<string>河南周口地区鹿邑县</string>
	<key>412726</key>
	<string>河南周口地区郸城县</string>
	<key>412727</key>
	<string>河南周口地区淮阳县</string>
	<key>412728</key>
	<string>河南周口地区沈丘县</string>
	<key>412801</key>
	<string>河南驻马店地区驻马店市</string>
	<key>412821</key>
	<string>河南驻马店地区确山县</string>
	<key>412822</key>
	<string>河南驻马店地区泌阳县</string>
	<key>412823</key>
	<string>河南驻马店地区遂平县</string>
	<key>412824</key>
	<string>河南驻马店地区西平县</string>
	<key>412825</key>
	<string>河南驻马店地区上蔡县</string>
	<key>412826</key>
	<string>河南驻马店地区汝南县</string>
	<key>412827</key>
	<string>河南驻马店地区平舆县</string>
	<key>412828</key>
	<string>河南驻马店地区新蔡县</string>
	<key>412829</key>
	<string>河南驻马店地区正阳县</string>
	<key>412901</key>
	<string>河南南阳市</string>
	<key>412902</key>
	<string>河南邓州市</string>
	<key>412921</key>
	<string>河南南召县</string>
	<key>412922</key>
	<string>河南方城县</string>
	<key>412923</key>
	<string>河南西峡县</string>
	<key>412924</key>
	<string>河南南阳县</string>
	<key>412925</key>
	<string>河南镇平县</string>
	<key>412926</key>
	<string>河南内乡县</string>
	<key>412927</key>
	<string>河南淅川县</string>
	<key>412928</key>
	<string>河南社旗县</string>
	<key>412929</key>
	<string>河南唐河县</string>
	<key>412931</key>
	<string>河南新野县</string>
	<key>412932</key>
	<string>河南桐柏县</string>
	<key>413001</key>
	<string>河南信阳市</string>
	<key>413021</key>
	<string>河南息县</string>
	<key>413022</key>
	<string>河南淮滨县</string>
	<key>413023</key>
	<string>河南信阳县</string>
	<key>413024</key>
	<string>河南横川县</string>
	<key>413025</key>
	<string>河南光山县</string>
	<key>413026</key>
	<string>河南固始县</string>
	<key>413027</key>
	<string>河南商城县</string>
	<key>413028</key>
	<string>河南罗山县</string>
	<key>413029</key>
	<string>河南新县</string>
</dict>
</plist>
