<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>130101</key>
	<string>河北石家庄市市辖区</string>
	<key>130102</key>
	<string>河北石家庄市长安区</string>
	<key>130103</key>
	<string>河北石家庄市桥东区</string>
	<key>130104</key>
	<string>河北石家庄市桥西区</string>
	<key>130105</key>
	<string>河北石家庄市新华区</string>
	<key>130106</key>
	<string>河北石家庄市郊区</string>
	<key>130107</key>
	<string>河北石家庄市井陉矿区</string>
	<key>130121</key>
	<string>河北石家庄市井陉县</string>
	<key>130123</key>
	<string>河北石家庄市正定县</string>
	<key>130124</key>
	<string>河北石家庄市栾城县</string>
	<key>130125</key>
	<string>河北石家庄市行唐县</string>
	<key>130126</key>
	<string>河北石家庄市灵寿县</string>
	<key>130127</key>
	<string>河北石家庄市高邑县</string>
	<key>130128</key>
	<string>河北石家庄市深泽县</string>
	<key>130129</key>
	<string>河北石家庄市赞皇县</string>
	<key>130130</key>
	<string>河北石家庄市无极县</string>
	<key>130131</key>
	<string>河北石家庄市平山县</string>
	<key>130132</key>
	<string>河北石家庄市元氏县</string>
	<key>130133</key>
	<string>河北石家庄市赵县</string>
	<key>130181</key>
	<string>河北石家庄市辛集市</string>
	<key>130182</key>
	<string>河北石家庄市藁城市</string>
	<key>130183</key>
	<string>河北石家庄市晋州市</string>
	<key>130184</key>
	<string>河北石家庄市新乐市</string>
	<key>130185</key>
	<string>河北石家庄市鹿泉市</string>
	<key>130201</key>
	<string>河北唐山市市辖区</string>
	<key>130202</key>
	<string>河北唐山市路南区</string>
	<key>130203</key>
	<string>河北唐山市路北区</string>
	<key>130204</key>
	<string>河北唐山市东矿区</string>
	<key>130205</key>
	<string>河北唐山市开平区</string>
	<key>130206</key>
	<string>河北唐山市新区</string>
	<key>130221</key>
	<string>河北唐山市丰润县</string>
	<key>130223</key>
	<string>河北唐山市滦县</string>
	<key>130224</key>
	<string>河北唐山市滦南县</string>
	<key>130225</key>
	<string>河北唐山市乐亭县</string>
	<key>130227</key>
	<string>河北唐山市迁西县</string>
	<key>130229</key>
	<string>河北唐山市玉田县</string>
	<key>130230</key>
	<string>河北唐山市唐海县</string>
	<key>130281</key>
	<string>河北唐山市遵化市</string>
	<key>130282</key>
	<string>河北唐山市丰南市</string>
	<key>130283</key>
	<string>河北唐山市迁安市</string>
	<key>130301</key>
	<string>河北秦皇岛市市辖区</string>
	<key>130302</key>
	<string>河北秦皇岛市海港区</string>
	<key>130303</key>
	<string>河北秦皇岛市山海关区</string>
	<key>130304</key>
	<string>河北秦皇岛市北戴河区</string>
	<key>130321</key>
	<string>河北秦皇岛市青龙满族自治县</string>
	<key>130322</key>
	<string>河北秦皇岛市昌黎县</string>
	<key>130323</key>
	<string>河北秦皇岛市抚宁县</string>
	<key>130324</key>
	<string>河北秦皇岛市卢龙县</string>
	<key>130401</key>
	<string>河北邯郸市市辖区</string>
	<key>130402</key>
	<string>河北邯郸市邯山区</string>
	<key>130403</key>
	<string>河北邯郸市丛台区</string>
	<key>130404</key>
	<string>河北邯郸市复兴区</string>
	<key>130406</key>
	<string>河北邯郸市峰峰矿区</string>
	<key>130421</key>
	<string>河北邯郸市邯郸县</string>
	<key>130423</key>
	<string>河北邯郸市临漳县</string>
	<key>130424</key>
	<string>河北邯郸市成安县</string>
	<key>130425</key>
	<string>河北邯郸市大名县</string>
	<key>130426</key>
	<string>河北邯郸市涉县</string>
	<key>130427</key>
	<string>河北邯郸市磁县</string>
	<key>130428</key>
	<string>河北邯郸市肥乡县</string>
	<key>130429</key>
	<string>河北邯郸市永年县</string>
	<key>130430</key>
	<string>河北邯郸市邱县</string>
	<key>130431</key>
	<string>河北邯郸市鸡泽县</string>
	<key>130432</key>
	<string>河北邯郸市广平县</string>
	<key>130433</key>
	<string>河北邯郸市馆陶县</string>
	<key>130434</key>
	<string>河北邯郸市魏县</string>
	<key>130435</key>
	<string>河北邯郸市曲周县</string>
	<key>130481</key>
	<string>河北邯郸市武安市</string>
	<key>130501</key>
	<string>河北邢台市市辖区</string>
	<key>130502</key>
	<string>河北邢台市桥东区</string>
	<key>130503</key>
	<string>河北邢台市桥西区</string>
	<key>130521</key>
	<string>河北邢台市邢台县</string>
	<key>130522</key>
	<string>河北邢台市临城县</string>
	<key>130523</key>
	<string>河北邢台市内丘县</string>
	<key>130524</key>
	<string>河北邢台市柏乡县</string>
	<key>130525</key>
	<string>河北邢台市隆尧县</string>
	<key>130526</key>
	<string>河北邢台市任县</string>
	<key>130527</key>
	<string>河北邢台市南和县</string>
	<key>130528</key>
	<string>河北邢台市宁晋县</string>
	<key>130529</key>
	<string>河北邢台市巨鹿县</string>
	<key>130530</key>
	<string>河北邢台市新河县</string>
	<key>130531</key>
	<string>河北邢台市广宗县</string>
	<key>130532</key>
	<string>河北邢台市平乡县</string>
	<key>130533</key>
	<string>河北邢台市威县</string>
	<key>130534</key>
	<string>河北邢台市清河县</string>
	<key>130535</key>
	<string>河北邢台市临西县</string>
	<key>130581</key>
	<string>河北邢台市南宫市</string>
	<key>130582</key>
	<string>河北邢台市沙河市</string>
	<key>130601</key>
	<string>河北保定市市辖区</string>
	<key>130602</key>
	<string>河北保定市新市区</string>
	<key>130603</key>
	<string>河北保定市北市区</string>
	<key>130604</key>
	<string>河北保定市南市区</string>
	<key>130621</key>
	<string>河北保定市满城县</string>
	<key>130622</key>
	<string>河北保定市清苑县</string>
	<key>130623</key>
	<string>河北保定市涞水县</string>
	<key>130624</key>
	<string>河北保定市阜平县</string>
	<key>130625</key>
	<string>河北保定市徐水县</string>
	<key>130626</key>
	<string>河北保定市定兴县</string>
	<key>130627</key>
	<string>河北保定市唐县</string>
	<key>130628</key>
	<string>河北保定市高阳县</string>
	<key>130629</key>
	<string>河北保定市容城县</string>
	<key>130630</key>
	<string>河北保定市涞源县</string>
	<key>130631</key>
	<string>河北保定市望都县</string>
	<key>130632</key>
	<string>河北保定市安新县</string>
	<key>130633</key>
	<string>河北保定市易县</string>
	<key>130634</key>
	<string>河北保定市曲阳县</string>
	<key>130635</key>
	<string>河北保定市蠡县</string>
	<key>130636</key>
	<string>河北保定市顺平县</string>
	<key>130637</key>
	<string>河北保定市博野县</string>
	<key>130638</key>
	<string>河北保定市雄县</string>
	<key>130681</key>
	<string>河北保定市涿州市</string>
	<key>130682</key>
	<string>河北保定市定州市</string>
	<key>130683</key>
	<string>河北保定市安国市</string>
	<key>130684</key>
	<string>河北保定市高碑店市</string>
	<key>130701</key>
	<string>河北张家口市市辖区</string>
	<key>130702</key>
	<string>河北张家口市桥东区</string>
	<key>130703</key>
	<string>河北张家口市桥西区</string>
	<key>130705</key>
	<string>河北张家口市宣化区</string>
	<key>130706</key>
	<string>河北张家口市下花园区</string>
	<key>130721</key>
	<string>河北张家口市宣化县</string>
	<key>130722</key>
	<string>河北张家口市张北县</string>
	<key>130723</key>
	<string>河北张家口市康保县</string>
	<key>130724</key>
	<string>河北张家口市沽源县</string>
	<key>130725</key>
	<string>河北张家口市尚义县</string>
	<key>130726</key>
	<string>河北张家口市蔚县</string>
	<key>130727</key>
	<string>河北张家口市阳原县</string>
	<key>130728</key>
	<string>河北张家口市怀安县</string>
	<key>130729</key>
	<string>河北张家口市万全县</string>
	<key>130730</key>
	<string>河北张家口市怀来县</string>
	<key>130731</key>
	<string>河北张家口市涿鹿县</string>
	<key>130732</key>
	<string>河北张家口市赤城县</string>
	<key>130733</key>
	<string>河北张家口市崇礼县</string>
	<key>130801</key>
	<string>河北承德市市辖区</string>
	<key>130802</key>
	<string>河北承德市双桥区</string>
	<key>130803</key>
	<string>河北承德市双滦区</string>
	<key>130804</key>
	<string>河北承德市鹰手营子矿区</string>
	<key>130821</key>
	<string>河北承德市承德县</string>
	<key>130822</key>
	<string>河北承德市兴隆县</string>
	<key>130823</key>
	<string>河北承德市平泉县</string>
	<key>130824</key>
	<string>河北承德市滦平县</string>
	<key>130825</key>
	<string>河北承德市隆化县</string>
	<key>130826</key>
	<string>河北承德市丰宁满族自治县</string>
	<key>130827</key>
	<string>河北承德市宽城满族自治县</string>
	<key>130828</key>
	<string>河北承德市围场满族蒙古族自治县</string>
	<key>130901</key>
	<string>河北沧洲市市辖区</string>
	<key>130902</key>
	<string>河北沧洲市新华区</string>
	<key>130903</key>
	<string>河北沧洲市运河区</string>
	<key>130904</key>
	<string>河北沧洲市郊区</string>
	<key>130921</key>
	<string>河北沧州市沧县</string>
	<key>130922</key>
	<string>河北沧州市青县</string>
	<key>130923</key>
	<string>河北沧州市东光县</string>
	<key>130924</key>
	<string>河北沧州市海兴县</string>
	<key>130925</key>
	<string>河北沧州市盐山县</string>
	<key>130926</key>
	<string>河北沧州市肃宁县</string>
	<key>130927</key>
	<string>河北沧州市南皮县</string>
	<key>130928</key>
	<string>河北沧州市吴桥县</string>
	<key>130929</key>
	<string>河北沧州市献县</string>
	<key>130930</key>
	<string>河北沧州市孟村回族自治县</string>
	<key>130981</key>
	<string>河北沧州市泊头市</string>
	<key>130982</key>
	<string>河北沧州市任丘市</string>
	<key>130983</key>
	<string>河北沧州市黄骅市</string>
	<key>130984</key>
	<string>河北沧州市河间市</string>
	<key>131001</key>
	<string>河北廊坊市市辖区</string>
	<key>131002</key>
	<string>河北廊坊市安次区</string>
	<key>131022</key>
	<string>河北廊坊市固安县</string>
	<key>131023</key>
	<string>河北廊坊市永清县</string>
	<key>131024</key>
	<string>河北廊坊市香河县</string>
	<key>131025</key>
	<string>河北廊坊市大城县</string>
	<key>131026</key>
	<string>河北廊坊市文安县</string>
	<key>131028</key>
	<string>河北廊坊市大厂回族自治县</string>
	<key>131081</key>
	<string>河北廊坊市霸州市</string>
	<key>131082</key>
	<string>河北廊坊市三河市</string>
	<key>131101</key>
	<string>河北衡水市市辖区</string>
	<key>131102</key>
	<string>河北衡水市桃城区</string>
	<key>131121</key>
	<string>河北衡水市枣强县</string>
	<key>131122</key>
	<string>河北衡水市武邑县</string>
	<key>131123</key>
	<string>河北衡水市武强县</string>
	<key>131124</key>
	<string>河北衡水市饶阳县</string>
	<key>131125</key>
	<string>河北衡水市安平县</string>
	<key>131126</key>
	<string>河北衡水市故城县</string>
	<key>131127</key>
	<string>河北衡水市景县</string>
	<key>131128</key>
	<string>河北衡水市阜城县</string>
	<key>131181</key>
	<string>河北衡水市冀州市</string>
	<key>131182</key>
	<string>河北衡水市深州市</string>
	<key>132401</key>
	<string>河北定州市</string>
	<key>132402</key>
	<string>河北涿州市</string>
	<key>132403</key>
	<string>河北安国市</string>
	<key>132404</key>
	<string>河北高碑店市</string>
	<key>132421</key>
	<string>河北易县</string>
	<key>132423</key>
	<string>河北徐水县</string>
	<key>132424</key>
	<string>河北涞源县</string>
	<key>132425</key>
	<string>河北定兴县</string>
	<key>132426</key>
	<string>河北顺平县</string>
	<key>132427</key>
	<string>河北唐县</string>
	<key>132428</key>
	<string>河北望都县</string>
	<key>132429</key>
	<string>河北涞水县</string>
	<key>132432</key>
	<string>河北高阳县</string>
	<key>132433</key>
	<string>河北安新县</string>
	<key>132434</key>
	<string>河北雄县</string>
	<key>132435</key>
	<string>河北容城县</string>
	<key>132437</key>
	<string>河北曲阳县</string>
	<key>132438</key>
	<string>河北阜平县</string>
	<key>132441</key>
	<string>河北博野县</string>
	<key>132442</key>
	<string>河北蠡县</string>
</dict>
</plist>
