<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>330101</key>
	<string>浙江杭州市市辖区</string>
	<key>330102</key>
	<string>浙江杭州市上城区</string>
	<key>330103</key>
	<string>浙江杭州市下城区</string>
	<key>330104</key>
	<string>浙江杭州市江干区</string>
	<key>330105</key>
	<string>浙江杭州市拱墅区</string>
	<key>330106</key>
	<string>浙江杭州市西湖区</string>
	<key>330108</key>
	<string>浙江杭州市滨江区</string>
	<key>330122</key>
	<string>浙江杭州市桐庐县</string>
	<key>330127</key>
	<string>浙江杭州市淳安县</string>
	<key>330181</key>
	<string>浙江杭州市萧山市</string>
	<key>330182</key>
	<string>浙江杭州市建德市</string>
	<key>330183</key>
	<string>浙江杭州市富阳市</string>
	<key>330184</key>
	<string>浙江杭州市余杭市</string>
	<key>330185</key>
	<string>浙江杭州市临安市</string>
	<key>330201</key>
	<string>浙江宁波市市辖区</string>
	<key>330203</key>
	<string>浙江宁波市海曙区</string>
	<key>330204</key>
	<string>浙江宁波市江东区</string>
	<key>330205</key>
	<string>浙江宁波市江北区</string>
	<key>330206</key>
	<string>浙江宁波市北仓区</string>
	<key>330211</key>
	<string>浙江宁波市镇海区</string>
	<key>330225</key>
	<string>浙江宁波市象山县</string>
	<key>330226</key>
	<string>浙江宁波市宁海县</string>
	<key>330227</key>
	<string>浙江宁波市鄞县</string>
	<key>330281</key>
	<string>浙江宁波市余姚市</string>
	<key>330282</key>
	<string>浙江宁波市慈溪市</string>
	<key>330283</key>
	<string>浙江宁波市奉化市</string>
	<key>330301</key>
	<string>浙江温州市市辖区</string>
	<key>330302</key>
	<string>浙江温州市鹿城区</string>
	<key>330303</key>
	<string>浙江温州市龙湾区</string>
	<key>330304</key>
	<string>浙江温州市瓯海区</string>
	<key>330322</key>
	<string>浙江温州市洞头县</string>
	<key>330324</key>
	<string>浙江温州市永嘉县</string>
	<key>330326</key>
	<string>浙江温州市平阳县</string>
	<key>330327</key>
	<string>浙江温州市苍南县</string>
	<key>330328</key>
	<string>浙江温州市文成县</string>
	<key>330329</key>
	<string>浙江温州市泰顺县</string>
	<key>330381</key>
	<string>浙江温州市瑞安市</string>
	<key>330382</key>
	<string>浙江温州市乐清市</string>
	<key>330401</key>
	<string>浙江嘉兴市市辖区</string>
	<key>330402</key>
	<string>浙江嘉兴市秀城区</string>
	<key>330411</key>
	<string>浙江嘉兴市郊区</string>
	<key>330421</key>
	<string>浙江嘉兴市嘉善县</string>
	<key>330424</key>
	<string>浙江嘉兴市海盐县</string>
	<key>330481</key>
	<string>浙江嘉兴市海宁市</string>
	<key>330482</key>
	<string>浙江嘉兴市平湖市</string>
	<key>330483</key>
	<string>浙江嘉兴市桐乡市</string>
	<key>330501</key>
	<string>浙江湖洲市市辖区</string>
	<key>330521</key>
	<string>浙江湖州市德清县</string>
	<key>330522</key>
	<string>浙江湖州市长兴县</string>
	<key>330523</key>
	<string>浙江湖州市安吉县</string>
	<key>330601</key>
	<string>浙江绍兴市市辖区</string>
	<key>330602</key>
	<string>浙江绍兴市越城区</string>
	<key>330621</key>
	<string>浙江绍兴市绍兴县</string>
	<key>330624</key>
	<string>浙江绍兴市新昌县</string>
	<key>330681</key>
	<string>浙江绍兴市诸暨市</string>
	<key>330682</key>
	<string>浙江绍兴市上虞市</string>
	<key>330683</key>
	<string>浙江绍兴市嵊州市</string>
	<key>330701</key>
	<string>浙江金华市市辖区</string>
	<key>330702</key>
	<string>浙江金华市婺城区</string>
	<key>330721</key>
	<string>浙江金华市金华县</string>
	<key>330723</key>
	<string>浙江金华市武义县</string>
	<key>330726</key>
	<string>浙江金华市浦江县</string>
	<key>330727</key>
	<string>浙江金华市磐安县</string>
	<key>330781</key>
	<string>浙江金华市兰溪市</string>
	<key>330782</key>
	<string>浙江金华市义乌市</string>
	<key>330783</key>
	<string>浙江金华市东阳市</string>
	<key>330784</key>
	<string>浙江金华市永康市</string>
	<key>330801</key>
	<string>浙江衢州市市辖区</string>
	<key>330802</key>
	<string>浙江衢州市柯城区</string>
	<key>330821</key>
	<string>浙江衢州市衢县</string>
	<key>330822</key>
	<string>浙江衢州市常山县</string>
	<key>330824</key>
	<string>浙江衢州市开化县</string>
	<key>330825</key>
	<string>浙江衢州市龙游县</string>
	<key>330881</key>
	<string>浙江衢州市江山市</string>
	<key>330901</key>
	<string>浙江舟山市市辖区</string>
	<key>330902</key>
	<string>浙江舟山市定海区</string>
	<key>330903</key>
	<string>浙江舟山市普陀区</string>
	<key>330921</key>
	<string>浙江舟山市岱山县</string>
	<key>330922</key>
	<string>浙江舟山市嵊泗县</string>
	<key>332501</key>
	<string>浙江丽水地区丽水市</string>
	<key>332502</key>
	<string>浙江丽水地区龙泉市</string>
	<key>332522</key>
	<string>浙江丽水地区青田县</string>
	<key>332523</key>
	<string>浙江丽水地区云和县</string>
	<key>332525</key>
	<string>浙江丽水地区庆元县</string>
	<key>332526</key>
	<string>浙江丽水地区缙云县</string>
	<key>332527</key>
	<string>浙江丽水地区遂昌县</string>
	<key>332528</key>
	<string>浙江丽水地区松阳县</string>
	<key>332529</key>
	<string>浙江丽水地区景宁畲族自治县</string>
</dict>
</plist>
