<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>430101</key>
	<string>湖南长沙市市辖区</string>
	<key>430102</key>
	<string>湖南长沙市芙蓉区</string>
	<key>430103</key>
	<string>湖南长沙市天心区</string>
	<key>430104</key>
	<string>湖南长沙市岳麓区</string>
	<key>430105</key>
	<string>湖南长沙市开福区</string>
	<key>430111</key>
	<string>湖南长沙市雨花区</string>
	<key>430121</key>
	<string>湖南长沙市长沙县</string>
	<key>430122</key>
	<string>湖南长沙市望城县</string>
	<key>430124</key>
	<string>湖南长沙市宁乡县</string>
	<key>430181</key>
	<string>湖南长沙市浏阳市</string>
	<key>430201</key>
	<string>湖南株洲市市辖区</string>
	<key>430202</key>
	<string>湖南株洲市荷塘区</string>
	<key>430203</key>
	<string>湖南株洲市芦淞区</string>
	<key>430204</key>
	<string>湖南株洲市石峰区</string>
	<key>430211</key>
	<string>湖南株洲市天元区</string>
	<key>430221</key>
	<string>湖南株洲市株洲县</string>
	<key>430223</key>
	<string>湖南株洲市攸县</string>
	<key>430224</key>
	<string>湖南株洲市茶陵县</string>
	<key>430225</key>
	<string>湖南株洲市炎陵县</string>
	<key>430281</key>
	<string>湖南株洲市醴陵市</string>
	<key>430301</key>
	<string>湖南湘潭市市辖区</string>
	<key>430302</key>
	<string>湖南湘潭市雨湖区</string>
	<key>430304</key>
	<string>湖南湘潭市岳塘区</string>
	<key>430321</key>
	<string>湖南湘潭市湘潭县</string>
	<key>430381</key>
	<string>湖南湘潭市湘乡市</string>
	<key>430382</key>
	<string>湖南湘潭市韶山市</string>
	<key>430401</key>
	<string>湖南衡阳市市辖区</string>
	<key>430402</key>
	<string>湖南衡阳市江东区</string>
	<key>430403</key>
	<string>湖南衡阳市城南区</string>
	<key>430404</key>
	<string>湖南衡阳市城北区</string>
	<key>430411</key>
	<string>湖南衡阳市郊区</string>
	<key>430412</key>
	<string>湖南衡阳市南岳区</string>
	<key>430421</key>
	<string>湖南衡阳市衡阳县</string>
	<key>430422</key>
	<string>湖南衡阳市衡南县</string>
	<key>430423</key>
	<string>湖南衡阳市衡山县</string>
	<key>430424</key>
	<string>湖南衡阳市衡东县</string>
	<key>430426</key>
	<string>湖南衡阳市祁东县</string>
	<key>430481</key>
	<string>湖南衡阳市耒阳市</string>
	<key>430482</key>
	<string>湖南衡阳市常宁市</string>
	<key>430501</key>
	<string>湖南邵阳市市辖区</string>
	<key>430502</key>
	<string>湖南邵阳市双清区</string>
	<key>430503</key>
	<string>湖南邵阳市大祥区</string>
	<key>430511</key>
	<string>湖南邵阳市北塔区</string>
	<key>430521</key>
	<string>湖南邵阳市邵东县</string>
	<key>430522</key>
	<string>湖南邵阳市新邵县</string>
	<key>430523</key>
	<string>湖南邵阳市邵阳县</string>
	<key>430524</key>
	<string>湖南邵阳市隆回县</string>
	<key>430525</key>
	<string>湖南邵阳市洞口县</string>
	<key>430527</key>
	<string>湖南邵阳市绥宁县</string>
	<key>430528</key>
	<string>湖南邵阳市新宁县</string>
	<key>430529</key>
	<string>湖南邵阳市城步苗族自治县</string>
	<key>430581</key>
	<string>湖南邵阳市武冈市</string>
	<key>430601</key>
	<string>湖南岳阳市市辖区</string>
	<key>430602</key>
	<string>湖南岳阳市岳阳楼区</string>
	<key>430603</key>
	<string>湖南岳阳市云溪区</string>
	<key>430611</key>
	<string>湖南岳阳市君山区</string>
	<key>430621</key>
	<string>湖南岳阳市岳阳县</string>
	<key>430623</key>
	<string>湖南岳阳市华容县</string>
	<key>430624</key>
	<string>湖南岳阳市湘阴县</string>
	<key>430626</key>
	<string>湖南岳阳市平江县</string>
	<key>430681</key>
	<string>湖南岳阳市汨罗市</string>
	<key>430682</key>
	<string>湖南岳阳市临湘市</string>
	<key>430701</key>
	<string>湖南常德市市辖区</string>
	<key>430702</key>
	<string>湖南常德市武陵区</string>
	<key>430703</key>
	<string>湖南常德市鼎城区</string>
	<key>430721</key>
	<string>湖南常德市安乡县</string>
	<key>430722</key>
	<string>湖南常德市汉寿县</string>
	<key>430723</key>
	<string>湖南常德市澧县</string>
	<key>430724</key>
	<string>湖南常德市临澧县</string>
	<key>430725</key>
	<string>湖南常德市桃源县</string>
	<key>430726</key>
	<string>湖南常德市石门县</string>
	<key>430781</key>
	<string>湖南常德市津市市</string>
	<key>430801</key>
	<string>湖南大庸市市辖区</string>
	<key>430802</key>
	<string>湖南大庸市永定区</string>
	<key>430811</key>
	<string>湖南大庸市武陵源区</string>
	<key>430821</key>
	<string>湖南慈利县</string>
	<key>430822</key>
	<string>湖南张家界市桑植县</string>
	<key>430901</key>
	<string>湖南益阳市市辖区</string>
	<key>430902</key>
	<string>湖南益阳市资阳区</string>
	<key>430903</key>
	<string>湖南益阳市赫山区</string>
	<key>430921</key>
	<string>湖南益阳市南县</string>
	<key>430922</key>
	<string>湖南益阳市桃江县</string>
	<key>430923</key>
	<string>湖南益阳市安化县</string>
	<key>430981</key>
	<string>湖南益阳市沅江市</string>
	<key>431001</key>
	<string>湖南郴州市市辖区</string>
	<key>431002</key>
	<string>湖南郴州市北湖区</string>
	<key>431003</key>
	<string>湖南郴州市苏仙区</string>
	<key>431021</key>
	<string>湖南郴州市桂阳县</string>
	<key>431022</key>
	<string>湖南郴州市宜章县</string>
	<key>431023</key>
	<string>湖南郴州市永兴县</string>
	<key>431024</key>
	<string>湖南郴州市嘉禾县</string>
	<key>431025</key>
	<string>湖南郴州市临武县</string>
	<key>431026</key>
	<string>湖南郴州市汝城县</string>
	<key>431027</key>
	<string>湖南郴州市桂东县</string>
	<key>431028</key>
	<string>湖南郴州市安仁县</string>
	<key>431081</key>
	<string>湖南郴州市资兴市</string>
	<key>431101</key>
	<string>湖南永州市市辖区</string>
	<key>431102</key>
	<string>湖南永州市芝山区</string>
	<key>431103</key>
	<string>湖南永州市冷水滩区</string>
	<key>431121</key>
	<string>湖南永州市祁阳县</string>
	<key>431122</key>
	<string>湖南永州市东安县</string>
	<key>431123</key>
	<string>湖南永州市双牌县</string>
	<key>431124</key>
	<string>湖南永州市道县</string>
	<key>431125</key>
	<string>湖南永州市江永县</string>
	<key>431126</key>
	<string>湖南永州市宁远县</string>
	<key>431127</key>
	<string>湖南永州市蓝山县</string>
	<key>431128</key>
	<string>湖南永州市新田县</string>
	<key>431129</key>
	<string>湖南永州市江华瑶族自治县</string>
	<key>431201</key>
	<string>湖南怀化市市辖区</string>
	<key>431202</key>
	<string>湖南怀化市鹤城区</string>
	<key>431221</key>
	<string>湖南怀化市中方县</string>
	<key>431222</key>
	<string>湖南怀化市沅陵县</string>
	<key>431223</key>
	<string>湖南怀化市辰溪县</string>
	<key>431224</key>
	<string>湖南怀化市溆浦县</string>
	<key>431225</key>
	<string>湖南怀化市会同县</string>
	<key>431226</key>
	<string>湖南怀化市麻阳苗族自治县</string>
	<key>431227</key>
	<string>湖南怀化市新晃侗族自治县</string>
	<key>431228</key>
	<string>湖南怀化市芷江侗族自治县</string>
	<key>431229</key>
	<string>湖南怀化市靖州苗族侗族自治县</string>
	<key>431230</key>
	<string>湖南怀化市通道侗族自治县</string>
	<key>431281</key>
	<string>湖南怀化市洪江市</string>
	<key>432301</key>
	<string>湖南益阳市</string>
	<key>432302</key>
	<string>湖南沅江市</string>
	<key>432321</key>
	<string>湖南益阳县</string>
	<key>432322</key>
	<string>湖南南县</string>
	<key>432325</key>
	<string>湖南桃江县</string>
	<key>432326</key>
	<string>湖南安化县</string>
	<key>432501</key>
	<string>湖南娄底市</string>
	<key>432502</key>
	<string>湖南冷水江市</string>
	<key>432503</key>
	<string>湖南涟源市</string>
	<key>432522</key>
	<string>湖南双峰县</string>
	<key>432524</key>
	<string>湖南新化县</string>
	<key>432801</key>
	<string>湖南郴州市</string>
	<key>432802</key>
	<string>湖南资兴市</string>
	<key>432821</key>
	<string>湖南郴县</string>
	<key>432822</key>
	<string>湖南桂阳县</string>
	<key>432823</key>
	<string>湖南永兴县</string>
	<key>432824</key>
	<string>湖南宜章县</string>
	<key>432826</key>
	<string>湖南嘉禾县</string>
	<key>432827</key>
	<string>湖南临武县</string>
	<key>432828</key>
	<string>湖南汝城县</string>
	<key>432829</key>
	<string>湖南桂东县</string>
	<key>432831</key>
	<string>湖南安仁县</string>
	<key>432901</key>
	<string>湖南永州市</string>
	<key>432902</key>
	<string>湖南冷水滩市</string>
	<key>432922</key>
	<string>湖南东安县</string>
	<key>432923</key>
	<string>湖南道县</string>
	<key>432924</key>
	<string>湖南宁远县</string>
	<key>432925</key>
	<string>湖南江永县</string>
	<key>432926</key>
	<string>湖南江华瑶族自治县</string>
	<key>432927</key>
	<string>湖南蓝山县</string>
	<key>432928</key>
	<string>湖南新田县　</string>
	<key>432929</key>
	<string>湖南双牌县</string>
	<key>432930</key>
	<string>湖南祁阳县</string>
	<key>433001</key>
	<string>湖南怀化市</string>
	<key>433002</key>
	<string>湖南洪江市</string>
	<key>433021</key>
	<string>湖南黔阳县</string>
	<key>433022</key>
	<string>湖南沅陵县</string>
	<key>433023</key>
	<string>湖南辰溪县</string>
	<key>433024</key>
	<string>湖南溆浦县</string>
	<key>433025</key>
	<string>湖南麻阳苗族自治县</string>
	<key>433026</key>
	<string>湖南新晃侗族自治县</string>
	<key>433027</key>
	<string>湖南芷江侗族自治县</string>
	<key>433029</key>
	<string>湖南会同县</string>
	<key>433030</key>
	<string>湖南靖州苗族侗族自治县</string>
	<key>433031</key>
	<string>湖南通道侗族自治县</string>
	<key>433101</key>
	<string>湖南湘西土家族苗族自治州吉首市</string>
	<key>433122</key>
	<string>湖南湘西土家族苗族自治州泸溪县</string>
	<key>433123</key>
	<string>湖南湘西土家族苗族自治州凤凰县</string>
	<key>433124</key>
	<string>湖南湘西土家族苗族自治州花垣县</string>
	<key>433125</key>
	<string>湖南湘西土家族苗族自治州保靖县</string>
	<key>433126</key>
	<string>湖南湘西土家族苗族自治州古丈县</string>
	<key>433127</key>
	<string>湖南湘西土家族苗族自治州永顺县</string>
	<key>433130</key>
	<string>湖南湘西土家族苗族自治州龙山县</string>
</dict>
</plist>
