<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>420101</key>
	<string>湖北武汉市市辖区</string>
	<key>420102</key>
	<string>湖北武汉市江岸区</string>
	<key>420103</key>
	<string>湖北武汉市江汉区</string>
	<key>420104</key>
	<string>湖北武汉市乔口区</string>
	<key>420105</key>
	<string>湖北武汉市汉阳区</string>
	<key>420106</key>
	<string>湖北武汉市武昌区</string>
	<key>420107</key>
	<string>湖北武汉市青山区</string>
	<key>420111</key>
	<string>湖北武汉市洪山区</string>
	<key>420112</key>
	<string>湖北武汉市东西湖区</string>
	<key>420113</key>
	<string>湖北武汉市汉南区</string>
	<key>420114</key>
	<string>湖北蔡甸区</string>
	<key>420115</key>
	<string>湖北武汉市江夏区</string>
	<key>420116</key>
	<string>湖北武汉市黄陂区</string>
	<key>420117</key>
	<string>湖北武汉市新洲区</string>
	<key>420122</key>
	<string>湖北武昌县</string>
	<key>420123</key>
	<string>湖北黄陂县</string>
	<key>420124</key>
	<string>湖北新洲县</string>
	<key>420202</key>
	<string>湖北黄石市黄石港区</string>
	<key>420203</key>
	<string>湖北黄石市石灰窑区</string>
	<key>420204</key>
	<string>湖北黄石市下陆区</string>
	<key>420205</key>
	<string>湖北黄石市铁山区</string>
	<key>420221</key>
	<string>湖北大冶县</string>
	<key>420222</key>
	<string>湖北黄石市阳新县</string>
	<key>420281</key>
	<string>湖北黄石市大冶市</string>
	<key>420301</key>
	<string>湖北十堰市市辖区</string>
	<key>420302</key>
	<string>湖北十堰市茅箭区</string>
	<key>420303</key>
	<string>湖北十堰市张湾区</string>
	<key>420321</key>
	<string>湖北十堰市郧县</string>
	<key>420322</key>
	<string>湖北十堰市郧西县</string>
	<key>420323</key>
	<string>湖北十堰市竹山县</string>
	<key>420324</key>
	<string>湖北十堰市竹溪县</string>
	<key>420325</key>
	<string>湖北十堰市房县</string>
	<key>420381</key>
	<string>湖北十堰市丹江口市</string>
	<key>420501</key>
	<string>湖北宜昌市市辖区</string>
	<key>420502</key>
	<string>湖北宜昌市西陵区</string>
	<key>420503</key>
	<string>湖北宜昌市伍家岗区</string>
	<key>420504</key>
	<string>湖北宜昌市点军区</string>
	<key>420505</key>
	<string>湖北宜昌市虎亭区</string>
	<key>420521</key>
	<string>湖北宜昌市宜昌县</string>
	<key>420525</key>
	<string>湖北宜昌市远安县</string>
	<key>420526</key>
	<string>湖北宜昌市兴山县</string>
	<key>420527</key>
	<string>湖北宜昌市秭归县</string>
	<key>420528</key>
	<string>湖北宜昌市长阳土家族自治县</string>
	<key>420529</key>
	<string>湖北宜昌市五峰土家族自治县</string>
	<key>420581</key>
	<string>湖北宜昌市宜都市</string>
	<key>420582</key>
	<string>湖北宜昌市当阳市</string>
	<key>420583</key>
	<string>湖北宜昌市枝江市</string>
	<key>420601</key>
	<string>湖北襄樊市市辖区</string>
	<key>420602</key>
	<string>湖北襄樊市襄城区</string>
	<key>420603</key>
	<string>湖北襄樊市樊东区</string>
	<key>420604</key>
	<string>湖北襄樊市樊西区</string>
	<key>420605</key>
	<string>湖北襄樊市郊区</string>
	<key>420606</key>
	<string>湖北襄樊市樊城区</string>
	<key>420621</key>
	<string>湖北襄樊市襄阳县</string>
	<key>420623</key>
	<string>湖北宜城县</string>
	<key>420624</key>
	<string>湖北襄樊市南漳县</string>
	<key>420625</key>
	<string>湖北襄樊市谷城县</string>
	<key>420626</key>
	<string>湖北襄樊市保康县</string>
	<key>420682</key>
	<string>湖北襄樊市老河口市</string>
	<key>420683</key>
	<string>湖北襄樊市枣阳市</string>
	<key>420684</key>
	<string>湖北襄樊市宜城市</string>
	<key>420701</key>
	<string>湖北鄂州市市辖区</string>
	<key>420702</key>
	<string>湖北鄂州市梁子湖区</string>
	<key>420703</key>
	<string>湖北鄂州市华容区</string>
	<key>420704</key>
	<string>湖北鄂州市鄂城区</string>
	<key>420801</key>
	<string>湖北荆门市市辖区</string>
	<key>420802</key>
	<string>湖北荆门市东宝区</string>
	<key>420803</key>
	<string>湖北荆门市沙洋区</string>
	<key>420821</key>
	<string>湖北荆门市京山县</string>
	<key>420822</key>
	<string>湖北荆门市沙洋县</string>
	<key>420881</key>
	<string>湖北荆门市钟祥市</string>
	<key>420901</key>
	<string>湖北孝感市市辖区</string>
	<key>420902</key>
	<string>湖北孝感市孝南区</string>
	<key>420903</key>
	<string>湖北孝感市孝昌区</string>
	<key>420921</key>
	<string>湖北孝感市孝昌县</string>
	<key>420922</key>
	<string>湖北孝感市大悟县</string>
	<key>420923</key>
	<string>湖北孝感市云梦县</string>
	<key>420981</key>
	<string>湖北孝感市应城市</string>
	<key>420982</key>
	<string>湖北孝感市安陆市</string>
	<key>420983</key>
	<string>湖北孝感市广水市</string>
	<key>420984</key>
	<string>湖北孝感市汉川市</string>
	<key>421001</key>
	<string>湖北荆州市市辖区</string>
	<key>421002</key>
	<string>湖北荆州市沙市区</string>
	<key>421003</key>
	<string>湖北荆州市荆州区</string>
	<key>421022</key>
	<string>湖北荆州市公安县</string>
	<key>421023</key>
	<string>湖北荆州市监利县</string>
	<key>421024</key>
	<string>湖北荆州市江陵县</string>
	<key>421081</key>
	<string>湖北荆州市石首市</string>
	<key>421083</key>
	<string>湖北荆州市洪湖市</string>
	<key>421087</key>
	<string>湖北荆州市松滋市</string>
	<key>421101</key>
	<string>湖北黄冈市市辖区</string>
	<key>421102</key>
	<string>湖北黄冈市黄州区</string>
	<key>421121</key>
	<string>湖北黄冈市团风县</string>
	<key>421122</key>
	<string>湖北黄冈市红安县</string>
	<key>421123</key>
	<string>湖北黄冈市罗田县</string>
	<key>421124</key>
	<string>湖北黄冈市英山县</string>
	<key>421125</key>
	<string>湖北黄冈市浠水县</string>
	<key>421126</key>
	<string>湖北黄冈市蕲春县</string>
	<key>421127</key>
	<string>湖北黄冈市黄梅县</string>
	<key>421181</key>
	<string>湖北黄冈市麻城市</string>
	<key>421182</key>
	<string>湖北黄冈市武穴市</string>
	<key>421201</key>
	<string>湖北咸宁市市辖区</string>
	<key>421202</key>
	<string>湖北咸宁市咸安区</string>
	<key>421221</key>
	<string>湖北咸宁市嘉鱼县</string>
	<key>421222</key>
	<string>湖北咸宁市通城县</string>
	<key>421223</key>
	<string>湖北咸宁市崇阳县</string>
	<key>421224</key>
	<string>湖北咸宁市通山县</string>
	<key>422101</key>
	<string>湖北麻城市</string>
	<key>422102</key>
	<string>湖北武穴市　　　　　　</string>
	<key>422103</key>
	<string>湖北黄州市</string>
	<key>422123</key>
	<string>湖北红安县</string>
	<key>422125</key>
	<string>湖北罗田县</string>
	<key>422126</key>
	<string>湖北英山县</string>
	<key>422127</key>
	<string>湖北浠水县</string>
	<key>422128</key>
	<string>湖北蕲春县</string>
	<key>422130</key>
	<string>湖北黄梅县</string>
	<key>422301</key>
	<string>湖北咸宁市</string>
	<key>422302</key>
	<string>湖北蒲圻市</string>
	<key>422322</key>
	<string>湖北嘉鱼县</string>
	<key>422324</key>
	<string>湖北通城县</string>
	<key>422325</key>
	<string>湖北崇阳县</string>
	<key>422326</key>
	<string>湖北通山县</string>
	<key>422327</key>
	<string>湖北阳新县</string>
	<key>422401</key>
	<string>湖北仙桃市</string>
	<key>422402</key>
	<string>湖北石首市</string>
	<key>422403</key>
	<string>湖北洪湖市</string>
	<key>422404</key>
	<string>湖北天门市</string>
	<key>422405</key>
	<string>湖北潜江市</string>
	<key>422406</key>
	<string>湖北钟祥市</string>
	<key>422421</key>
	<string>湖北江陵县</string>
	<key>422422</key>
	<string>湖北松滋县</string>
	<key>422423</key>
	<string>湖北公安县</string>
	<key>422425</key>
	<string>湖北监利县</string>
	<key>422432</key>
	<string>湖北京山县</string>
	<key>422601</key>
	<string>湖北丹江口市</string>
	<key>422622</key>
	<string>湖北郧县</string>
	<key>422623</key>
	<string>湖北郧西县</string>
	<key>422624</key>
	<string>湖北竹山县</string>
	<key>422625</key>
	<string>湖北竹溪县</string>
	<key>422626</key>
	<string>湖北房县</string>
	<key>422801</key>
	<string>湖北恩施土家族苗族自治州恩施县</string>
	<key>422802</key>
	<string>湖北恩施土家族苗族自治州利川市</string>
	<key>422822</key>
	<string>湖北恩施土家族苗族自治州建始县</string>
	<key>422823</key>
	<string>湖北恩施土家族苗族自治州巴东县</string>
	<key>422825</key>
	<string>湖北恩施土家族苗族自治州宣恩县</string>
	<key>422826</key>
	<string>湖北恩施土家族苗族自治州咸丰县</string>
	<key>422827</key>
	<string>湖北恩施土家族苗族自治州来凤县</string>
	<key>422828</key>
	<string>湖北恩施土家族苗族自治州鹤峰县</string>
	<key>422921</key>
	<string>湖北神农架林区</string>
	<key>429001</key>
	<string>湖北随州市</string>
	<key>429004</key>
	<string>湖北仙桃市</string>
	<key>429005</key>
	<string>湖北潜江市</string>
	<key>429006</key>
	<string>湖北天门市</string>
	<key>429021</key>
	<string>湖北神农架林区</string>
</dict>
</plist>
