<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>620101</key>
	<string>甘肃兰州市市辖区</string>
	<key>620102</key>
	<string>甘肃兰州市城关区</string>
	<key>620103</key>
	<string>甘肃兰州市七里河区</string>
	<key>620104</key>
	<string>甘肃兰州市西固区</string>
	<key>620105</key>
	<string>甘肃兰州市安宁区</string>
	<key>620111</key>
	<string>甘肃兰州市红古区</string>
	<key>620121</key>
	<string>甘肃兰州市永登县</string>
	<key>620122</key>
	<string>甘肃兰州市皋兰县</string>
	<key>620123</key>
	<string>甘肃兰州市榆中县</string>
	<key>620201</key>
	<string>甘肃嘉峪关市市辖区</string>
	<key>620301</key>
	<string>甘肃金昌市市辖区</string>
	<key>620302</key>
	<string>甘肃金昌市金川区</string>
	<key>620321</key>
	<string>甘肃嘉峪关市永昌县</string>
	<key>620401</key>
	<string>甘肃白银市市辖区</string>
	<key>620402</key>
	<string>甘肃白银市白银区</string>
	<key>620403</key>
	<string>甘肃白银市平川区</string>
	<key>620421</key>
	<string>甘肃白银市靖远县</string>
	<key>620422</key>
	<string>甘肃白银市会宁县</string>
	<key>620423</key>
	<string>甘肃白银市景泰县</string>
	<key>620501</key>
	<string>甘肃天水市市辖区</string>
	<key>620502</key>
	<string>甘肃天水市秦城区</string>
	<key>620503</key>
	<string>甘肃天水市北道区</string>
	<key>620521</key>
	<string>甘肃天水市清水县</string>
	<key>620522</key>
	<string>甘肃天水市秦安县</string>
	<key>620523</key>
	<string>甘肃天水市甘谷县</string>
	<key>620524</key>
	<string>甘肃天水市武山县</string>
	<key>620525</key>
	<string>甘肃天水市张家川回族自治县</string>
	<key>622101</key>
	<string>甘肃酒泉地区玉门市</string>
	<key>622102</key>
	<string>甘肃酒泉地区酒泉市</string>
	<key>622103</key>
	<string>甘肃酒泉地区敦煌市</string>
	<key>622123</key>
	<string>甘肃酒泉地区金塔县</string>
	<key>622124</key>
	<string>甘肃酒泉地区肃北蒙古族自治县</string>
	<key>622125</key>
	<string>甘肃酒泉地区阿克塞哈萨克族自治县</string>
	<key>622126</key>
	<string>甘肃酒泉地区安西县</string>
	<key>622201</key>
	<string>甘肃张掖地区张掖市</string>
	<key>622222</key>
	<string>甘肃张掖地区肃南裕固族自治县</string>
	<key>622223</key>
	<string>甘肃张掖地区民乐县</string>
	<key>622224</key>
	<string>甘肃张掖地区临泽县</string>
	<key>622225</key>
	<string>甘肃张掖地区高台县</string>
	<key>622226</key>
	<string>甘肃张掖地区山丹县</string>
	<key>622301</key>
	<string>甘肃武威地区武威市</string>
	<key>622322</key>
	<string>甘肃武威地区民勤县</string>
	<key>622323</key>
	<string>甘肃武威地区古浪县</string>
	<key>622326</key>
	<string>甘肃武威地区天祝藏族自治县</string>
	<key>622421</key>
	<string>甘肃定西地区定西县</string>
	<key>622424</key>
	<string>甘肃定西地区通渭县</string>
	<key>622425</key>
	<string>甘肃定西地区陇西县</string>
	<key>622426</key>
	<string>甘肃定西地区渭源县</string>
	<key>622427</key>
	<string>甘肃定西地区临洮县</string>
	<key>622428</key>
	<string>甘肃定西地区漳县</string>
	<key>622429</key>
	<string>甘肃定西地区岷县</string>
	<key>622621</key>
	<string>甘肃陇南地区武都县</string>
	<key>622623</key>
	<string>甘肃陇南地区宕昌县</string>
	<key>622624</key>
	<string>甘肃陇南地区成县</string>
	<key>622625</key>
	<string>甘肃陇南地区康县</string>
	<key>622626</key>
	<string>甘肃陇南地区文县</string>
	<key>622627</key>
	<string>甘肃陇南地区西和县</string>
	<key>622628</key>
	<string>甘肃陇南地区礼县</string>
	<key>622629</key>
	<string>甘肃陇南地区两当县</string>
	<key>622630</key>
	<string>甘肃陇南地区徽县</string>
	<key>622701</key>
	<string>甘肃平凉地区平凉市</string>
	<key>622722</key>
	<string>甘肃平凉地区泾川县</string>
	<key>622723</key>
	<string>甘肃平凉地区灵台县</string>
	<key>622724</key>
	<string>甘肃平凉地区崇信县</string>
	<key>622725</key>
	<string>甘肃平凉地区华亭县</string>
	<key>622726</key>
	<string>甘肃平凉地区庄浪县</string>
	<key>622727</key>
	<string>甘肃平凉地区静宁县</string>
	<key>622801</key>
	<string>甘肃庆阳地区西峰市</string>
	<key>622821</key>
	<string>甘肃庆阳地区庆阳县</string>
	<key>622822</key>
	<string>甘肃庆阳地区环县</string>
	<key>622823</key>
	<string>甘肃庆阳地区华池县</string>
	<key>622824</key>
	<string>甘肃庆阳地区合水县</string>
	<key>622825</key>
	<string>甘肃庆阳地区正宁县</string>
	<key>622826</key>
	<string>甘肃庆阳地区宁县</string>
	<key>622827</key>
	<string>甘肃庆阳地区镇原县</string>
	<key>622901</key>
	<string>甘肃临夏回族自治州临夏市</string>
	<key>622921</key>
	<string>甘肃临夏回族自治州临夏县</string>
	<key>622922</key>
	<string>甘肃临夏回族自治州康乐县</string>
	<key>622923</key>
	<string>甘肃临夏回族自治州永靖县</string>
	<key>622924</key>
	<string>甘肃临夏回族自治州广河县</string>
	<key>622925</key>
	<string>甘肃临夏回族自治州和政县</string>
	<key>622926</key>
	<string>甘肃临夏回族自治州东乡族自治县</string>
	<key>622927</key>
	<string>甘肃临夏回族自治州积石山保安族东乡族撒拉族自治县</string>
	<key>623001</key>
	<string>甘肃甘南藏族自治州合作市</string>
	<key>623021</key>
	<string>甘肃甘南藏族自治州临潭县</string>
	<key>623022</key>
	<string>甘肃甘南藏族自治州卓尼县</string>
	<key>623023</key>
	<string>甘肃甘南藏族自治州舟曲县</string>
	<key>623024</key>
	<string>甘肃甘南藏族自治州迭部县</string>
	<key>623025</key>
	<string>甘肃甘南藏族自治州玛曲县</string>
	<key>623026</key>
	<string>甘肃甘南藏族自治州碌曲县</string>
	<key>623027</key>
	<string>甘肃甘南藏族自治州夏河县</string>
</dict>
</plist>
