<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>350102</key>
	<string>福建福州市鼓楼区</string>
	<key>350103</key>
	<string>福建福州市台江区</string>
	<key>350104</key>
	<string>福建福州市仓山区</string>
	<key>350105</key>
	<string>福建福州市马尾区</string>
	<key>350111</key>
	<string>福建福州市郊区</string>
	<key>350121</key>
	<string>福建福州市闽侯县</string>
	<key>350122</key>
	<string>福建福州市连江县</string>
	<key>350123</key>
	<string>福建福州市罗源县</string>
	<key>350124</key>
	<string>福建福州市闽清县</string>
	<key>350125</key>
	<string>福建福州市永泰县</string>
	<key>350128</key>
	<string>福建福州市平潭县</string>
	<key>350181</key>
	<string>福建福州市福清市</string>
	<key>350182</key>
	<string>福建福州市长乐市</string>
	<key>350201</key>
	<string>福建厦门市市辖区</string>
	<key>350202</key>
	<string>福建厦门市鼓浪屿区</string>
	<key>350203</key>
	<string>福建厦门市思明区</string>
	<key>350204</key>
	<string>福建厦门市开元区</string>
	<key>350205</key>
	<string>福建厦门市杏林区</string>
	<key>350206</key>
	<string>福建厦门市湖里区</string>
	<key>350211</key>
	<string>福建厦门市集美区</string>
	<key>350212</key>
	<string>福建厦门市同安区</string>
	<key>350221</key>
	<string>福建同安县</string>
	<key>350301</key>
	<string>福建莆田市市辖区</string>
	<key>350302</key>
	<string>福建莆田市城厢区</string>
	<key>350303</key>
	<string>福建莆田市涵江区</string>
	<key>350321</key>
	<string>福建莆田县</string>
	<key>350322</key>
	<string>福建仙游县</string>
	<key>350401</key>
	<string>福建三明市市辖区</string>
	<key>350402</key>
	<string>福建三明市梅列区</string>
	<key>350403</key>
	<string>福建三明市三元区</string>
	<key>350421</key>
	<string>福建三明市明溪县</string>
	<key>350423</key>
	<string>福建三明市清流县</string>
	<key>350424</key>
	<string>福建三明市宁化县</string>
	<key>350425</key>
	<string>福建三明市大田县</string>
	<key>350426</key>
	<string>福建三明市尤溪县</string>
	<key>350427</key>
	<string>福建三明市沙县</string>
	<key>350428</key>
	<string>福建三明市将乐县</string>
	<key>350429</key>
	<string>福建三明市泰宁县</string>
	<key>350430</key>
	<string>福建三明市建宁县</string>
	<key>350481</key>
	<string>福建三明市永安市</string>
	<key>350501</key>
	<string>福建泉州市市辖区</string>
	<key>350502</key>
	<string>福建泉州市鲤城区</string>
	<key>350503</key>
	<string>福建泉州市丰泽区</string>
	<key>350504</key>
	<string>福建泉州市洛江区</string>
	<key>350521</key>
	<string>福建泉州市惠安县</string>
	<key>350524</key>
	<string>福建泉州市安溪县</string>
	<key>350525</key>
	<string>福建泉州市永春县</string>
	<key>350526</key>
	<string>福建泉州市德化县</string>
	<key>350527</key>
	<string>福建泉州市金门县</string>
	<key>350581</key>
	<string>福建泉州市石狮市</string>
	<key>350582</key>
	<string>福建泉州市晋江市</string>
	<key>350583</key>
	<string>福建泉州市南安市</string>
	<key>350601</key>
	<string>福建漳州市市辖区</string>
	<key>350602</key>
	<string>福建漳州市芗城区</string>
	<key>350603</key>
	<string>福建漳州市龙文区</string>
	<key>350622</key>
	<string>福建漳州市云霄县</string>
	<key>350623</key>
	<string>福建漳州市漳浦县</string>
	<key>350624</key>
	<string>福建漳州市诏安县</string>
	<key>350625</key>
	<string>福建漳州市长泰县</string>
	<key>350626</key>
	<string>福建漳州市东山县</string>
	<key>350627</key>
	<string>福建漳州市南靖县</string>
	<key>350628</key>
	<string>福建漳州市平和县</string>
	<key>350629</key>
	<string>福建漳州市华安县</string>
	<key>350681</key>
	<string>福建漳州市龙海市</string>
	<key>350701</key>
	<string>福建南平市市辖区</string>
	<key>350702</key>
	<string>福建南平市延平区</string>
	<key>350721</key>
	<string>福建南平市顺昌县</string>
	<key>350722</key>
	<string>福建南平市浦城县</string>
	<key>350723</key>
	<string>福建南平市光泽县</string>
	<key>350724</key>
	<string>福建南平市松溪县</string>
	<key>350725</key>
	<string>福建南平市政和县</string>
	<key>350781</key>
	<string>福建南平市邵武市</string>
	<key>350782</key>
	<string>福建南平市武夷山市</string>
	<key>350783</key>
	<string>福建南平市建瓯市</string>
	<key>350784</key>
	<string>福建南平市建阳市</string>
	<key>350801</key>
	<string>福建龙岩市市辖区</string>
	<key>350802</key>
	<string>福建龙岩市新罗区</string>
	<key>350821</key>
	<string>福建龙岩市长汀县</string>
	<key>350822</key>
	<string>福建龙岩市永定县</string>
	<key>350823</key>
	<string>福建龙岩市上杭县</string>
	<key>350824</key>
	<string>福建龙岩市武平县</string>
	<key>350825</key>
	<string>福建龙岩市连城县</string>
	<key>350881</key>
	<string>福建龙岩市漳平市</string>
	<key>352101</key>
	<string>福建南平市</string>
	<key>352102</key>
	<string>福建邵武市</string>
	<key>352103</key>
	<string>福建武夷山市</string>
	<key>352104</key>
	<string>福建建瓯市</string>
	<key>352121</key>
	<string>福建顺昌县</string>
	<key>352122</key>
	<string>福建建阳县</string>
	<key>352124</key>
	<string>福建浦城县</string>
	<key>352127</key>
	<string>福建光泽县</string>
	<key>352128</key>
	<string>福建松溪县</string>
	<key>352129</key>
	<string>福建政和县</string>
	<key>352201</key>
	<string>福建宁德地区宁德市</string>
	<key>352202</key>
	<string>福建宁德地区福安市</string>
	<key>352203</key>
	<string>福建宁德地区福鼎市</string>
	<key>352225</key>
	<string>福建宁德地区霞浦县</string>
	<key>352227</key>
	<string>福建宁德地区古田县</string>
	<key>352228</key>
	<string>福建宁德地区屏南县</string>
	<key>352229</key>
	<string>福建宁德地区寿宁县</string>
	<key>352230</key>
	<string>福建宁德地区周宁县</string>
	<key>352231</key>
	<string>福建宁德地区柘荣县</string>
	<key>352601</key>
	<string>福建龙岩市</string>
	<key>352602</key>
	<string>福建漳平市</string>
	<key>352622</key>
	<string>福建长汀县</string>
	<key>352623</key>
	<string>福建永定县</string>
	<key>352624</key>
	<string>福建上杭县</string>
	<key>352625</key>
	<string>福建武平县</string>
	<key>352627</key>
	<string>福建连城县</string>
</dict>
</plist>
