<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>540101</key>
	<string>西藏自治区拉萨市市辖区</string>
	<key>540102</key>
	<string>西藏自治区拉萨市城关区</string>
	<key>540121</key>
	<string>西藏自治区拉萨市林周县</string>
	<key>540122</key>
	<string>西藏自治区拉萨市当雄县</string>
	<key>540123</key>
	<string>西藏自治区拉萨市尼木县</string>
	<key>540124</key>
	<string>西藏自治区拉萨市曲水县</string>
	<key>540125</key>
	<string>西藏自治区拉萨市堆龙德庆县</string>
	<key>540126</key>
	<string>西藏自治区拉萨市达孜县</string>
	<key>540127</key>
	<string>西藏自治区拉萨市墨竹工卡县</string>
	<key>542121</key>
	<string>西藏自治区昌都地区昌都县</string>
	<key>542122</key>
	<string>西藏自治区昌都地区江达县</string>
	<key>542123</key>
	<string>西藏自治区昌都地区贡觉县</string>
	<key>542124</key>
	<string>西藏自治区昌都地区类乌齐县</string>
	<key>542125</key>
	<string>西藏自治区昌都地区丁青县</string>
	<key>542126</key>
	<string>西藏自治区昌都地区察雅县</string>
	<key>542127</key>
	<string>西藏自治区昌都地区八宿县</string>
	<key>542128</key>
	<string>西藏自治区昌都地区左贡县</string>
	<key>542129</key>
	<string>西藏自治区昌都地区芒康县</string>
	<key>542132</key>
	<string>西藏自治区昌都地区洛隆县</string>
	<key>542133</key>
	<string>西藏自治区昌都地区边坝县</string>
	<key>542134</key>
	<string>西藏自治区昌都地区盐井县</string>
	<key>542135</key>
	<string>西藏自治区昌都地区碧土县</string>
	<key>542136</key>
	<string>西藏自治区昌都地区妥坝县</string>
	<key>542137</key>
	<string>西藏自治区昌都地区生达县</string>
	<key>542221</key>
	<string>西藏自治区山南地区乃东县</string>
	<key>542222</key>
	<string>西藏自治区山南地区扎囊县</string>
	<key>542223</key>
	<string>西藏自治区山南地区贡嘎县</string>
	<key>542224</key>
	<string>西藏自治区山南地区桑日县</string>
	<key>542225</key>
	<string>西藏自治区山南地区琼结县</string>
	<key>542226</key>
	<string>西藏自治区山南地区曲松县</string>
	<key>542227</key>
	<string>西藏自治区山南地区措美县</string>
	<key>542228</key>
	<string>西藏自治区山南地区洛扎县</string>
	<key>542229</key>
	<string>西藏自治区山南地区加查县</string>
	<key>542231</key>
	<string>西藏自治区山南地区隆子县</string>
	<key>542232</key>
	<string>西藏自治区山南地区错那县</string>
	<key>542233</key>
	<string>西藏自治区山南地区浪卡子县</string>
	<key>542301</key>
	<string>西藏自治区日喀则地区日喀则市</string>
	<key>542322</key>
	<string>西藏自治区日喀则地区南木林县</string>
	<key>542323</key>
	<string>西藏自治区日喀则地区江孜县</string>
	<key>542324</key>
	<string>西藏自治区日喀则地区定日县</string>
	<key>542325</key>
	<string>西藏自治区日喀则地区萨迦县</string>
	<key>542326</key>
	<string>西藏自治区日喀则地区拉孜县</string>
	<key>542327</key>
	<string>西藏自治区日喀则地区昂仁县</string>
	<key>542328</key>
	<string>西藏自治区日喀则地区谢通门县</string>
	<key>542329</key>
	<string>西藏自治区日喀则地区白朗县</string>
	<key>542330</key>
	<string>西藏自治区日喀则地区仁布县</string>
	<key>542331</key>
	<string>西藏自治区日喀则地区康马县</string>
	<key>542332</key>
	<string>西藏自治区日喀则地区定结县</string>
	<key>542333</key>
	<string>西藏自治区日喀则地区仲巴县</string>
	<key>542334</key>
	<string>西藏自治区日喀则地区亚东县</string>
	<key>542335</key>
	<string>西藏自治区日喀则地区吉隆县</string>
	<key>542336</key>
	<string>西藏自治区日喀则地区聂拉木县</string>
	<key>542337</key>
	<string>西藏自治区日喀则地区萨嘎县</string>
	<key>542338</key>
	<string>西藏自治区日喀则地区岗巴县</string>
	<key>542421</key>
	<string>西藏自治区那曲地区那曲县</string>
	<key>542422</key>
	<string>西藏自治区那曲地区嘉黎县</string>
	<key>542423</key>
	<string>西藏自治区那曲地区比如县</string>
	<key>542424</key>
	<string>西藏自治区那曲地区聂荣县</string>
	<key>542425</key>
	<string>西藏自治区那曲地区安多县</string>
	<key>542426</key>
	<string>西藏自治区那曲地区申扎县</string>
	<key>542427</key>
	<string>西藏自治区那曲地区索县</string>
	<key>542428</key>
	<string>西藏自治区那曲地区班戈县</string>
	<key>542429</key>
	<string>西藏自治区那曲地区巴青县</string>
	<key>542430</key>
	<string>西藏自治区那曲地区尼玛县</string>
	<key>542521</key>
	<string>西藏自治区阿里地区普兰县</string>
	<key>542522</key>
	<string>西藏自治区阿里地区札达县</string>
	<key>542523</key>
	<string>西藏自治区阿里地区噶尔县</string>
	<key>542524</key>
	<string>西藏自治区阿里地区日土县</string>
	<key>542525</key>
	<string>西藏自治区阿里地区革吉县</string>
	<key>542526</key>
	<string>西藏自治区阿里地区改则县</string>
	<key>542527</key>
	<string>西藏自治区阿里地区措勤县</string>
	<key>542528</key>
	<string>西藏自治区阿里地区隆格尔县</string>
	<key>542621</key>
	<string>西藏自治区林芝地区林芝县</string>
	<key>542622</key>
	<string>西藏自治区林芝地区工布江达县</string>
	<key>542623</key>
	<string>西藏自治区林芝地区米林县</string>
	<key>542624</key>
	<string>西藏自治区林芝地区墨脱县</string>
	<key>542625</key>
	<string>西藏自治区林芝地区波密县</string>
	<key>542626</key>
	<string>西藏自治区林芝地区察隅县</string>
	<key>542627</key>
	<string>西藏自治区林芝地区朗县</string>
</dict>
</plist>
