<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>520101</key>
	<string>贵州贵阳市市辖区</string>
	<key>520102</key>
	<string>贵州贵阳市南明区</string>
	<key>520103</key>
	<string>贵州贵阳市云岩区</string>
	<key>520111</key>
	<string>贵州贵阳市花溪区</string>
	<key>520112</key>
	<string>贵州贵阳市乌当区</string>
	<key>520113</key>
	<string>贵州贵阳市白云区</string>
	<key>520121</key>
	<string>贵州贵阳市开阳县</string>
	<key>520122</key>
	<string>贵州贵阳市息烽县</string>
	<key>520123</key>
	<string>贵州贵阳市修文县</string>
	<key>520181</key>
	<string>贵州贵阳市清镇市</string>
	<key>520201</key>
	<string>贵州六盘水市钟山区</string>
	<key>520202</key>
	<string>贵州六盘水市盘县特区</string>
	<key>520203</key>
	<string>贵州六盘水市六枝特区</string>
	<key>520221</key>
	<string>贵州六盘水市水城县</string>
	<key>520301</key>
	<string>贵州遵义市市辖区</string>
	<key>520302</key>
	<string>贵州遵义市红花岗区</string>
	<key>520321</key>
	<string>贵州遵义市遵义县</string>
	<key>520322</key>
	<string>贵州遵义市桐梓县</string>
	<key>520323</key>
	<string>贵州遵义市绥阳县</string>
	<key>520324</key>
	<string>贵州遵义市正安县</string>
	<key>520325</key>
	<string>贵州遵义市道真仡佬族苗族自治县</string>
	<key>520326</key>
	<string>贵州遵义市务川仡佬族苗族自治县</string>
	<key>520327</key>
	<string>贵州遵义市凤冈县</string>
	<key>520328</key>
	<string>贵州遵义市湄潭县</string>
	<key>520329</key>
	<string>贵州遵义市余庆县</string>
	<key>520330</key>
	<string>贵州遵义市习水县</string>
	<key>520381</key>
	<string>贵州遵义市赤水市</string>
	<key>520382</key>
	<string>贵州遵义市仁怀市</string>
	<key>522101</key>
	<string>贵州遵义市</string>
	<key>522102</key>
	<string>贵州赤水市</string>
	<key>522121</key>
	<string>贵州遵义县</string>
	<key>522122</key>
	<string>贵州桐梓县</string>
	<key>522123</key>
	<string>贵州绥阳县</string>
	<key>522124</key>
	<string>贵州正安县</string>
	<key>522125</key>
	<string>贵州道真仡佬苗族自治县</string>
	<key>522126</key>
	<string>贵州务川仡佬苗族自治县</string>
	<key>522127</key>
	<string>贵州凤冈县</string>
	<key>522128</key>
	<string>贵州湄潭县</string>
	<key>522129</key>
	<string>贵州余庆县</string>
	<key>522130</key>
	<string>贵州仁怀县</string>
	<key>522132</key>
	<string>贵州习水县</string>
	<key>522201</key>
	<string>贵州铜仁地区铜仁市</string>
	<key>522222</key>
	<string>贵州铜仁地区江口县</string>
	<key>522223</key>
	<string>贵州铜仁地区玉屏侗族自治县</string>
	<key>522224</key>
	<string>贵州铜仁地区石阡县</string>
	<key>522225</key>
	<string>贵州铜仁地区思南县</string>
	<key>522226</key>
	<string>贵州铜仁地区印江土家族苗族自治县</string>
	<key>522227</key>
	<string>贵州铜仁地区德江县</string>
	<key>522228</key>
	<string>贵州铜仁地区沿河土家族自治县</string>
	<key>522229</key>
	<string>贵州铜仁地区松桃苗族自治县</string>
	<key>522230</key>
	<string>贵州铜仁地区万山特区</string>
	<key>522301</key>
	<string>贵州黔西南布依族苗族自治州兴义市</string>
	<key>522322</key>
	<string>贵州黔西南布依族苗族自治州兴仁县</string>
	<key>522323</key>
	<string>贵州黔西南布依族苗族自治州普安县</string>
	<key>522324</key>
	<string>贵州黔西南布依族苗族自治州晴隆县</string>
	<key>522325</key>
	<string>贵州黔西南布依族苗族自治州贞丰县</string>
	<key>522326</key>
	<string>贵州黔西南布依族苗族自治州望谟县</string>
	<key>522327</key>
	<string>贵州黔西南布依族苗族自治州册亨县</string>
	<key>522328</key>
	<string>贵州黔西南布依族苗族自治州安龙县</string>
	<key>522401</key>
	<string>贵州毕节地区毕节市</string>
	<key>522422</key>
	<string>贵州毕节地区大方县</string>
	<key>522423</key>
	<string>贵州毕节地区黔西县</string>
	<key>522424</key>
	<string>贵州毕节地区金沙县</string>
	<key>522425</key>
	<string>贵州毕节地区织金县</string>
	<key>522426</key>
	<string>贵州毕节地区纳雍县</string>
	<key>522427</key>
	<string>贵州毕节地区威宁彝族回族苗族自治县</string>
	<key>522428</key>
	<string>贵州毕节地区赫章县</string>
	<key>522501</key>
	<string>贵州安顺地区安顺市</string>
	<key>522502</key>
	<string>贵州清镇市</string>
	<key>522522</key>
	<string>贵州开阳县</string>
	<key>522523</key>
	<string>贵州息烽县</string>
	<key>522524</key>
	<string>贵州修文县</string>
	<key>522526</key>
	<string>贵州平坝县</string>
	<key>522527</key>
	<string>贵州安顺地区普定县</string>
	<key>522528</key>
	<string>贵州安顺地区关岭布依族苗族自治县</string>
	<key>522529</key>
	<string>贵州安顺地区镇宁布依族苗族自治县</string>
	<key>522530</key>
	<string>贵州安顺地区紫云苗族布依族自治县</string>
	<key>522601</key>
	<string>贵州黔东南苗族侗族自治州凯里市</string>
	<key>522622</key>
	<string>贵州黔东南苗族侗族自治州黄平县</string>
	<key>522623</key>
	<string>贵州黔东南苗族侗族自治州施秉县</string>
	<key>522624</key>
	<string>贵州黔东南苗族侗族自治州三穗县</string>
	<key>522625</key>
	<string>贵州黔东南苗族侗族自治州镇远县</string>
	<key>522626</key>
	<string>贵州黔东南苗族侗族自治州岑巩县</string>
	<key>522627</key>
	<string>贵州黔东南苗族侗族自治州天柱县</string>
	<key>522628</key>
	<string>贵州黔东南苗族侗族自治州锦屏县</string>
	<key>522629</key>
	<string>贵州黔东南苗族侗族自治州剑河县</string>
	<key>522630</key>
	<string>贵州黔东南苗族侗族自治州台江县</string>
	<key>522631</key>
	<string>贵州黔东南苗族侗族自治州黎平县</string>
	<key>522632</key>
	<string>贵州黔东南苗族侗族自治州榕江县</string>
	<key>522633</key>
	<string>贵州黔东南苗族侗族自治州从江县</string>
	<key>522634</key>
	<string>贵州黔东南苗族侗族自治州雷山县</string>
	<key>522635</key>
	<string>贵州黔东南苗族侗族自治州麻江县</string>
	<key>522636</key>
	<string>贵州黔东南苗族侗族自治州丹寨县</string>
	<key>522701</key>
	<string>贵州黔南布依族苗族自治州都匀市</string>
	<key>522702</key>
	<string>贵州黔南布依族苗族自治州福泉市</string>
	<key>522722</key>
	<string>贵州黔南布依族苗族自治州荔波县</string>
	<key>522723</key>
	<string>贵州黔南布依族苗族自治州贵定县</string>
	<key>522725</key>
	<string>贵州黔南布依族苗族自治州瓮安县</string>
	<key>522726</key>
	<string>贵州黔南布依族苗族自治州独山县</string>
	<key>522727</key>
	<string>贵州黔南布依族苗族自治州平塘县</string>
	<key>522728</key>
	<string>贵州黔南布依族苗族自治州罗甸县</string>
	<key>522729</key>
	<string>贵州黔南布依族苗族自治州长顺县</string>
	<key>522730</key>
	<string>贵州黔南布依族苗族自治州龙里县</string>
	<key>522731</key>
	<string>贵州黔南布依族苗族自治州惠水县</string>
	<key>522732</key>
	<string>贵州黔南布依族苗族自治州三都水族自治县</string>
</dict>
</plist>
