<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>210101</key>
	<string>辽宁沈阳市市辖区</string>
	<key>210102</key>
	<string>辽宁沈阳市和平区</string>
	<key>210103</key>
	<string>辽宁沈阳市沈河区</string>
	<key>210104</key>
	<string>辽宁沈阳市大东区</string>
	<key>210105</key>
	<string>辽宁沈阳市皇姑区</string>
	<key>210106</key>
	<string>辽宁沈阳市铁西区</string>
	<key>210111</key>
	<string>辽宁沈阳市苏家屯区</string>
	<key>210112</key>
	<string>辽宁沈阳市东陵区</string>
	<key>210113</key>
	<string>辽宁沈阳市新城子区</string>
	<key>210114</key>
	<string>辽宁沈阳市于洪区</string>
	<key>210122</key>
	<string>辽宁沈阳市辽中县</string>
	<key>210123</key>
	<string>辽宁沈阳市康平县</string>
	<key>210124</key>
	<string>辽宁沈阳市法库县</string>
	<key>210181</key>
	<string>辽宁沈阳市新民市</string>
	<key>210201</key>
	<string>辽宁大连市市辖区</string>
	<key>210202</key>
	<string>辽宁大连市中山区</string>
	<key>210203</key>
	<string>辽宁大连市西岗区</string>
	<key>210204</key>
	<string>辽宁大连市沙河口区</string>
	<key>210211</key>
	<string>辽宁大连市甘井子区</string>
	<key>210212</key>
	<string>辽宁大连市旅顺口区</string>
	<key>210213</key>
	<string>辽宁大连市金州区</string>
	<key>210224</key>
	<string>辽宁大连市长海县</string>
	<key>210281</key>
	<string>辽宁大连市瓦房店市</string>
	<key>210282</key>
	<string>辽宁大连市普兰店市</string>
	<key>210283</key>
	<string>辽宁大连市庄河市</string>
	<key>210301</key>
	<string>辽宁鞍山市市辖区</string>
	<key>210302</key>
	<string>辽宁鞍山市铁东区</string>
	<key>210303</key>
	<string>辽宁鞍山市铁西区</string>
	<key>210304</key>
	<string>辽宁鞍山市立山区</string>
	<key>210311</key>
	<string>辽宁鞍山市旧堡区</string>
	<key>210321</key>
	<string>辽宁鞍山市台安县</string>
	<key>210323</key>
	<string>辽宁鞍山市岫岩满族自治县</string>
	<key>210381</key>
	<string>辽宁鞍山市海城市</string>
	<key>210401</key>
	<string>辽宁抚顺市市辖区</string>
	<key>210402</key>
	<string>辽宁抚顺市新抚区</string>
	<key>210403</key>
	<string>辽宁抚顺市露天区</string>
	<key>210404</key>
	<string>辽宁抚顺市望花区</string>
	<key>210411</key>
	<string>辽宁抚顺市顺城区</string>
	<key>210421</key>
	<string>辽宁抚顺市抚顺县</string>
	<key>210422</key>
	<string>辽宁抚顺市新宾满族自治县</string>
	<key>210423</key>
	<string>辽宁抚顺市清原满族自治县</string>
	<key>210501</key>
	<string>辽宁本溪市市辖区</string>
	<key>210502</key>
	<string>辽宁本溪市平山区</string>
	<key>210503</key>
	<string>辽宁本溪市溪湖区</string>
	<key>210504</key>
	<string>辽宁本溪市明山区</string>
	<key>210505</key>
	<string>辽宁本溪市南芬区</string>
	<key>210521</key>
	<string>辽宁本溪市本溪满族自治县</string>
	<key>210522</key>
	<string>辽宁本溪市桓仁满族自治县</string>
	<key>210601</key>
	<string>辽宁丹东市市辖区</string>
	<key>210602</key>
	<string>辽宁丹东市元宝区</string>
	<key>210603</key>
	<string>辽宁丹东市振兴区</string>
	<key>210604</key>
	<string>辽宁丹东市振安区</string>
	<key>210621</key>
	<string>辽宁凤城满族自治县</string>
	<key>210624</key>
	<string>辽宁丹东市宽甸满族自治县</string>
	<key>210681</key>
	<string>辽宁丹东市东港市</string>
	<key>210682</key>
	<string>辽宁丹东市凤城市</string>
	<key>210701</key>
	<string>辽宁锦州市市辖区</string>
	<key>210702</key>
	<string>辽宁锦州市古塔区</string>
	<key>210703</key>
	<string>辽宁锦州市凌河区</string>
	<key>210711</key>
	<string>辽宁锦州市太和区</string>
	<key>210725</key>
	<string>辽宁北镇满族自治县</string>
	<key>210726</key>
	<string>辽宁锦州市黑山县</string>
	<key>210727</key>
	<string>辽宁锦州市义县</string>
	<key>210781</key>
	<string>辽宁锦州市凌海市</string>
	<key>210782</key>
	<string>辽宁锦州市北宁市</string>
	<key>210801</key>
	<string>辽宁营口市市辖区</string>
	<key>210802</key>
	<string>辽宁营口市站前区</string>
	<key>210803</key>
	<string>辽宁营口市西市区</string>
	<key>210804</key>
	<string>辽宁营口市鲅鱼圈区</string>
	<key>210811</key>
	<string>辽宁营口市老边区</string>
	<key>210881</key>
	<string>辽宁营口市盖州市</string>
	<key>210882</key>
	<string>辽宁营口市大石桥市</string>
	<key>210901</key>
	<string>辽宁阜新市市辖区</string>
	<key>210902</key>
	<string>辽宁阜新市海洲区</string>
	<key>210903</key>
	<string>辽宁阜新市新邱区</string>
	<key>210904</key>
	<string>辽宁阜新市太平区</string>
	<key>210905</key>
	<string>辽宁阜新市清河门区</string>
	<key>210911</key>
	<string>辽宁阜新市细河区</string>
	<key>210921</key>
	<string>辽宁阜新蒙古族自治县</string>
	<key>210922</key>
	<string>辽宁阜新市彰武县</string>
	<key>211001</key>
	<string>辽宁辽阳市市辖区</string>
	<key>211002</key>
	<string>辽宁辽阳市白塔区</string>
	<key>211003</key>
	<string>辽宁辽阳市文圣区</string>
	<key>211004</key>
	<string>辽宁辽阳市宏伟区</string>
	<key>211005</key>
	<string>辽宁辽阳市弓长岭区</string>
	<key>211011</key>
	<string>辽宁辽阳市太子河区</string>
	<key>211021</key>
	<string>辽宁辽阳市辽阳县</string>
	<key>211081</key>
	<string>辽宁辽阳市灯塔市</string>
	<key>211101</key>
	<string>辽宁盘锦市市辖区</string>
	<key>211102</key>
	<string>辽宁盘锦市双台子区</string>
	<key>211103</key>
	<string>辽宁盘锦市兴隆台区</string>
	<key>211121</key>
	<string>辽宁盘锦市大洼县</string>
	<key>211122</key>
	<string>辽宁盘锦市盘山县</string>
	<key>211201</key>
	<string>辽宁铁岭市市辖区</string>
	<key>211202</key>
	<string>辽宁铁岭市银州区</string>
	<key>211204</key>
	<string>辽宁铁岭市清河区</string>
	<key>211221</key>
	<string>辽宁铁岭市铁岭县</string>
	<key>211223</key>
	<string>辽宁铁岭市西丰县</string>
	<key>211224</key>
	<string>辽宁铁岭市昌图县</string>
	<key>211281</key>
	<string>辽宁铁岭市铁法市</string>
	<key>211282</key>
	<string>辽宁铁岭市开原市</string>
	<key>211301</key>
	<string>辽宁朝阳市市辖区</string>
	<key>211302</key>
	<string>辽宁朝阳市双塔区</string>
	<key>211303</key>
	<string>辽宁朝阳市龙城区</string>
	<key>211321</key>
	<string>辽宁朝阳市朝阳县</string>
	<key>211322</key>
	<string>辽宁朝阳市建平县</string>
	<key>211324</key>
	<string>辽宁朝阳市喀喇沁左翼蒙古族自治县</string>
	<key>211381</key>
	<string>辽宁朝阳市北票市</string>
	<key>211382</key>
	<string>辽宁朝阳市凌源市</string>
	<key>211401</key>
	<string>辽宁锦西市市辖区</string>
	<key>211402</key>
	<string>辽宁锦西市连山区</string>
	<key>211403</key>
	<string>辽宁锦西市葫芦岛区</string>
	<key>211404</key>
	<string>辽宁葫芦岛市南票区</string>
	<key>211421</key>
	<string>辽宁葫芦岛市绥中县</string>
	<key>211422</key>
	<string>辽宁葫芦岛市建昌县</string>
	<key>211481</key>
	<string>辽宁葫芦岛市兴城市</string>
</dict>
</plist>
