<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>510201</key>
	<string>重庆市市辖区</string>
	<key>510202</key>
	<string>重庆市市中区</string>
	<key>510203</key>
	<string>重庆市大渡口区</string>
	<key>510211</key>
	<string>重庆市江北区</string>
	<key>510212</key>
	<string>重庆市沙坪坝区</string>
	<key>510213</key>
	<string>重庆市九龙坡区</string>
	<key>510214</key>
	<string>重庆市南岸区</string>
	<key>510215</key>
	<string>重庆市北碚区</string>
	<key>510216</key>
	<string>重庆市万盛区</string>
	<key>510217</key>
	<string>重庆市双桥区</string>
</dict>
</plist>
