<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>610101</key>
	<string>陕西西安市市辖区</string>
	<key>610102</key>
	<string>陕西西安市新城区</string>
	<key>610103</key>
	<string>陕西西安市碑林区</string>
	<key>610104</key>
	<string>陕西西安市莲湖区</string>
	<key>610111</key>
	<string>陕西西安市灞桥区</string>
	<key>610112</key>
	<string>陕西西安市未央区</string>
	<key>610113</key>
	<string>陕西西安市雁塔区</string>
	<key>610114</key>
	<string>陕西西安市阎良区</string>
	<key>610115</key>
	<string>陕西西安市临潼区</string>
	<key>610121</key>
	<string>陕西西安市长安县</string>
	<key>610122</key>
	<string>陕西西安市蓝田县</string>
	<key>610124</key>
	<string>陕西西安市周至县</string>
	<key>610125</key>
	<string>陕西西安市户县</string>
	<key>610126</key>
	<string>陕西西安市高陵县</string>
	<key>610201</key>
	<string>陕西铜川市市辖区</string>
	<key>610202</key>
	<string>陕西铜川市城区</string>
	<key>610203</key>
	<string>陕西铜川市郊区</string>
	<key>610221</key>
	<string>陕西耀县</string>
	<key>610222</key>
	<string>陕西宜君县</string>
	<key>610301</key>
	<string>陕西宝鸡市市辖区</string>
	<key>610302</key>
	<string>陕西宝鸡市渭滨区</string>
	<key>610303</key>
	<string>陕西宝鸡市金台区</string>
	<key>610321</key>
	<string>陕西宝鸡市宝鸡县</string>
	<key>610322</key>
	<string>陕西宝鸡市凤翔县</string>
	<key>610323</key>
	<string>陕西宝鸡市岐山县</string>
	<key>610324</key>
	<string>陕西宝鸡市扶风县</string>
	<key>610326</key>
	<string>陕西宝鸡市眉县</string>
	<key>610327</key>
	<string>陕西宝鸡市陇县</string>
	<key>610328</key>
	<string>陕西宝鸡市千阳县</string>
	<key>610329</key>
	<string>陕西宝鸡市麟游县</string>
	<key>610330</key>
	<string>陕西宝鸡市凤县</string>
	<key>610331</key>
	<string>陕西宝鸡市太白县</string>
	<key>610401</key>
	<string>陕西咸阳市市辖区</string>
	<key>610402</key>
	<string>陕西咸阳市秦都区</string>
	<key>610403</key>
	<string>陕西咸阳市杨陵区</string>
	<key>610404</key>
	<string>陕西咸阳市渭城区</string>
	<key>610422</key>
	<string>陕西咸阳市三原县</string>
	<key>610423</key>
	<string>陕西咸阳市泾阳县</string>
	<key>610424</key>
	<string>陕西咸阳市乾县</string>
	<key>610425</key>
	<string>陕西咸阳市礼泉县</string>
	<key>610426</key>
	<string>陕西咸阳市永寿县</string>
	<key>610427</key>
	<string>陕西咸阳市彬县</string>
	<key>610428</key>
	<string>陕西咸阳市长武县</string>
	<key>610429</key>
	<string>陕西咸阳市旬邑县</string>
	<key>610430</key>
	<string>陕西咸阳市淳化县</string>
	<key>610431</key>
	<string>陕西咸阳市武功县</string>
	<key>610481</key>
	<string>陕西咸阳市兴平市</string>
	<key>610501</key>
	<string>陕西渭南市市辖区</string>
	<key>610502</key>
	<string>陕西渭南市临渭区</string>
	<key>610521</key>
	<string>陕西渭南市华县</string>
	<key>610522</key>
	<string>陕西渭南市潼关县</string>
	<key>610523</key>
	<string>陕西渭南市大荔县</string>
	<key>610524</key>
	<string>陕西渭南市合阳县</string>
	<key>610525</key>
	<string>陕西渭南市澄城县</string>
	<key>610526</key>
	<string>陕西渭南市蒲城县</string>
	<key>610527</key>
	<string>陕西渭南市白水县</string>
	<key>610528</key>
	<string>陕西渭南市富平县</string>
	<key>610581</key>
	<string>陕西渭南市韩城市</string>
	<key>610582</key>
	<string>陕西渭南市华阴市</string>
	<key>610601</key>
	<string>陕西延安市市辖区</string>
	<key>610602</key>
	<string>陕西延安市宝塔区</string>
	<key>610621</key>
	<string>陕西延安市延长县</string>
	<key>610622</key>
	<string>陕西延安市延川县</string>
	<key>610623</key>
	<string>陕西延安市子长县</string>
	<key>610624</key>
	<string>陕西延安市安塞县</string>
	<key>610625</key>
	<string>陕西延安市志丹县</string>
	<key>610626</key>
	<string>陕西延安市吴旗县</string>
	<key>610627</key>
	<string>陕西延安市甘泉县</string>
	<key>610628</key>
	<string>陕西延安市富县</string>
	<key>610629</key>
	<string>陕西延安市洛川县</string>
	<key>610630</key>
	<string>陕西延安市宜川县</string>
	<key>610631</key>
	<string>陕西延安市黄龙县</string>
	<key>610632</key>
	<string>陕西延安市黄陵县</string>
	<key>610701</key>
	<string>陕西汉中市市辖区</string>
	<key>610702</key>
	<string>陕西汉中市汉台区</string>
	<key>610721</key>
	<string>陕西汉中市南郑县</string>
	<key>610722</key>
	<string>陕西汉中市城固县</string>
	<key>610723</key>
	<string>陕西汉中市洋县</string>
	<key>610724</key>
	<string>陕西汉中市西乡县</string>
	<key>610725</key>
	<string>陕西汉中市勉县</string>
	<key>610726</key>
	<string>陕西汉中市宁强县</string>
	<key>610727</key>
	<string>陕西汉中市略阳县</string>
	<key>610728</key>
	<string>陕西汉中市镇巴县</string>
	<key>610729</key>
	<string>陕西汉中市留坝县</string>
	<key>610730</key>
	<string>陕西汉中市佛坪县</string>
	<key>612101</key>
	<string>陕西渭南市</string>
	<key>612102</key>
	<string>陕西韩城市</string>
	<key>612103</key>
	<string>陕西华阴市</string>
	<key>612124</key>
	<string>陕西华县</string>
	<key>612126</key>
	<string>陕西潼关县</string>
	<key>612127</key>
	<string>陕西大荔县</string>
	<key>612128</key>
	<string>陕西蒲城县</string>
	<key>612129</key>
	<string>陕西澄城县</string>
	<key>612130</key>
	<string>陕西白水县</string>
	<key>612132</key>
	<string>陕西合阳县</string>
	<key>612133</key>
	<string>陕西富平县</string>
	<key>612301</key>
	<string>陕西汉中市</string>
	<key>612321</key>
	<string>陕西南郑县</string>
	<key>612322</key>
	<string>陕西城固县</string>
	<key>612323</key>
	<string>陕西洋县</string>
	<key>612324</key>
	<string>陕西西乡县</string>
	<key>612325</key>
	<string>陕西勉县</string>
	<key>612326</key>
	<string>陕西宁强县</string>
	<key>612327</key>
	<string>陕西略阳县</string>
	<key>612328</key>
	<string>陕西镇巴县</string>
	<key>612329</key>
	<string>陕西留坝县</string>
	<key>612330</key>
	<string>陕西佛坪县</string>
	<key>612401</key>
	<string>陕西安康地区安康市</string>
	<key>612422</key>
	<string>陕西安康地区汉阴县</string>
	<key>612423</key>
	<string>陕西安康地区石泉县</string>
	<key>612424</key>
	<string>陕西安康地区宁陕县</string>
	<key>612425</key>
	<string>陕西安康地区紫阳县</string>
	<key>612426</key>
	<string>陕西安康地区岚皋县</string>
	<key>612427</key>
	<string>陕西安康地区平利县</string>
	<key>612428</key>
	<string>陕西安康地区镇坪县</string>
	<key>612429</key>
	<string>陕西安康地区旬阳县</string>
	<key>612430</key>
	<string>陕西安康地区白河县</string>
	<key>612501</key>
	<string>陕西商洛地区商州市</string>
	<key>612522</key>
	<string>陕西商洛地区洛南县</string>
	<key>612523</key>
	<string>陕西商洛地区丹凤县</string>
	<key>612524</key>
	<string>陕西商洛地区商南县</string>
	<key>612525</key>
	<string>陕西商洛地区山阳县</string>
	<key>612526</key>
	<string>陕西商洛地区镇安县</string>
	<key>612527</key>
	<string>陕西商洛地区柞水县</string>
	<key>612601</key>
	<string>陕西延安市</string>
	<key>612621</key>
	<string>陕西延长县</string>
	<key>612622</key>
	<string>陕西延川县</string>
	<key>612623</key>
	<string>陕西子长县</string>
	<key>612624</key>
	<string>陕西安塞县</string>
	<key>612625</key>
	<string>陕西志丹县</string>
	<key>612626</key>
	<string>陕西吴旗县</string>
	<key>612627</key>
	<string>陕西甘泉县</string>
	<key>612628</key>
	<string>陕西富县</string>
	<key>612629</key>
	<string>陕西洛川县</string>
	<key>612630</key>
	<string>陕西宜川县</string>
	<key>612631</key>
	<string>陕西黄龙县</string>
	<key>612632</key>
	<string>陕西黄陵县</string>
	<key>612701</key>
	<string>陕西榆林地区榆林市</string>
	<key>612722</key>
	<string>陕西榆林地区神木县</string>
	<key>612723</key>
	<string>陕西榆林地区府谷县</string>
	<key>612724</key>
	<string>陕西榆林地区横山县</string>
	<key>612725</key>
	<string>陕西榆林地区靖边县</string>
	<key>612726</key>
	<string>陕西榆林地区定边县</string>
	<key>612727</key>
	<string>陕西榆林地区绥德县</string>
	<key>612728</key>
	<string>陕西榆林地区米脂县</string>
	<key>612729</key>
	<string>陕西榆林地区佳县</string>
	<key>612730</key>
	<string>陕西榆林地区吴堡县</string>
	<key>612731</key>
	<string>陕西榆林地区清涧县</string>
	<key>612732</key>
	<string>陕西榆林地区子洲县</string>
</dict>
</plist>
