<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>630101</key>
	<string>青海西宁市市辖区</string>
	<key>630102</key>
	<string>青海西宁市城东区</string>
	<key>630103</key>
	<string>青海西宁市城中区</string>
	<key>630104</key>
	<string>青海西宁市城西区</string>
	<key>630105</key>
	<string>青海西宁市城北区</string>
	<key>630121</key>
	<string>青海大通回族土族自治县</string>
	<key>632121</key>
	<string>青海海东地区平安县</string>
	<key>632122</key>
	<string>青海海东地区民和回族土族自治县</string>
	<key>632123</key>
	<string>青海海东地区乐都县</string>
	<key>632124</key>
	<string>青海海东地区湟中县</string>
	<key>632125</key>
	<string>青海海东地区湟源县</string>
	<key>632126</key>
	<string>青海海东地区互助土族自治县</string>
	<key>632127</key>
	<string>青海海东地区化隆回族自治县</string>
	<key>632128</key>
	<string>青海海东地区循化撒拉族自治县</string>
	<key>632321</key>
	<string>青海黄南藏族自治州同仁县</string>
	<key>632322</key>
	<string>青海黄南藏族自治州尖扎县</string>
	<key>632323</key>
	<string>青海黄南藏族自治州泽库县</string>
	<key>632324</key>
	<string>青海黄南藏族自治州河南蒙古族自治县</string>
	<key>632521</key>
	<string>青海海南藏族自治州共和县</string>
	<key>632522</key>
	<string>青海海南藏族自治州同德县</string>
	<key>632523</key>
	<string>青海海南藏族自治州贵德县</string>
	<key>632524</key>
	<string>青海海南藏族自治州兴海县</string>
	<key>632525</key>
	<string>青海海南藏族自治州贵南县</string>
	<key>632621</key>
	<string>青海果洛藏族自治州玛沁县</string>
	<key>632622</key>
	<string>青海果洛藏族自治州班玛县</string>
	<key>632623</key>
	<string>青海果洛藏族自治州甘德县</string>
	<key>632624</key>
	<string>青海果洛藏族自治州达日县</string>
	<key>632625</key>
	<string>青海果洛藏族自治州久治县</string>
	<key>632626</key>
	<string>青海果洛藏族自治州玛多县</string>
	<key>632721</key>
	<string>青海玉树藏族自治州玉树县</string>
	<key>632722</key>
	<string>青海玉树藏族自治州杂多县</string>
	<key>632723</key>
	<string>青海玉树藏族自治州称多县</string>
	<key>632724</key>
	<string>青海玉树藏族自治州治多县</string>
	<key>632725</key>
	<string>青海玉树藏族自治州囊谦县</string>
	<key>632726</key>
	<string>青海玉树藏族自治州曲麻莱县</string>
	<key>632801</key>
	<string>青海海西蒙古族藏族自治州格尔木市</string>
	<key>632802</key>
	<string>青海海西蒙古族藏族自治州德令哈市</string>
	<key>632821</key>
	<string>青海海西蒙古族藏族自治州乌兰县</string>
	<key>632822</key>
	<string>青海海西蒙古族藏族自治州都兰县</string>
	<key>632823</key>
	<string>青海海西蒙古族藏族自治州天峻县</string>
</dict>
</plist>
