<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>230101</key>
	<string>黑龙江哈尔滨市市辖区</string>
	<key>230102</key>
	<string>黑龙江哈尔滨市道里区</string>
	<key>230103</key>
	<string>黑龙江哈尔滨市南岗区</string>
	<key>230104</key>
	<string>黑龙江哈尔滨市道外区</string>
	<key>230105</key>
	<string>黑龙江哈尔滨市太平区</string>
	<key>230106</key>
	<string>黑龙江哈尔滨市香坊区</string>
	<key>230107</key>
	<string>黑龙江哈尔滨市动力区</string>
	<key>230108</key>
	<string>黑龙江哈尔滨市平房区</string>
	<key>230121</key>
	<string>黑龙江哈尔滨市呼兰县</string>
	<key>230123</key>
	<string>黑龙江哈尔滨市依兰县</string>
	<key>230124</key>
	<string>黑龙江哈尔滨市方正县</string>
	<key>230125</key>
	<string>黑龙江哈尔滨市宾县</string>
	<key>230126</key>
	<string>黑龙江哈尔滨市巴彦县</string>
	<key>230127</key>
	<string>黑龙江哈尔滨市木兰县</string>
	<key>230128</key>
	<string>黑龙江哈尔滨市通河县</string>
	<key>230129</key>
	<string>黑龙江哈尔滨市延寿县</string>
	<key>230181</key>
	<string>黑龙江哈尔滨市阿城市</string>
	<key>230182</key>
	<string>黑龙江哈尔滨市双城市</string>
	<key>230183</key>
	<string>黑龙江哈尔滨市尚志市</string>
	<key>230184</key>
	<string>黑龙江哈尔滨市五常市</string>
	<key>230201</key>
	<string>黑龙江齐齐哈尔市市辖区</string>
	<key>230202</key>
	<string>黑龙江齐齐哈尔市龙沙区</string>
	<key>230203</key>
	<string>黑龙江齐齐哈尔市建华区</string>
	<key>230204</key>
	<string>黑龙江齐齐哈尔市铁锋区</string>
	<key>230205</key>
	<string>黑龙江齐齐哈尔市昂昂溪区</string>
	<key>230206</key>
	<string>黑龙江齐齐哈尔市富拉尔基区</string>
	<key>230207</key>
	<string>黑龙江齐齐哈尔市碾子山区</string>
	<key>230208</key>
	<string>黑龙江齐齐哈尔市梅里斯达斡尔族</string>
	<key>230221</key>
	<string>黑龙江齐齐哈尔市龙江县</string>
	<key>230223</key>
	<string>黑龙江齐齐哈尔市依安县</string>
	<key>230224</key>
	<string>黑龙江齐齐哈尔市泰来县</string>
	<key>230225</key>
	<string>黑龙江齐齐哈尔市甘南县</string>
	<key>230227</key>
	<string>黑龙江齐齐哈尔市富裕县</string>
	<key>230229</key>
	<string>黑龙江齐齐哈尔市克山县</string>
	<key>230230</key>
	<string>黑龙江齐齐哈尔市克东县</string>
	<key>230231</key>
	<string>黑龙江齐齐哈尔市拜泉县</string>
	<key>230281</key>
	<string>黑龙江齐齐哈尔市讷河市</string>
	<key>230301</key>
	<string>黑龙江鸡西市市辖区</string>
	<key>230302</key>
	<string>黑龙江鸡西市鸡冠区</string>
	<key>230303</key>
	<string>黑龙江鸡西市恒山区</string>
	<key>230304</key>
	<string>黑龙江鸡西市滴道区</string>
	<key>230305</key>
	<string>黑龙江鸡西市梨树区</string>
	<key>230306</key>
	<string>黑龙江鸡西市城子河区</string>
	<key>230307</key>
	<string>黑龙江鸡西市麻山区</string>
	<key>230321</key>
	<string>黑龙江鸡西市鸡东县</string>
	<key>230381</key>
	<string>黑龙江鸡西市虎林市</string>
	<key>230382</key>
	<string>黑龙江鸡西市密山市</string>
	<key>230401</key>
	<string>黑龙江鹤岗市市辖区</string>
	<key>230402</key>
	<string>黑龙江鹤岗市向阳区</string>
	<key>230403</key>
	<string>黑龙江鹤岗市工农区</string>
	<key>230404</key>
	<string>黑龙江鹤岗市南山区</string>
	<key>230405</key>
	<string>黑龙江鹤岗市兴安区</string>
	<key>230406</key>
	<string>黑龙江鹤岗市东山区</string>
	<key>230407</key>
	<string>黑龙江鹤岗市兴山区</string>
	<key>230421</key>
	<string>黑龙江鹤岗市萝北县</string>
	<key>230422</key>
	<string>黑龙江鹤岗市绥滨县</string>
	<key>230501</key>
	<string>黑龙江双鸭山市市辖区</string>
	<key>230502</key>
	<string>黑龙江双鸭山市尖山区</string>
	<key>230503</key>
	<string>黑龙江双鸭山市岭东区</string>
	<key>230505</key>
	<string>黑龙江双鸭山市四方台区</string>
	<key>230506</key>
	<string>黑龙江双鸭山市宝山区</string>
	<key>230521</key>
	<string>黑龙江双鸭山市集贤县</string>
	<key>230522</key>
	<string>黑龙江双鸭山市友谊县</string>
	<key>230523</key>
	<string>黑龙江双鸭山市宝清县</string>
	<key>230524</key>
	<string>黑龙江双鸭山市饶河县</string>
	<key>230601</key>
	<string>黑龙江大庆市市辖区</string>
	<key>230602</key>
	<string>黑龙江大庆市萨尔图区</string>
	<key>230603</key>
	<string>黑龙江大庆市龙凤区</string>
	<key>230604</key>
	<string>黑龙江大庆市让胡路区</string>
	<key>230605</key>
	<string>黑龙江大庆市红岗区</string>
	<key>230606</key>
	<string>黑龙江大庆市大同区</string>
	<key>230621</key>
	<string>黑龙江大庆市肇州县</string>
	<key>230622</key>
	<string>黑龙江大庆市肇源县</string>
	<key>230623</key>
	<string>黑龙江大庆市林甸县</string>
	<key>230624</key>
	<string>黑龙江大庆市杜尔伯特蒙古族自治县</string>
	<key>230701</key>
	<string>黑龙江伊春市市辖区</string>
	<key>230702</key>
	<string>黑龙江伊春市伊春区</string>
	<key>230703</key>
	<string>黑龙江伊春市南岔区</string>
	<key>230704</key>
	<string>黑龙江伊春市友好区</string>
	<key>230705</key>
	<string>黑龙江伊春市西林区</string>
	<key>230706</key>
	<string>黑龙江伊春市翠峦区</string>
	<key>230707</key>
	<string>黑龙江伊春市新青区</string>
	<key>230708</key>
	<string>黑龙江伊春市美溪区</string>
	<key>230709</key>
	<string>黑龙江伊春市金山屯区</string>
	<key>230710</key>
	<string>黑龙江伊春市五营区</string>
	<key>230711</key>
	<string>黑龙江伊春市乌马河区</string>
	<key>230712</key>
	<string>黑龙江伊春市汤旺河区</string>
	<key>230713</key>
	<string>黑龙江伊春市带岭区</string>
	<key>230714</key>
	<string>黑龙江伊春市乌伊岭区</string>
	<key>230715</key>
	<string>黑龙江伊春市红星区</string>
	<key>230716</key>
	<string>黑龙江伊春市上甘岭区</string>
	<key>230722</key>
	<string>黑龙江伊春市嘉荫县</string>
	<key>230781</key>
	<string>黑龙江伊春市铁力市</string>
	<key>230801</key>
	<string>黑龙江佳木斯市市辖区</string>
	<key>230802</key>
	<string>黑龙江佳木斯市永红区</string>
	<key>230803</key>
	<string>黑龙江佳木斯市向阳区</string>
	<key>230804</key>
	<string>黑龙江佳木斯市前进区</string>
	<key>230805</key>
	<string>黑龙江佳木斯市东风区</string>
	<key>230811</key>
	<string>黑龙江佳木斯市郊区</string>
	<key>230822</key>
	<string>黑龙江佳木斯市桦南县</string>
	<key>230826</key>
	<string>黑龙江佳木斯市桦川县</string>
	<key>230828</key>
	<string>黑龙江佳木斯市汤原县</string>
	<key>230833</key>
	<string>黑龙江佳木斯市抚远县</string>
	<key>230881</key>
	<string>黑龙江佳木斯市同江市</string>
	<key>230882</key>
	<string>黑龙江佳木斯市富锦市</string>
	<key>230901</key>
	<string>黑龙江七台河市市辖区</string>
	<key>230902</key>
	<string>黑龙江七台河市新兴区</string>
	<key>230903</key>
	<string>黑龙江七台河市桃山区</string>
	<key>230904</key>
	<string>黑龙江七台河市茄子河区</string>
	<key>230921</key>
	<string>黑龙江七台河市勃利县</string>
	<key>231001</key>
	<string>黑龙江牡丹江市市辖区</string>
	<key>231002</key>
	<string>黑龙江牡丹江市东安区</string>
	<key>231003</key>
	<string>黑龙江牡丹江市阳明区</string>
	<key>231004</key>
	<string>黑龙江牡丹江市爱民区</string>
	<key>231005</key>
	<string>黑龙江牡丹江市西安区</string>
	<key>231011</key>
	<string>黑龙江牡丹江市郊区</string>
	<key>231024</key>
	<string>黑龙江牡丹江市东宁县</string>
	<key>231025</key>
	<string>黑龙江牡丹江市林口县</string>
	<key>231081</key>
	<string>黑龙江牡丹江市绥芬河市</string>
	<key>231083</key>
	<string>黑龙江牡丹江市海林市</string>
	<key>231084</key>
	<string>黑龙江牡丹江市宁安市</string>
	<key>231085</key>
	<string>黑龙江牡丹江市穆棱市</string>
	<key>231101</key>
	<string>黑龙江黑河市市辖区</string>
	<key>231102</key>
	<string>黑龙江黑河市爱辉区</string>
	<key>231121</key>
	<string>黑龙江黑河市嫩江县</string>
	<key>231123</key>
	<string>黑龙江黑河市逊克县</string>
	<key>231124</key>
	<string>黑龙江黑河市孙吴县</string>
	<key>231181</key>
	<string>黑龙江黑河市北安市</string>
	<key>231182</key>
	<string>黑龙江黑河市五大连池市</string>
	<key>232101</key>
	<string>黑龙江双城市</string>
	<key>232102</key>
	<string>黑龙江尚志市</string>
	<key>232103</key>
	<string>黑龙江五常市</string>
	<key>232126</key>
	<string>黑龙江巴彦县</string>
	<key>232127</key>
	<string>黑龙江木兰县</string>
	<key>232128</key>
	<string>黑龙江通河县</string>
	<key>232131</key>
	<string>黑龙江延寿县</string>
	<key>232301</key>
	<string>黑龙江绥化地区绥化市</string>
	<key>232302</key>
	<string>黑龙江绥化地区安达市</string>
	<key>232303</key>
	<string>黑龙江绥化地区肇东市</string>
	<key>232304</key>
	<string>黑龙江绥化地区海伦市</string>
	<key>232324</key>
	<string>黑龙江绥化地区望奎县</string>
	<key>232325</key>
	<string>黑龙江绥化地区兰西县</string>
	<key>232326</key>
	<string>黑龙江绥化地区青冈县</string>
	<key>232330</key>
	<string>黑龙江绥化地区庆安县</string>
	<key>232331</key>
	<string>黑龙江绥化地区明水县</string>
	<key>232332</key>
	<string>黑龙江绥化地区绥棱县</string>
	<key>232721</key>
	<string>黑龙江大兴安岭地区呼玛县</string>
	<key>232722</key>
	<string>黑龙江大兴安岭地区塔河县</string>
	<key>232723</key>
	<string>黑龙江大兴安岭地区漠河县</string>
</dict>
</plist>
